{% extends 'layouts/member-base-full.html' %}

{% block tpl_ps_rely %}datatables ral jquery.tools{% endblock %}

{% block tpl_si_section %}Timesheet{% endblock %}

{% block tpl_bl_body_functions_page %}
{% include 'pages/timesheet/menu_top.html' %}
{% endblock  %}


{% block tpl_bl_head_onready %}

	$('#entry_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	ral.html.custom.attach_fetch( '#id_ral_new_timer', 'timesheet.new.timer' );

{% endblock %}


{% block tpl_bl_body_content_right %}

<div class="widget">
<h3>Timesheets</h3>
<ul>
	<li><a id="id_ral_new_timer">New Timer</a></li>
</ul>
</div>

{% endblock %}




{% block tpl_bl_body_content_center %}

<style type="text/css">
.dataTables_wrapper table#entry_list_table tbody td
{
	color: black;
}
</style>

<table
	id="entry_list_table"
	style='
		text-align: left;
		font-size: 0.8em;
	'
	>
<thead>
	<tr>
		<th>Start Time</th>
		<th>Client</th>
		<th>Comment</th>
		<th>Duration</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>

{% for obj in object_list %}
	<tr>
		<td>{{ obj.start_time|time:"H:i" }}</td>
		<td>
{{ obj.get_org.trading_name }}<br/>
{{ obj.get_client.trading_name }}<br/>
{{ obj.get_project.name }}<br/>
{{ obj.get_activity.name }}<br/>
{{ obj.task.name }}
		</td>
		<td>{{ obj.comment }}</td>
		<td>{{ obj.seconds }}</td>
		<td>
		{% if obj.timesheettimer %}
			<button>STOP</button>
		{% else %}
			<button>START</button>
		{% endif %}
		<button>DELETE</button>
		<button>EDIT</button>
		</td>
	</tr>
{% endfor %}

</tbody>
</table>

{% endblock %}






