{% load active %}
<div>
<ul>
	<li class="label-item {% active request '\/account\/transactions$' %}"><a href="{% url org-client-account-transaction-list instance.get_org.refnum instance.get_client.refnum %}">All</a></li>
	<li class="{% active request '\/account\/transactions\/invoice[s\/]' %}"><a href="{% url org-client-account-transaction-invoice-list instance.get_org.refnum instance.get_client.refnum %}">Invoices</a></li>
	<li class="{% active request '\/account\/transactions\/payment[s\/]' %}"><a href="{% url org-client-account-transaction-payment-list instance.get_org.refnum instance.get_client.refnum %}">Payments</a></li>
	<li class="{% active request '\/account\/transactions\/credit-note[s\/]' %}"><a href="{% url org-client-account-transaction-credit-note-list instance.get_org.refnum instance.get_client.refnum %}">Credit Notes</a></li>
	<li class="{% active request '\/account\/transactions\/refund[s\/]' %}"><a href="{% url org-client-account-transaction-refund-list instance.get_org.refnum instance.get_client.refnum %}">Refunds</a></li>
</ul>
</div>

