{% extends 'layouts/member-base-full.html' %}

{% block tpl_ps_rely %}datatables ral sitekit jquery.tools{% endblock %}

{% block tpl_si_section %}Choose an Organization{% endblock %}

{% block tpl_bl_head_onready %}
	$('#company_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});
{% endblock %}


{% block tpl_bl_body_content_right %}

<div class="widget">
<h3>Organizations</h3>
<ul>
	<li><a href="#" class="raltag_modal_org_new_organization">Add a new Organization</a></li>
</ul>
</div>


{% endblock %}


{% block tpl_bl_body_content_center %}

<!-- <h1>Choose an Organization ... </h1> -->

<table
	id="company_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Name</th>
		<th width="100px">Membership</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	{% if obj.membership.is_enabled %}
	<tr class="tablerow_enabled">
		<td><a href='{{ obj.get_single_url }}'>{{ obj.trading_name }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.membership.get_category_display }}</a></td>
	</tr>
	{% else %}
	<tr class="tablerow_disabled">
		<td>{{ obj.trading_name }}</td>
		<td>{{ obj.membership.get_category_display }}</td>
	</tr>
	{% endif %}

{% endfor %}
</tbody>
</table>

{% endblock %}


