<html>
<head>
	<title>Test me Out!</title>

{% load rely %}
{% rely sapi %}

</head>
<body>
<h1>Leroy Jeeeennnnkkins!!</h1>

<p>
<script type="text/javascript">
	var api = new sapi.api.restful();
	document.write( sapi.version );

	api.getOrganizationList( function( orgs ) {
		for ( var i = 0; i < orgs.length; i++ )
		{
			var obj = orgs[i];
			document.write( '<h1>' + obj.trading_name + '</h1>' );

			api.updateOrganization(
				{ oid : obj.pk },
				{
					telephone_number : '011-555-2000',
					fax_number : '011-200-2000',
					refnum : 'douglas',
					pk : 'cheese'
				}
			);
		}
	} );

</script>

</body>
</html>

