{% extends 'pages/org/client/account/transaction/credit_note/single-base.html' %}

{% load decshift %}
{% load sourcedoc %}


{% block local_headings %}
#id_table thead .head-description { width: 235px; }
#id_table thead .head-qty { width: 103px; }
#id_table thead .head-unit-price { width: 147px; }
#id_table thead .head-tax-rate { width: 165px; }
#id_table thead .head-tax-amount { width: 90px; }
#id_table thead .head-amount { width: 138px; }
{% endblock %}


{% block local_javascript %}

	afes.ex.table.init(
		$( "#id_table" ),
		{
			initial_rows : 0,
			columns : [
				{ editable : false, class: "description" },
				{ editable : false, class: "qty" },
				{ editable : false, class: "unit-price" },
				{ editable : false, class: "tax-rate" },
				{ editable : false, class: "tax-amount" },
				{ editable : false, class: "amount" }
			]
		}
	);

	$( "#id_button_save" ).click( function() {
		$( "#id_sd_form" ).submit();
	});


	$( "#id_button_void" ).click( function() {
		$( "#id_sd_state" ).val( 20 );
		$( "#id_sd_form" ).submit();
	});

{% endblock %}


{% block local_table %}
<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-qty">Qty</th>
	<th class="head-unit-price">Unit Price</th>
	<th class="head-tax-rate">Tax Rate</th>
	<th class="head-tax-amount">Tax Amount</th>
	<th class="head-amount">Amount</th>
</thead>
<tbody>

{% get_document_obj instance as sdoc %}

{% for li in sdoc.getLines.all %}
<tr>
	<td>{{ li.description|escapejs }}</td>
	<td>{{ li.units|decsplay }}</td>
	<td>{{ li.perunit|decsplay }}</td>
	<td>{{ li.get_tax_rate_display|escapejs }}</td>
	<td>{{ li.tax_amount|decsplay }}</td>
	<td>{{ li.amount|decsplay }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}


{% block document_button_row_left %}
	<button id="id_button_void" type="button">Void</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_save" type="button">Save</button>
{% endblock %}



