<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

{% load captureas %}
{% captureas thetitle %}{% block title %}{% endblock %}{% endcaptureas %}

	<title>Billing | {{ thetitle }}</title>

	<!-- No caching ever -->
	<meta http-equiv="expires" CONTENT="Fri, 1 Jan 1990 00:00:00 GMT">
	<meta http-equiv="pragma" CONTENT="no-cache">
	<meta http-equiv="cache-control" value="no-cache, no store, must-revalidate">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Include custom stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/member-layout.css" media="screen" />

	<!-- Include jquery -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.js"></script>

	<!-- include jquery ui -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery-ui.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/ui/jquery-ui.custom.css" media="screen" />

	<!-- include jquery datatables -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/datatable/datatable.css" media="screen" />


	<!-- Include superfish -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-vertical.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-navbar.css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/supersubs.js"></script>

	<!-- Include jquery tools -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>

	<!-- include forms -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/forms.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/forms/forms.css" media="screen" />

	<!-- include some basic support -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/smk.js"></script>

	{% block head_includes %}
	{% endblock %}

	<!-- Document OnReady -->
	<script type="text/javascript">

$(document).ready(function(){
	{% block onready %}
	{% endblock onready %}
})

	</script>


</head>
<body>

<div id="wrap">

<div id="header">

	<div id="header-orgname-title">SMK Software CC</div>
	<div id="header-options">durand.miller@smksoftware.com | account | logout</div>

</div> <!-- #header -->


<div id="content">

<div id="title">{{ thetitle }}</div>

<div id="orgname">{% block orgname %}{% endblock %}</div>



<div id="linkdiv">
Links: 
{% block links %}
{% endblock %}
</div>


{% block list %}
{% endblock %}

</div> <!-- #content -->

</div> <!-- #wrap -->

</body>
</html>
