{% extends 'layouts/org/member.html' %}

{% block the_section %}Organizations{% endblock %}
{% block the_title %}Choose an Organization{% endblock %}


{% block content_menu_right %}
<ul>
	<li>Add a new Organization</li>
</ul>
{% endblock %}


{% block content %}

{% if object_list.count == 0 %}
<p>No organizations found</p>
{% else %}

<ul>
{% for obj in object_list %}
	<li><a href='{% url org-single obj.refnum %}'>{{ obj.trading_name }}</a></li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}



