{% extends 'layouts/member-base-full.html' %}

{% block tpl_si_section %}Choose an Organization{% endblock %}


{% block tpl_bl_head_inner %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>

{% endblock %}

{% block tpl_bl_onready %}

	$(function() {
		
		var trading_name = $( "#id_trading_name" ),
			allFields = $( [] ).add( trading_name ),
			tips = $( ".validateTips" );


		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 550,
			modal: true,
			buttons: {
				"Create new Organization": function() {
					var bValid = true;
					allFields.removeClass( "ui-state-error" );

					bValid = bValid && validation.length( tips, trading_name, "Trading Name", 3, 192 );

					if ( bValid ) {
						$( "#create-new-form" ).submit();
					}
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		$( "#org-create-new-org" )
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
	});


	$('#company_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});


{% endblock %}


{% block content_menu_right %}
<ul>
	<li><a href="#" id="org-create-new-org">Add a new Organization</a></li>
</ul>

<div id="dialog-form" title="Create new organization">
	<p class="validateTips">All form fields are required</p>
	<form id="create-new-form" method="POST" action="">
		{% csrf_token %}
		<fieldset>
			<label for="trading_name">Trading Name</label>
			<input type="text" name="trading_name" id="id_trading_name" class="text ui-widget-content ui-corner-all" />
		</fieldset>
	</form>
</div>
{% endblock %}


{% block content %}


<table
	id="company_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Name</th>
		<th width="100px">Membership</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	{% if obj.membership.is_enabled %}
	<tr class="tablerow_enabled">
		<td><a href='{{ obj.get_single_url }}'>{{ obj.trading_name }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.membership.get_category_display }}</a></td>
	</tr>
	{% else %}
	<tr class="tablerow_disabled">
		<td>{{ obj.trading_name }}</td>
		<td>{{ obj.membership.get_category_display }}</td>
	</tr>
	{% endif %}

{% endfor %}
</tbody>
</table>

{% endblock %}


