{% extends 'layouts/org/member.html' %}

{% block str_org_name %}{{ instance.trading_name }}{% endblock %}
{% block str_section_name %}Overview{% endblock %}


{% block page_functions %}

<ul>
	<li class=""><a href="{{ instance.get_single_url }}">Dashboard</a></li>
	<li class=""><a href="{{ instance.get_client_list_url }}">Clients</a></li>
	<li class=""><a href="{{ instance.get_activity_list_url }}">Activities</a></li>
</ul>

{% endblock  %}


{% block content %}

<table>
<tr>
	<td>Reference Number:</td>
	<td>{{ instance.refnum }}</td>
</tr>

<tr>
	<td>Trading Name:</td>
	<td>{{ instance.trading_name }}</td>
</tr>
</table>

{% endblock %}



