{% extends 'layouts/org/member.html' %}

{% block str_section_name %}Choose an Organization{% endblock %}

{% block head_includes %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-itemized-total.css" media="screen" />

	<script type="text/javascript" src="{{ STATIC_URL }}js/smk.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/afes.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/afes-table.js"></script>

	<style>


.afes-table
{
	width: 100%;
}

.afes-table thead
{
	border-bottom: 1px solid #707070;
}

.afes-table-head-cell
{
	text-align: left;
	padding: 5px 5px;
	background-color: #ffffff;
}

.afes-table-body-row
{
	border-left: 1px solid #d8d8d8;
}

.afes-table-body-cell
{
	text-align: left;
	padding: 5px 5px;
	background-color: #ffffff;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}

.afes-table-body-cell input
{
	border: 0px;
	background-color: #f0f0f0;
	width: 100%;
}

.afes-table-body-cell-type-currency,
.afes-table-body-cell-type-currency input
{
	text-align: right;
	padding-right: 8px;
}

.afes-table-body-cell-type-select select
{
	width: 100%;
}

.description.afes-table-body-cell {
	background-color: red;
}


#id_table thead .head-description { width: 235px; }
#id_table thead .head-qty { width: 123px; }
#id_table thead .head-unit-price { width: 147px; }
#id_table thead .head-tax-rate { width: 195px; }
#id_table thead .head-amount { width: 158px; }
#id_table thead .head-delete { width: 20px; }


	</style>

{% endblock %}

{% block onready %}

	myhooks = {
		onUpdate : function( event, oldVal, newVal ) {
			var amount = $(this).parents( ".afes-table-body-row" ).first().find( ".amount" );
			var qty = $(this).parents( ".afes-table-body-row" ).first().find( ".qty" );
			var price = $(this).parents( ".afes-table-body-row" ).first().find( ".unit-price" );


			var nqt = ( new Number( newVal ) );
			if ( ! isNaN( qty.text() ) )
				nqt = ( new Number( qty.text() ) );

			var npr = ( new Number( newVal ) );
			if ( ! isNaN( price.text() ) )
				npr = ( new Number( price.text() ) );
			
			var amt = nqt * npr;

			amount.html( amt.toFixed(2) );

			return true;
		}
	};


	afes.ex.table.init(
		$( "#id_table" ),
		{
			initial_rows : 10,

			columns : [

				{
					type: "text",
					default: "",
					class: "description",
					form_name : "description"
				},

				{
					type: "currency",
					default: "0.00",
					class: "qty",
					callbacks : myhooks,
					form_name : "qty"
				},

				{
					type: "currency",
					default: "0.00",
					class: "unit-price",
					callbacks : myhooks,
					form_name : "price"
				},

				{
					type: "select",
					options : {
						"No Tax" : 0,
						"Tax Inclusive" : 1,
						"Tax Exclusive" : 2,
						"Tax Exempt" : 3,
					},
					default: "Tax Exclusive",
					class: "tax-rate",
					form_name : "tax-rate"
				},

				{
					type: "currency",
					default: "0.00",
					class: "amount",
					editable : false,
					form_name : "amount"
				},

				{
					type: "currency",
					default: "0.00",
					class: "delete"
				}


			]
		}
	);



{% endblock %}


{% block content %}


<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-qty">Qty</th>
	<th class="head-unit-price">Unit Price</th>
	<th class="head-tax-rate">Tax Rate</th>
	<th class="head-amount">Amount</th>
	<th class="head-delete">Delete</th>
</thead>
<tbody>
</tbody>
</table>


{% endblock %}

