{% extends 'layouts/org/member.html' %}

{% block str_section_name %}Choose an Organization{% endblock %}

{% block head_includes %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-itemized-total.css" media="screen" />

	<script type="text/javascript" src="{{ STATIC_URL }}js/smk.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/afes.js"></script>

{% endblock %}

{% block onready %}

	myhooks = {
			onFocus : function( event, val ) {
				return true;
			},
			onUpdate : function( event, val ) {
				return true;
			},
			onChange : function( event, val ) {
				$( "#id_douggie" ).empty().html( val );
				return true;
			},
			onEnter : function( event ) {
				return true;
			},
			onCancel : function( event ) {
				return true;
			},
			onNext : function( event ) {
				return true;
			},
			onFocusOut : function( event, val ) {
			}
	};

	afes.textInput(
		$( "#id_myspan" ),
		{
			behaviour : {
				next : '#id_myspan_two',
				form_update: '#id_one'
			},
			callbacks : myhooks
		}
	);

	afes.currencyInput(
		$( "#id_myspan_two" ),
		{
			behaviour : {
				next : '#id_myspan_three',
				form_update: '#id_two'
			},
			callbacks : myhooks
		}
	);

	afes.selectInput(
		$( "#id_myspan_three" ),
		{
			behaviour : {
				next : '#id_myspan',
				form_update: '#id_three',
			},
			callbacks : myhooks,
			options : {
				'One' : 1,
				'Two' : 2,
				'Three' : 3,
				'Four' : 4
			}
		}
	);




{% endblock %}


{% block content %}

	<div style='font-size: 3em;'>
		<div>
			<div id="id_myspan">This is it, Yo!</div>
			<input id="id_one" type="text" value="bubba" />
		</div>

		<div>
			<div id="id_myspan_two">500.00</div>
			<input id="id_two" type="text" value="bubba" />
		</div>

		<div>
			<div id="id_myspan_three">Three</div>
			<input id="id_three" type="text" value="3" />
		</div>



		<div id="id_douggie"></div>
	</div>

{% endblock %}

