{% extends 'layouts/org/member.html' %}

{% block str_section_name %}Choose an Organization{% endblock %}

{% block head_includes %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-itemized-total.css" media="screen" />

	<script type="text/javascript" src="{{ STATIC_URL }}js/smk.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/afes.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/afes-table.js"></script>

{% endblock %}

{% block onready %}

	myhooks = {
			onFocus : function( event, val ) {
				return true;
			},
			onUpdate : function( event, val ) {
				return true;
			},
			onChange : function( event, val ) {
				$( "#id_douggie" ).empty().html( val );
				return true;
			},
			onEnter : function( event ) {
				return true;
			},
			onCancel : function( event ) {
				return true;
			},
			onNext : function( event ) {
				return true;
			},
			onFocusOut : function( event, val ) {
			}
	};


	afes.ex.table.init(
		$( "#id_table" ),
		{
			initial_rows : 10,

			columns : [

				{
					type: "text",
					default: ""
				},

				{
					type: "currency",
					default: "0.00"
				},

				{
					type: "currency",
					default: "0.00"
				},

				{
					type: "select",
					options : {
						"No Tax" : 0,
						"Tax Inclusive" : 1,
						"Tax Exclusive" : 2,
						"Tax Exempt" : 3,
					},
					default: "No Tax"
				}

			]
		}
	);



{% endblock %}


{% block content %}

<table id="id_table">
<thead>
	<th>Col1</th>
	<th>Col2</th>
	<th>Col3</th>
	<th>Col4</th>
</thead>
<tbody>
</tbody>
</table>

{% endblock %}

