<style type='text/css'>

#pricing_table {
	margin-bottom: 20px;
	text-align: center;
}

#pricing_table th {
	color: white;
	padding: 5px 0 5px 0;
}


#pricing_table th div.price {
	padding: 10px 0 0;
}

#pricing_table th strong {
	font-size: 2em;
	font-weight: normal;
	margin: 10px 0;
}

#pricing_table th .cents
{
	font-size: 10px;
	vertical-align: top;
}

#pricing_table th .permonth
{
	color: rgba(255,255,255, 0.5);
	font-size: 0.9em;
	margin-left: -18px;
}


#pricing_table .pricing_col1_head {
	background-color: #cdeafe;
	color: black;
	text-align: left;
	font-size: 1.3em;
	padding: 10px 0 5px 20px;
	vertical-align: bottom;
}

#pricing_table .pricing_col2_head {
	background-color: #42aefa;
}

#pricing_table .pricing_col3_head {
	background-color: #1d9df7;
}

#pricing_table .pricing_col4_head {
	background-color: #028ff2;
}

#pricing_table tbody td {
	padding: 7px 5px;
	border-top: 1px solid #D0D0D0;
}

#pricing_table tbody td:first-child {
	border-left: 1px solid #D0D0D0;
	padding-left: 20px;
	text-align: left;
}

#pricing_table tbody td:last-child {
	border-right: 1px solid #D0D0D0;
}

#pricing_table tbody tr:last-child td {
	border-bottom: 1px solid #D0D0D0;
}


#addons_table {
	text-align: center;
}

#addons_table th {
	color: white;
	padding: 5px 0 5px 0;
}

#addons_table div.price {
	padding: 10px 0 0;
}

#addons_table div.price strong {
	font-size: 2em;
	font-weight: normal;
	margin: 10px 0;
}

#addons_table div.price .cents
{
	font-size: 10px;
	vertical-align: top;
}

#addons_table div.price .permonth
{
	color: rgba(0,0,0, 0.5);
	font-size: 0.9em;
	margin-left: -18px;
}


#addons_table .addons_col1_head {
	background-color: #cdeafe;
	color: black;
	text-align: left;
	font-size: 1.3em;
	padding: 10px 0 5px 20px;
	vertical-align: bottom;
}

#addons_table .addons_col2_head {
	background-color: #42aefa;
}

#addons_table .addons_col3_head {
	background-color: #1d9df7;
}

#addons_table .addons_col4_head {
	background-color: #028ff2;
}

#addons_table tbody td {
	padding: 7px 5px;
	border-top: 1px solid #D0D0D0;
}

#addons_table tbody td:first-child {
	border-left: 1px solid #D0D0D0;
	padding-left: 20px;
	text-align: left;
}

#addons_table tbody td:last-child {
	border-right: 1px solid #D0D0D0;
}

#addons_table tbody tr:last-child td {
	border-bottom: 1px solid #D0D0D0;
}




</style>

<table id="pricing_table" cellpadding=0 cellspacing=0 >
<thead>
<tr>
<th class='pricing_col1_head' style='width: 290px;'>
Feature
</th>
<th class='pricing_col2_head'  style='width: 140px;'>
Free
<div class="price">
<strong>
<span class="dollar-sign">$</span>0<span class="cents">00</span>
</strong>
<span class="permonth">/month</span>
</div>
</th>
<th class='pricing_col3_head'  style='width: 140px;'>

Standard
<div class="price">
<strong>
<span class="dollar-sign">$</span>19<span class="cents">95</span>
</strong>
<span class="permonth">/month</span>
</div>

</th>
<th class='pricing_col4_head'  style='width: 140px;'>

Large
<div class="price">
<strong>
<span class="dollar-sign">$</span>45<span class="cents">95</span>
</strong>
<span class="permonth">/month</span>
</div>

</th>
</tr>
</thead>
<tbody>
<tr>
	<td># of companies included</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
</tr>
<tr>
	<td># of included users</td>
	<td>1</td>
	<td>1</td>
	<td>5</td>
</tr>
<tr>
	<td># of clients you can manage</td>
	<td>3</td>
	<td>Unlimited</td>
	<td>Unlimited</td>
</tr>

<tr>
	<td>Accept online payments</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Your logo on your invoices</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Email Support</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Timesheets and Time Reporting</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Project Documentation Sharing</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Company-wide Reporting</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Client Access</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Unbranded Emails and Documents</td>
	<td>&nbsp;</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Supports additional companies</td>
	<td>&nbsp;</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>Supports additional users</td>
	<td>&nbsp;</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>

<tr>
	<td>URL Domain Customization</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>Yes</td>
</tr>



</tbody>
</table>


<table id="addons_table" cellpadding=0 cellspacing=0>
<thead>
<tr>
<th class='addons_col1_head' style='width: 290px;'>Add-ons</th>
<th class='addons_col2_head' style='width: 140px;'>Free</th>
<th class='addons_col3_head' style='width: 140px;'>Standard</th>
<th class='addons_col4_head' style='width: 140px;'>Large</th>
</tr>
</thead>
<tbody>
<tr>
	<td>For each additional company</td>
	<td>n/a</td>
	<td>
		<div class="price">
		<strong>
		<span class="dollar-sign">$</span>20<span class="cents">00</span>
		</strong>
		<span class="permonth">/month</span>
		</div>
	</td>
	<td>
		<div class="price">
		<strong>
		<span class="dollar-sign">$</span>20<span class="cents">00</span>
		</strong>
		<span class="permonth">/month</span>
		</div>
	</td>
</tr>

<tr>
	<td>For each additional user</td>
	<td>n/a</td>

	<td>
		<div class="price">
		<strong>
		<span class="dollar-sign">$</span>10<span class="cents">00</span>
		</strong>
		<span class="permonth">/month</span>
		</div>
	</td>

	<td>
		<div class="price">
		<strong>
		<span class="dollar-sign">$</span>6<span class="cents">50</span>
		</strong>
		<span class="permonth">/month</span>
		</div>
	</td>

</tr>


</tbody>
</table>
