{% extends 'layouts/home-base.html' %}

{% load captureas %}


{% block tpl_bl_head_inner %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/home-base-full.css" media="screen" />
{% endblock %}


{% block tpl_bl_body %}

{% comment %}
-------------------- LOADING UP GENERAL VARIABLES -------------------
{% endcomment %}

{% captureas content_menu_left %}{% block tpl_bl_body_content_left %}{% endblock %}{% endcaptureas %}
{% captureas content_menu_right %}{% block tpl_bl_body_content_right %}{% endblock %}{% endcaptureas %}
{% captureas content %}{% block tpl_bl_body_content_center %}{% endblock %}{% endcaptureas %}

{% comment %}
-------------------- FINISHED ---------------------------------------
{% endcomment %}

{% include 'layouts/includes/home-inc-header.html' %}
{% include 'layouts/includes/home-inc-content.html' %}

{% endblock %}

