<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load rely %}
{% load captureas %}

{% comment %}
-------------------- LOADING UP GENERAL VARIABLES -------------------
{% endcomment %}

{% captureas tpl_si_org %}{% block tpl_si_org %}{% endblock %}{% endcaptureas %}
{% captureas tpl_si_client %}{% block tpl_si_client %}{% endblock %}{% endcaptureas %}
{% captureas tpl_si_section %}{% block tpl_si_section %}{% endblock %}{% endcaptureas %}

{% comment %}
-------------------- FINISHED ---------------------------------------
{% endcomment %}

<head profile="http://gmpg.org/xfn/11">
{% block tpl_bl_head %}

<title>{% block tpl_bl_title %}{% if tpl_si_org %}{{ tpl_si_org }}{% if tpl_si_client or tpl_si_section %} | {% endif %}{% endif %}{% if tpl_si_client %}{{ tpl_si_client }}{% if tpl_si_section %} | {% endif %}{% endif %}{% if tpl_si_section %}{{ tpl_si_section }}{% endif %}{% endblock %}</title>

{% include 'global/head-nocache.html' %}

{% rely reset %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/general-common.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/member-common.css" media="screen" />

{% block tpl_bl_head_inner %}
{% endblock %}

<!-- Document OnReady -->
<script type="text/javascript">
$(document).ready(function(){
{% block tpl_bl_onready %}
{% endblock %}
})
</script>

{% endblock %}
</head>

<body>
<div id="id_tpl_bl_body_wrap">
{% block tpl_bl_body %}
{% endblock %}
</div> <!-- #id_tpl_bl_body_wrap -->
</body>
</html>
