{% extends 'layouts/member-base.html' %}

{% load rely %}
{% load captureas %}


{% block tpl_bl_head %}
	{{ block.super }}

	{% rely reset jquery.ui datatables superfish formfit sitekit %}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/member-base-full.css" media="screen" />

{% endblock %}



{% block tpl_bl_body %}

{% comment %}
-------------------- LOADING UP GENERAL VARIABLES -------------------
{% endcomment %}

{% captureas tpl_si_org %}{% block tpl_si_org %}{% endblock %}{% endcaptureas %}
{% captureas tpl_si_client %}{% block tpl_si_client %}{% endblock %}{% endcaptureas %}
{% captureas tpl_si_section %}{% block tpl_si_section %}{% endblock %}{% endcaptureas %}

{% captureas page_functions_content %}{% block page_functions %}{% endblock %}{% endcaptureas %}
{% captureas subsection_functions_content %}{% block subsection_functions %}{% endblock %}{% endcaptureas %}
{% captureas dblsubsection_functions_content %}{% block dblsubsection_functions %}{% endblock %}{% endcaptureas %}
{% captureas tplsubsection_functions_content %}{% block tplsubsection_functions %}{% endblock %}{% endcaptureas %}
{% captureas filter_functions_content %}{% block filter_functions %}{% endblock %}{% endcaptureas %}

{% captureas breadcrumbs %}{% block breadcrumbs %}{% endblock %}{% endcaptureas %}


{% captureas content_menu_left %}{% block content_menu_left %}{% endblock %}{% endcaptureas %}
{% captureas content_menu_right %}{% block content_menu_right %}{% endblock %}{% endcaptureas %}
{% captureas content %}{% block content %}{% endblock %}{% endcaptureas %}



{% comment %}
-------------------- FINISHED ---------------------------------------
{% endcomment %}

{% include 'layouts/member-inc-header.html' %}
{% include 'layouts/member-inc-subgroup.html' %}
{% include 'layouts/member-inc-pagesection.html' %}
{% include 'layouts/member-inc-functions.html' %}
{% include 'layouts/member-inc-content.html' %}

{% endblock %}


