
{% if page_functions_content %}
<div id="page-functions-div">
<div id="page-functions-proper">
{{ page_functions_content }}
</div> <!-- page-functions-proper -->
</div> <!-- page-functions-div -->
{% endif %}

{% if subsection_functions_content %}
<div id="subsection-functions-div">
<div id="subsection-functions-proper">
{{ subsection_functions_content }}
</div> <!-- subsection-functions-proper -->
</div> <!-- subsection-functions-div -->
{% endif %}

{% if dblsubsection_functions_content %}
<div id="dblsubsection-functions-div">
<div id="dblsubsection-functions-proper">
{{ dblsubsection_functions_content }}
</div> <!-- dblsubsection-functions-proper -->
</div> <!-- dblsubsection-functions-div -->
{% endif %}

{% if tplsubsection_functions_content %}
<div id="tplsubsection-functions-div">
<div id="tplsubsection-functions-proper">
{{ tplsubsection_functions_content }}
</div> <!-- tplsubsection-functions-proper -->
</div> <!-- tplsubsection-functions-div -->
{% endif %}

{% if filter_functions_content %}
<div id="filter-functions-div">
<div id="filter-functions-proper">
{{ filter_functions_content }}
</div> <!-- filter-functions-proper -->
</div> <!-- filter-functions-div -->
{% endif %}


