{% extends 'pages/org/client/base.html' %}

{% block tpl_ps_rely %}ral datatables jquery.ui sitekit{% endblock %}

{% block tpl_si_section %}Projects{% endblock %}


{% block tpl_bl_head_onready %}

	$('#project_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	ral.html.custom.attach_fetch( '#id_ral_modal_org_client_new_project', 'org.client.new.project',
                { oid: '{{ kwargs.oid }}', cid: {{ kwargs.cid }} } );

{% endblock %}


{% block tpl_bl_body_content_right %}

<div class="widget">
<h3>Projects</h3>
<ul>
	<li><a id="id_ral_modal_org_client_new_project">Create a new Project</a></li>
</ul>
</div>

{% endblock %}


{% block tpl_bl_body_content_center %}

<table
	id="project_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Name</th>
		<th width="200px">Description</th>
		<th width="200px">Status</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</a></td>
		<td><a href='{{ obj.get_absolute_url }}'>{{ obj.description }}</a></td>
		<td><a href='{{ obj.get_absolute_url }}'>{{ obj.get_status_display }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


