{% extends 'layouts/member-base-full.html' %}

{% block tpl_si_org %}{{ instance.get_org.trading_name }}{% endblock %}
{% block tpl_si_client %}{{ instance.get_client.trading_name }}{% endblock %}
{% block tpl_si_section %}Dashboard{% endblock %}


{% block tpl_bl_body_functions_page %}

<ul>
	<li class=""><a href="{{ instance.get_single_url }}">Dashboard</a></li>
</ul>

{% endblock  %}


{% block tpl_bl_body_content_center %}

<table>
<tr>
	<td>Reference Number:</td>
	<td>{{ instance.refnum }}</td>
</tr>

<tr>
	<td>Name:</td>
	<td>{{ instance.name }}</td>
</tr>

<tr>
	<td>Description:</td>
	<td>{{ instance.description }}</td>
</tr>
</table>


<h2>Active Timers:</h2>

{% for timer in instance.timesheettimer_set.all %}
	{{ timer.user.first_name }} {{ timer.user.last_name }} - {{ timer.start_time }}<br />
{% endfor %}


<h2>Total Hours Logged Against Project:</h2>

{% for entry in instance.timesheetentry_set.all %}
	{{ entry.end_time }} - {{ entry.start_time }}<br />
{% endfor %}



{% endblock %}



