{% extends 'pages/org/refund/single-template.get.html' %}

{% load decshift %}
{% load sourcedoc %}

{% block str_section_name %}Refund{% endblock %}


{% block onready %}

	$( "#id_void_payment" ).click( function() {
		$( "#id_payment_state" ).val( 20 );
		$( "#id_payment_form" ).submit();
	});

	$( "#id_save_payment" ).click( function() {
		$( "#id_payment_form" ).submit();
	});


	$( '#id_allocate' ).smkTools(
		'click_modal',
		OOD.URL.Component(
			OOD.URL.Payment( {{ kwargs.oid }}, {{ kwargs.cid }}, {{ kwargs.sdid }} ),
			'allocate-payment'
		)
	);


	$( '#id_refund' ).smkTools(
		'click_modal',
		OOD.URL.Component(
			OOD.URL.Payment( {{ kwargs.oid }}, {{ kwargs.cid }}, {{ kwargs.sdid }} ),
			'refund-payment'
		)
	);



	$( ".item-delete-link" ).click( function() {

		var myid = $(this).parents("tr").find("input").val();

		$(document).smkTools(
			'load_modal',
			'item-delete-link',
			OOD.URL.Component(
				OOD.URL.PaymentAllocation( {{ kwargs.oid }}, {{ kwargs.cid }}, {{ kwargs.sdid }}, myid )
			)
		);
	});


{% endblock %}



{% block document_type %}Refund{% endblock %}

{% block document_status %}
{% get_document_obj instance as doc %}
<div style="font-size: 2em;">{{ doc.getObj.get_document_state_display }}</div>
{% endblock %}


{% block document_dates %}
{% get_document_obj instance as doc %}
<div style="
	font-size: 1.3em;
	">
Date of Refund: {{ doc.getSpecs.getRefundDate|date:"j M Y"|escape }}
</div>
{% endblock %}


{% block document_body %}

{% get_document_obj instance as doc %}


<style>
.itol-payment-table.allocation th {
	text-align: left;
	font-weight: bold;
	padding-bottom: 20px;
}
	
</style>

	<div class="summary-row">

		<div class="add-row-portion">

			<div>
				<div class="comment-title">
					<span>Comments:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="payment_comment">{{ doc.getSpecs.getComment|escape }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ doc.getTotals.getTotal|decsplay }}</span>
				</div>
			</div>

		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>



{% if doc.getTotals.getAllocated > 0 %}

<div style="
	border-top: 1px solid #c0c0c0;
	font-size: 2em;
	padding: 20px 0px 0px 20px;
	margin: 20px 0px;
	">
Allocations
</div>

<div class="item-list" style="
	margin-bottom: 20px;
	">
<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-amount">Amount</th>
</thead>
<tbody>
{% for sda in doc.getAllocations.all %}
	<tr>
		<td><a href="{{ sda.source.get_single_url }}">{{ sda.source.get_document_type_display }} {{ sda.source.refnum }}</a></td>
		<td><a href="{{ sda.source.get_single_url }}">{{ sda.amount|decsplay }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endif %}


{% endblock %}

{% block document_button_row_left %}
	<button id="id_void_payment" type="button">Void Refund</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_save_payment" type="button">Save</button>
	<button id="id_back_payment" type="button">Back</button>
{% endblock %}




