{% extends 'pages/org/client/account/transaction/_common/sd-template.html' %}

{% load decshift %}
{% load sourcedoc %}

{% block tpl_bl_body_functions_sub %}
{{ block.super }}
{% include 'pages/org/client/account/transaction/payment/menu_filter.html' %}
{% endblock %}



{% block tpl_bl_head_inner %}
	{{ block.super }}

	<style>
{% block local_headings %}
{% endblock %}
	</style>


{% endblock %}

{% block tpl_bl_head_onready %}

	$('.date_input').dateinput({ trigger: true, format: 'dd mmm yyyy' });

	// use the same callback for two different events. possible with bind
	$('.date_input').bind("onShow onHide", function()  {
		$(this).parent().toggleClass("active"); 
	});

{% block local_javascript %}
{% endblock %}

{% endblock %}


{% block document_type %}Payment{% endblock %}
{% block document_status %}
{% include 'pages/org/client/account/transaction/_common/status-label.html' %}
{% endblock %}

{% block document_dates %}
{% get_document_obj instance as sdoc %}
<fieldset class="dateinput_tool">
	<label for="name">
		Payment Date <br />
		<input class="date_input" type="text" name="payment_date" value="{{ sdoc.getSpecs.getPaymentDate|date:"j M Y" }}" />
	</label>
</fieldset>
{% endblock %}


{% block document_body %}
{% get_document_obj instance as doc %}
<div style="padding-left: 20px; font-size: 1.3em;">
	<div style="padding: 20px;" class="clearfix">

		<div style="float: right;">
			{% block payment_amount %}{% endblock %}
		</div>

		<div style="float: left;">
			Comment:<br/>
			<textarea style="
				resize: none;
				width: 350px;
				height: 80px;
				border: 1px solid #e2e2e2;
				margin-top: 10px;
				"
				maxlength="255"
				name="payment_comment">{{ doc.getSpecs.getComment|escape }}</textarea>
		</div>
	</div>
</div>

{% endblock %}



