{% extends 'pages/org/client/account/transaction/payment/single-base.html' %}

{% block tpl_ps_rely %}{{ block.super }} ral datatables{% endblock %}

{% load decshift %}
{% load sourcedoc %}

{%

{% block local_javascript %}

$( "#id_button_save" ).click( function() {
	$( "#id_sd_form" ).submit();
});


$( "#id_button_void" ).click( function() {
	$( "#id_sd_state" ).val( 20 );
	$( "#id_sd_form" ).submit();
});


ral.html.custom.attach_fetch( '#id_ral_modal_org_client_account_transaction_allocations', 'org.client.account.transaction.allocations', 
	{
		oid: '{{ kwargs.oid }}',
		cid: {{ kwargs.cid }},
		sdid: {{ kwargs.sdid }}
	}
);


ral.html.custom.attach_fetch( '#id_ral_modal_org_client_account_transaction_allocate', 'org.client.account.transaction.allocate', 
	{
		oid: '{{ kwargs.oid }}',
		cid: {{ kwargs.cid }},
		sdid: {{ kwargs.sdid }}
	}
);

{% endblock %}


{% block payment_amount %}
{% get_document_obj instance as doc %}
<div>Amount: {{ doc.getTotals.getTotal|decsplay|escape }}</div>

<div>
<a href="#" id="id_ral_modal_org_client_account_transaction_allocations">Allocated</a>:
{{ doc.getTotals.getAllocated|decsplay|escape }}
</div>

<div>Available to Allocate: {{ doc.getTotals.getUnallocated|decsplay|escape }}</div>
<div>
<a href="#" id="id_ral_modal_org_client_account_transaction_allocate">Allocate Payment</a>
</div>
{% endblock %}

{% block document_button_row_left %}
	<button id="id_button_void" type="button">Void Payment</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_save" type="button">Save Payment</button>
{% endblock %}

