{% extends 'pages/org/client/account/transaction/payment/single-base.html' %}

{% load decshift %}
{% load sourcedoc %}

{% block local_javascript %}

$( "#id_button_save" ).click( function() {
	$( "#id_sd_form" ).submit();
});


{% endblock %}


{% block payment_amount %}
{% get_document_obj instance as doc %}
Amount: {{ doc.getTotals.getTotal|decsplay|escape }}
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_save" type="button">Save Payment</button>
{% endblock %}

