{% load decshift %}
{% load sourcedoc %}
<div id="dialog-form" title="Allocate Payment">
	<p class="validateTips">All form fields are required</p>
	<form id="allocate-new-form" method="POST" action="{% url org-client-account-payment-component-allocate kwargs.oid kwargs.cid kwargs.sdid %}">
		{% csrf_token %}

		<div id="dialog-text">

		<div>List of unpaid invoices:</div>

			<fieldset>
		
			<table class="payment-table-list">
				<thead>
					<tr>
						<th>Ref Num</th>
						<th>Invoice Date</th>
						<th>Due Date</th>
						<th class="numeric">Total</th>
						<th class="numeric">Oustanding</th>
					</tr>
				</thead>
				<tbody>
					{% for obj in instance.client.get_unpaid_invoice_list %}
					{% get_document_obj obj as doc %}
					<tr class="payment-line">
						<td class="first">{{ obj.refnum }}</td>
						<td class="first">{{ doc.getSpecs.getInvoiceDate|date:"j M Y" }}</td>
						<td>{{ doc.getSpecs.getDueDate|date:"j M Y" }}</td>
						<td class="numeric">{{ doc.getTotals.getTotal|decsplay }}</td>
						<td class="numeric">{{ doc.getTotals.getUnallocated|decsplay }}</td>
		
						<input class="refnum" type="hidden" value="{{ obj.refnum }}"/>
						<input class="invoice-date" type="hidden" value="{{ doc.getSpecs.getInvoiceDate|date:"j M Y" }}"/>
						<input class="due-date" type="hidden" value="{{ doc.getSpecs.getDueDate|date:"j M Y" }}"/>
						<input class="unpaid" type="hidden" value="{{ doc.getTotals.getUnallocated|decsplay }}"/>
						<input class="total" type="hidden" value="{{ doc.getTotals.getTotal|decsplay }}"/>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</fieldset>

		</div>


		<input type="hidden" name="refnum" id="id-invoice-refnum" value="-1"/>
		<input type="hidden" name="total" id="id-invoice-total" value="0"/>
		<input type="hidden" name="unpaid" id="id-invoice-unpaid" value="0"/>
		<input type="hidden" name="invoice-date" id="id-invoice-invoice-date" value="Today"/>
		<input type="hidden" name="due-date" id="id-invoice-due-date" value="Today"/>
	</form>
</div>

	

