{% extends 'layouts/org/member.html' %}


{% block str_org_name %}{{ extra.get_org.trading_name }}{% endblock %}
{% block str_section_name %}Tasks{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ extra.get_org.get_activity_list_url }}">Activities</a>&gt;
	<a href="{{ extra.get_single_url }}">{{ extra.name }}</a>&gt;
{% endblock %}



{% block page_functions %}
{% include 'page_functions/org/activity_level.html' with instance=extra %}
{% endblock %}


{% block head_includes %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>

<style>
	body { font-size: 62.5%; }
	label, input { display:block; }
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	div#users-contain { width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

{% endblock %}

{% block onready %}

	$(function() {
		
		var name = $( "#id_name" ),
			description = $( "#id_description" ),
			allFields = $( [] ).add( name ).add( description ),
			tips = $( ".validateTips" );

		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 550,
			modal: true,
			buttons: {
				"Add a new Task": function() {
					var bValid = true;
					allFields.removeClass( "ui-state-error" );

					bValid = bValid && validation.length( tips, name, "Name", 3, 192 );

					if ( bValid ) {
						$( "#create-new-form" ).submit();
					}
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		$( "#org-create-new-task" )
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
	});


	$('#task_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});


{% endblock %}


{% block content_menu_right %}
<ul>
	<li><a href="#" id="org-create-new-task">Add a new Task</a></li>
</ul>

<div id="dialog-form" title="Add a new task">
	<p class="validateTips">All form fields are required</p>
	<form id="create-new-form" method="POST" action="">
		{% csrf_token %}
		<fieldset>
			<label for="name">Name</label>
			<input type="text" name="name" id="id_name" class="text ui-widget-content ui-corner-all" />
			<label for="name">Description</label>
			<textarea name="description" id="id_description" class="text ui-widget-content ui-corner-all"></textarea>
		</fieldset>
	</form>
</div>
{% endblock %}


{% block content %}

<table
	id="task_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th width="200px">Name</th>
		<th>Description</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.name }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.description }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


