{% extends 'layouts/member-org-base.html' %}

{% block str_org_name %}{{ instance.get_org.trading_name }}{% endblock %}
{% block str_section_name %}{{ instance.name }}{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ instance.get_org.get_activity_list_url }}">Activities</a>&gt;
	<a href="{{ instance.get_activity.get_single_url }}">{{ instance.get_activity.name }}</a>&gt;
	<a href="{{ instance.get_activity.get_task_list_url }}">Tasks</a>&gt;
{% endblock %}




{% block page_functions %}

<ul>
	<li class=""><a href="{{ instance.get_single_url }}">Dashboard</a></li>
</ul>

{% endblock  %}


{% block content %}

<table>
<tr>
	<td>Name:</td>
	<td>{{ instance.name }}</td>
</tr>

<tr>
	<td>Description:</td>
	<td>{{ instance.description }}</td>
</tr>
</table>

{% endblock %}



