{% extends 'layouts/member-base-full.html' %}

{% block tpl_ps_rely %}ral datatables sitekit{% endblock %}

{% block tpl_si_org %}{{ extra.trading_name }}{% endblock %}
{% block tpl_si_section %}Clients{% endblock %}


{% block tpl_bl_body_functions_page %}
{% include 'menus/org/org_top.html' with instance=extra %}
{% endblock  %}


{% block tpl_bl_head_onready %}

	$('#client_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	ral.html.custom.attach( '#id_ral_modal_org_new_client', 'org.new.client',
				{ oid: {{ kwargs.oid }} } );

{% endblock %}


{% block tpl_bl_body_content_right %}

<div class="widget">
<h3>Clients</h3>
<ul>
	<li><a id="id_ral_modal_org_new_client">Add a new Client</a></li>
</ul>
</div>

{% endblock %}


{% block tpl_bl_body_content_center %}

<table
	id="client_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Name</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}
	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.trading_name }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

