{% extends 'layouts/member-org-base.html' %}


{% block str_org_name %}{{ extra.trading_name }}{% endblock %}
{% block str_section_name %}Clients{% endblock %}


{% block page_functions %}
{% include 'menus/org/org_top.html' with instance=extra %}
{% endblock  %}


{% block head_includes %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>

{% endblock %}

{% block onready %}

	$('#client_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	$( '#org-add-new-client' ).smkTools(
			'click_modal',
			OOD.URL.Component(
				OOD.URL.Clients( {{ kwargs.oid }} ),
				'add_new_client'
			)
		);
	


{% endblock %}


{% block content_menu_right %}
<ul>
	<li><a href="#" id="org-add-new-client">Add a new Client</a></li>
</ul>
{% endblock %}


{% block content %}

<table
	id="client_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Name</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.trading_name }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


