{% extends 'layouts/org/member.html' %}

{% block str_org_name %}{{ instance.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ instance.trading_name }}{% endblock %}
{% block str_section_name %}Dashboard{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ instance.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ instance.get_single_url }}">{{ instance.trading_name }}</a>&gt;
{% endblock %}




{% block page_functions %}

<ul>
	<li class=""><a href="{{ instance.get_single_url }}">Dashboard</a></li>
	<li class=""><a href="{{ instance.get_account_list_url }}">Accounts</a></li>
	<li class=""><a href="{{ instance.get_tab_list_url }}">Tabs</a></li>
</ul>

{% endblock  %}


{% block content %}

<table>
<tr>
	<td>Reference Number:</td>
	<td>{{ instance.refnum }}</td>
</tr>

<tr>
	<td>Trading Name:</td>
	<td>{{ instance.trading_name }}</td>
</tr>
</table>

{% endblock %}



