{% extends 'pages/org/client/base.html' %}

{% block tpl_ps_rely %}ral jquery.tools{% endblock %}

{% block tpl_si_section %}Dashboard{% endblock %}

{% block tpl_bl_body_content_center %}

<div>

<table>
<tr>
	<td>Reference Number:</td>
	<td>{{ instance.refnum }}</td>
</tr>

<tr>
	<td>Trading Name:</td>
	<td>{{ instance.trading_name }}</td>
</tr>
</table>

</div>


<div>

<table>
<tr>
	<td>Telephone Number:</td>
	<td>{{ instance.telephone_number }}</td>
</tr>

<tr>
	<td>Fax Number:</td>
	<td>{{ instance.fax_number }}</td>
</tr>

<tr>
	<td>Email Address:</td>
	<td>{{ instance.email_address }}</td>
</tr>

<tr>
	<td>Postal Address:</td>
	<td>{{ instance.postal_address|linebreaks }}</td>
</tr>

<tr>
	<td>Physical Address:</td>
	<td>{{ instance.physical_address|linebreaks }}</td>
</tr>



</table>

</div>



{% endblock %}


{% block tpl_bl_head_onready %}
	ral.html.custom.attach_fetch( '#id_ral_modal_org_edit_client', 'org.edit.client',
				{ oid: '{{ kwargs.oid }}', cid: {{ kwargs.cid }} } );

{% endblock %}


{% block tpl_bl_body_content_right %}

<div class="widget">
<h3>Client</h3>
<ul>
	<li><a id="id_ral_modal_org_edit_client">Edit Details</a></li>
</ul>
</div>

{% endblock %}




