<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

{% load captureas %}
{% captureas org_name %}{% block org_name %}{% endblock %}{% endcaptureas %}
{% captureas the_title %}{% block the_title %}{% endblock %}{% endcaptureas %}
{% captureas the_section %}{% block the_section %}{% endblock %}{% endcaptureas %}
{% captureas page_functions_content %}{% block page_functions %}{% endblock %}{% endcaptureas %}

	<title>{{ the_section }} | {{ the_title }}</title>

	<!-- No caching ever -->
	<meta http-equiv="expires" CONTENT="Fri, 1 Jan 1990 00:00:00 GMT">
	<meta http-equiv="pragma" CONTENT="no-cache">
	<meta http-equiv="cache-control" value="no-cache, no store, must-revalidate">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Include custom stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-layout.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-content-menu.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-page-functions.css" media="screen" />

	<!-- Include jquery -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.js"></script>

	<!-- include jquery ui -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery-ui.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/ui/jquery-ui.custom.css" media="screen" />

	<!-- include jquery datatables -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/datatable/datatable.css" media="screen" />


	<!-- Include superfish -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-vertical.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-navbar.css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/supersubs.js"></script>

	<!-- Include jquery tools -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>

	<!-- include forms -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/forms.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/forms/forms.css" media="screen" />

	<!-- include some basic support -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/smk.js"></script>

	{% block head_includes %}
	{% endblock %}

	<!-- Document OnReady -->
	<script type="text/javascript">

$(document).ready(function(){

	$( '.jForms input[type=submit],button' ).button();
	$( '.jForms' ).jForms( 'formify' );

	$( '.jForms :input[title]').tooltip({
		position: "top center",
		offset: [-30, 10],
		effect: "fade",
		opacity: 0.9,
		tipClass: "jFormTip"
	});



	{% block onready %}
	{% endblock onready %}
})

	</script>


</head>
<body>

<div id="wrap">

<div id="header">
{% if org_name %}
	<div id="header-orgname-title"><a href="{% url org-view kwargs.oid %}">{{ org_name }}</a></div>
{% endif %}
	<div id="header-options"><a href='{% url account-profile %}'>{{ request.user.email }}</a> | <a href="{% url org-list %}">organizations</a> | <a href='{% url logout %}'>logout</a></div>

</div> <!-- #header -->


<div id="page-label">
	<span id="page-title">{{ the_section }}</span>
</div>


{% if page_functions_content %}
<div id="page-functions-div">
<div id="page-functions-proper">
{{ page_functions_content }}
</div> <!-- page-functions-proper -->
</div> <!-- page-functions-div -->
{% endif %}


<div id="content-wrap">

{% captureas content_menu %}{% block content_menu %}{% endblock %}{% endcaptureas %}
{% captureas content %}{% block content %}{% endblock %}{% endcaptureas %}

{% if content_menu %}
<div id="content-menu">
{{ content_menu }}
</div> <!-- #content-menu -->

<div id="content" class="with-menu">
{{ content }}
</div> <!-- #content -->

{% else %}

<div id="content" class="without-menu">
{{ content }}
</div> <!-- #content -->

{% endif %}

</div> <!-- content-wrap -->

</div> <!-- #wrap -->

</body>
</html>
