<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

{% load captureas %}
{% captureas str_org_name %}{% block str_org_name %}{% endblock %}{% endcaptureas %}
{% captureas str_client_name %}{% block str_client_name %}{% endblock %}{% endcaptureas %}
{% captureas str_section_name %}{% block str_section_name %}{% endblock %}{% endcaptureas %}
{% captureas page_functions_content %}{% block page_functions %}{% endblock %}{% endcaptureas %}

{% captureas breadcrumbs %}{% block breadcrumbs %}{% endblock %}{% endcaptureas %}

<title>
{% if str_org_name %}{{ str_org_name }}{% if str_client_name or str_section_name %} | {% endif %}{% endif %}
{% if str_client_name %}{{ str_client_name }}{% if str_section_name %} | {% endif %}{% endif %}
{% if str_section_name %}{{ str_section_name }}{% endif %}
</title>

	<!-- No caching ever -->
	<meta http-equiv="expires" CONTENT="Fri, 1 Jan 1990 00:00:00 GMT">
	<meta http-equiv="pragma" CONTENT="no-cache">
	<meta http-equiv="cache-control" value="no-cache, no store, must-revalidate">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Include custom stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-layout.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-content-menu.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-page-functions.css" media="screen" />

	<!-- Include jquery -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.js"></script>

	<!-- include jquery ui -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery-ui.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/ui/jquery-ui.custom.css" media="screen" />

	<!-- include jquery datatables -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/datatable/datatable.css" media="screen" />


	<!-- Include superfish -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-vertical.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-navbar.css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/supersubs.js"></script>

	<!-- Include jquery tools -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>

	<!-- include forms -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/forms.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/forms/forms.css" media="screen" />

	<!-- include some basic support -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/smk.js"></script>

	{% block head_includes %}
	{% endblock %}

	<!-- Document OnReady -->
	<script type="text/javascript">

$(document).ready(function(){

	$( '.jForms input[type=submit],button' ).button();
	$( '.jForms' ).jForms( 'formify' );

	$( '.jForms :input[title]').tooltip({
		position: "top center",
		offset: [-30, 10],
		effect: "fade",
		opacity: 0.9,
		tipClass: "jFormTip"
	});



	{% block onready %}
	{% endblock onready %}

	$( '#bubba' ).delay(5000).animate({
				height: 0,
				opacity: 0,
			},
			2000,
				function(){
					$( '#bubba' ).css('display', 'none');
				}
			);

})

	</script>


</head>
<body>

<div id="wrap">

<!-- HEADER ------------------------------------------------- -->

<div id="header">
{% if str_org_name %}
	<div id="header-orgname-title"><a href="{% url org-single kwargs.oid %}">{{ str_org_name }}</a></div>
{% endif %}

	<div id="header-options"><a href='{% url account-profile %}'>{{ request.user.email }}</a> | <a href="{% url org-list %}">organizations</a> | <a href='{% url logout %}'>logout</a></div>

</div> <!-- #header -->

<div id="bubba" style="
	position: absolute;
	left: 350px;
	top: 48px;
	width: 350px;
	height: 50px;
	background: #208020;
	color: white;
	font-size: 1.2em;
	padding: 5px;
	border-left: 1px solid #104010;
	border-right: 1px solid #104010;
	border-bottom: 1px solid #104010;
	box-shadow: 2px 2px 5px #101010;
">
	<p>Success</p>
</div>


<!-- BREADCRUMBS ------------------------------------- -->

<div id="breadcrumbs">
{{ breadcrumbs }}
</div>


<!-- PAGE SECTION INFO ------------------------------------- -->

<div id="page-section-info">

{% if str_client_name %}
<div id="client-name">
	{% if kwargs.oid %}
	<a href="{% url org-client-single kwargs.oid kwargs.cid %}">
	{% endif %}
	<span id="client-name-title">{{ str_client_name }}</span>
	{% if kwargs.oid %}
	</a>
	{% endif %}
</div>
{% endif %}

{% if str_section_name %}
<div id="section-name">

	<span id="section-name-title">{{ str_section_name }}</span>
</div>
{% endif %}

</div> <!-- #page-section-info -->


{% if page_functions_content %}
<!-- PAGE FUNCTIONS ------------------------------------- -->
<div id="page-functions-div">
<div id="page-functions-proper">
{{ page_functions_content }}
</div> <!-- page-functions-proper -->
</div> <!-- page-functions-div -->
{% endif %}


<div id="content-wrap">

{% captureas content_menu_left %}{% block content_menu_left %}{% endblock %}{% endcaptureas %}
{% captureas content_menu_right %}{% block content_menu_right %}{% endblock %}{% endcaptureas %}
{% captureas content %}{% block content %}{% endblock %}{% endcaptureas %}


{% comment %} ********** 1 COLUMN-LEFT ************ {% endcomment %}

{% if content_menu_left and not content_menu_right %}
<div id="content-menu-left" class="content-menu">
{{ content_menu_left }}
</div> <!-- #content-menu-left -->

<div id="content" class="with-menu-left">
{{ content }}
</div> <!-- #content -->
{% endif %}

{% comment %} ********** 1 COLUMN-RIGHT ************ {% endcomment %}

{% if not content_menu_left and content_menu_right %}
<div id="content-menu-right" class="content-menu">
{{ content_menu_right }}
</div> <!-- #content-menu-right -->

<div id="content" class="with-menu-right">
{{ content }}
</div> <!-- #content -->
{% endif %}


{% comment %} ********** 2 COLUMNS ************ {% endcomment %}

{% if content_menu_left and content_menu_right %}
<div id="content-menu-left" class="content-menu">
{{ content_menu_left }}
</div> <!-- #content-menu-left -->

<div id="content-menu-right" class="content-menu">
{{ content_menu_right }}
</div> <!-- #content-menu-right -->

<div id="content" class="with-menu-both">
{{ content }}
</div> <!-- #content -->
{% endif %}



{% comment %} ********** NO COLUMNS ************ {% endcomment %}

{% if not content_menu_left and not content_menu_right %}
<div id="content" class="without-menu">
{{ content }}
</div> <!-- #content -->
{% endif %}

</div> <!-- content-wrap -->

</div> <!-- #wrap -->

</body>
</html>
