{% extends 'layouts/org/member.html' %}

{% block str_org_name %}{{ instance.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ instance.get_client.trading_name }}{% endblock %}
{% block str_section_name %}Dashboard{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ instance.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ instance.get_client.get_single_url }}">{{ instance.get_client.trading_name }}</a>&gt;
	<a href="{{ instance.get_client.get_project_list_url }}">Projects</a>&gt;
	<a href="{{ instance.get_single_url }}">{{ instance.name }}</a>&gt;
{% endblock %}


{% block page_functions %}

<ul>
	<li class=""><a href="{{ instance.get_single_url }}">Dashboard</a></li>
</ul>

{% endblock  %}


{% block content %}

<table>
<tr>
	<td>Reference Number:</td>
	<td>{{ instance.refnum }}</td>
</tr>

<tr>
	<td>Name:</td>
	<td>{{ instance.name }}</td>
</tr>

<tr>
	<td>Description:</td>
	<td>{{ instance.description }}</td>
</tr>
</table>


<h2>Active Timers:</h2>

{% for timer in instance.timesheettimer_set.all %}
	{{ timer.user.first_name }} {{ timer.user.last_name }} - {{ timer.start_time }}<br />
{% endfor %}


<h2>Total Hours Logged Against Project:</h2>

{% for entry in instance.timesheetentry_set.all %}
	{{ entry.end_time }} - {{ entry.start_time }}<br />
{% endfor %}



{% endblock %}



