{% extends 'pages/contacts/base.html' %}

{% block tpl_ps_rely %}datatables ral jquery.tools{% endblock %}
{% block tpl_si_section %}Dashboard{% endblock %}

{% block tpl_bl_head_onready %}

	$('#client_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	ral.html.custom.attach_fetch( '#id_add_contact', 'contacts.add.contact',
				{ oid: '{{ kwargs.oid }}' } );

{% endblock %}


{% block tpl_bl_body_content_right %}
<div class="widget">
<h3>Contacts</h3>
<ul>
	<li><a id="id_add_contact">Add a new Contact</a></li>
</ul>
</div>
{% endblock %}




{% block tpl_bl_body_content_center %}

<table id="list_table" style=' text-align: left; ' >
<thead>
	<tr>
		<th>Name</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}
	<tr>
		<td>{{ obj.trading_name }}</td>
		{% comment %}
		<td><a href='{{ obj.get_absolute_url }}'>{{ obj.trading_name }}</a></td>
		{% endcomment %}
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

