{% extends "pages/account/auth-base.html" %}

{% block page_title %}Login{% endblock %}


{% block tpl_bl_body_content_center %}

<div class="form-general" style=" width: 478px; margin: auto;">

{% include 'global/forms/form_start.html' %}

<div class='JFGROUP' style="padding: 10px;">
	<fieldset>
		<legend>Login Details</legend>
{% include "global/forms/text_field.html" with field=form.email_address width='14em' class='JFGROUPFIELD JFALIGNLEFT' %}
{% include "global/forms/text_field.html" with field=form.password width='14em' class='JFGROUPFIELD JFALIGNLEFT' type='password' %}
	</fieldset>
</div>

<div>
<div style="float: left; width: 300px; padding-top: 15px; margin-left: 20px; font-size: 0.8em;">
<a style="text-decoration: none; color: #336FB6; " href="{% url password-reset %}">Forgot your password?</a>
<a style="margin-left: 10px; text-decoration: none; color: #336FB6; " href="{% url register-step2 %}">Authenticated?</a>
</div>

<div style="float: left; width: 135px; padding-top: 8px;" >
<input style=" float: right;" type="submit" value="Login" />
</div>
<div style="clear: both;"></div>
</div>

</div>

</form>

{% endblock %}

