{% extends "pages/account/auth-base.html" %}

{% block page_title %}Reset your Password{% endblock %}

{% block tpl_bl_body_content_center %}

<div class="form-general" style=" width: 380px; margin: auto;">

{% include 'global/forms/form_start.html' %}

<div class='JFGROUP' style="padding: 10px;">
	<fieldset>
		<legend>Reset your Password</legend>
{% include "global/forms/text_field.html" with field=form.email_address width='23em' class='JFGROUPFIELD' %}
	</fieldset>
</div>

<div>
<div style="float: right; padding-top: 10px; padding-right: 15px;">
<input type="submit" value="Reset Password" />
</div>
<div style="clear: both;"></div>
</div>

</div>

</form>

{% endblock %}

