{% extends 'layouts/public-base.html' %}

{% block tpl_ps_rely %}formfit{% endblock %}

{% block tpl_bl_head_inner %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/account-auth-base.css" media="screen" />
{% endblock %}


{% block tpl_bl_body %}

<div id="wrap">

	<div id="header">
		<div class="wrap_container">
			Header
		</div>
	</div>

	<div id="page_functions">
		<div class="wrap_container">
			<a href='{% url register-url %}'>Register for a new account</a> &middot;
			<a href='{% url login %}'>Login</a> &middot;
			<a href='{% url resend-authentication-code %}'>Resend Authentication Code</a>
		</div>
	</div>

	{% if form.non_field_errors %}
	<div id="messages">
		<div class="wrap_container">
			{% include 'global/forms/form_global_errors.html' with width="364px" %}
		</div>
	</div>
	{% endif %}

	<div id="content">
		<div class="wrap_container">
			{% block tpl_bl_body_content_center %}
			Content
			{% endblock %}
		</div>
	</div>

</div>

{% endblock %}


