{% extends "pages/account/auth-base.html" %}

{% block page_title %}Registration{% endblock %}

{% block tpl_bl_body_content_center %}

<div class="form_top_box" style=" width: 378px; margin: auto;">

{% include 'global/forms/form_start.html' %}

<div class='JFGROUP' style="padding: 10px;">
	<label>Your Details</label>
{% include "global/forms/text_field.html" with field=form.first_name width='10em' class='JFGROUPFIELD JFALIGNLEFT' %}
{% include "global/forms/text_field.html" with field=form.last_name width='12.5em' class='JFGROUPFIELD JFALIGNLEFT' %}

{% include "global/forms/text_field.html" with field=form.email_address width='24em' class='JFGROUPFIELD JFCLEAR' %}

{% include "global/forms/text_field.html" with field=form.password1 width='11.2em' class='JFGROUPFIELD JFALIGNLEFT' type='password' %}
{% include "global/forms/text_field.html" with field=form.password2 width='11.2em' class='JFGROUPFIELD JFALIGNLEFT' type='password' %}
</div>


<div class="form_bottom_box">
<div style="float: right; padding-top: 10px;">
<input type="submit" value="Register" />
</div>
<div style="clear: both;"></div>
</div>

</div>


</form>

{% endblock %}


