{% extends "pages/account/auth-register-step1.html" %}

{% block page_title %}Resend your Authentication Code{% endblock %}

{% block tpl_bl_body_content_center %}

<div class="form_top_box" style=" width: 378px; margin: auto;">

{% include 'global/forms/form_start.html' %}

<div class='JFGROUP' style="padding: 10px;">
	<label>Resend your Authentication Code</label>
{% include "global/forms/text_field.html" with field=form.email_address width='24em' class='JFGROUPFIELD' %}
</div>

<div class="form_bottom_box">
<div style="float: right; padding-top: 10px;">
<input type="submit" value="Resend" />
</div>
<div style="clear: both;"></div>
</div>

</div>

</form>

{% endblock %}

