{% extends "pages/account/profile_base.html" %}

{% block the_title %}Change your Password{% endblock %}


{% block content %}

<div class="heavily_shadowed round_bordered" style="padding: 40px; margin-top: 20px; min-height: 80px;">

{% include 'global/forms/form_start.html' %}

<div class='JFGROUP'>
	<label>Old Password</label>

{% include "global/forms/text_field.html" with field=form.old_password width='14em' class='JFGROUPFIELD' type='password' %}
</div>

<div class='JFGROUP'>
	<label>New Password</label>
{% include "global/forms/text_field.html" with field=form.password1 width='14em' class='JFGROUPFIELD JFALIGNLEFT' type='password' %}

{% include "global/forms/text_field.html" with field=form.password2 width='14em' class='JFGROUPFIELD' type='password' %}

</div>

<input type="submit" value="Change Password" style=" "/>

</form>

</div>

{% endblock %}

