{% extends "pages/account/profile_base.html" %}

{% block the_title %}Edit your Profile{% endblock %}


{% block content %}

<div class="heavily_shadowed round_bordered" style="padding: 40px; margin-top: 20px; min-height: 80px;">

{% include 'global/forms/form_start.html' %}

<div class='JFGROUP'>
	<label>Your Profile Details</label>

{% include "global/forms/text_field.html" with field=form.first_name width='10em' class='JFGROUPFIELD JFALIGNLEFT' %}

{% include "global/forms/text_field.html" with field=form.last_name width='12.5em' class='JFGROUPFIELD' %}

{% include "global/forms/text_field.html" with field=form.email_address width='24em' class='JFGROUPFIELD' %}

</div>

<input type="submit" value="Update" style=" "/>

</form>

</div>


{% endblock %}

