{% extends 'pages/account/base.html' %}

{% block tpl_bl_body_functions_page %}

{% url account-profile-view as accprof %}

<ul>
	<li class=""><a href="{{ accprof }}">Profile</a></li>
</ul>
{% endblock  %}

{% block tpl_bl_body_content_left %}

{% load active %}

{% url account-profile-view as accprof %}
{% url account-profile-edit as accprofedit %}
{% url account-profile-change-password as accprofcp %}

<ul>
	<li class="{% active request accprof %}"><a href="{{ accprof }}">Your Profile</a></li>
	<li class="{% active request accprofedit %}"><a href="{{ accprofedit }}">Edit your Profile</a></li>
	<li class="{% active request accprofcp %}"><a href="{{ accprofcp }}">Change your Password</a></li>
</ul>
{% endblock %}


