<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

{% load captureas %}

{% captureas ctitle %}{% block content_title %}{% endblock %}{% endcaptureas %}

	<title>{% block site_title %}My Website{% endblock %} | {% block page_title %}{{ ctitle }}{% endblock %}</title>

	<!-- No caching ever -->
	<meta http-equiv="expires" CONTENT="Fri, 1 Jan 1990 00:00:00 GMT">
	<meta http-equiv="pragma" CONTENT="no-cache">
	<meta http-equiv="cache-control" value="no-cache, no store, must-revalidate">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Include custom stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/sizes.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/member.css" media="screen" />

	<!-- Include jquery -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.js"></script>

	<!-- include jquery ui -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery-ui.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/ui/jquery-ui.custom.css" media="screen" />

	<!-- include jquery datatables -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/datatable/datatable.css" media="screen" />


	<!-- Include superfish -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-vertical.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/superfish-navbar.css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/supersubs.js"></script>

	<!-- Include jquery tools -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>

	<!-- include forms -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/forms.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/forms/forms.css" media="screen" />

	<!-- include some basic support -->
	<script type='text/javascript' src="{{ STATIC_URL }}js/smk.js"></script>

	{% block head_includes %}
	{% endblock %}

	<!-- Document OnReady -->
	<script type="text/javascript">

$(document).ready(function(){

	$("#header-menu").supersubs({
		minWidth: 10,
		maxWidth: 27,
		extraWidth: 1
	}).superfish({
		animation: { opacity: 'show', height: 'show' },
		speed: 'fast'
	});

	$( '.operational-button' ).button();

	$( '.jForms input[type=submit],button' ).button();
	$( '.jForms' ).jForms( 'formify' );

	$( '.jForms :input[title]').tooltip({
		position: "top center",
		offset: [-30, 10],
		effect: "fade",
		opacity: 0.9,
		tipClass: "jFormTip"
	});


	{% block onready %}
	{% endblock onready %}
})

	</script>


</head>
<body>

<div id="wrap">

<div id="header">

<div id="header_container">

<div id="logo">
<!--
	<a href="/"><img src="{{ STATIC_URL }}images/logo-white.png" title="SmsGateway" alt="SmsGateway" /></a>
-->
	<a href="/"><h1>Timesheets</h1></a>
</div> <!-- logo -->

<div id="nav">
	<div class="content">
	</div> <!-- content -->
</div> <!-- nav -->

<div class="fixed">&nbsp;</div>

</div> <!-- header_container -->

</div> <!-- header -->


{% captureas page_functions_content %}{% block page_functions %}{% endblock %}{% endcaptureas %}
{% if page_functions_content %}
<div id="page-functions-div">
<div id="page-functions-container">
<div id="page-functions-proper">
{{ page_functions_content }}
</div>
</div>
</div>
{% endif %}

<div id="content-title-div">
<div id="content-title-container">
<div id="content-title-proper">
{% if ctitle %}
{{ ctitle }}
{% else %}
&nbsp;
{% endif %}
</div>
</div>
</div>






<div id="content">
<div id="content_container">
{% block content %}
{% endblock %}
<div style='clear: both;'>&nbsp;</div>
</div>
</div>


</div> <!-- wrap -->

</body>
</html>

