{% extends "layouts/account/public_base.html" %}

{% load captureas %}

{% block headermenu %}
{% endblock %}


{% block content %}
{% block content_header %}
<h1>{% block content_title %}...{% endblock %}</h1>
{% endblock %}


{% captureas page_functions_content %}{% block page_functions %}{% endblock %}{% endcaptureas %}
{% if page_functions_content %}
<div class="page_op_functions">
{{ page_functions_content }}
</div>
{% endif %}

{% include 'global/messages.html' %}

<div>
{% block page_content %}...{% endblock %}
</div>

{% endblock %}


