
<p>{{ user.first_name }} {{ user.last_name }} has granted you access to:</p>

<p>{{ organization.trading_name }}</p>

<p>Please follow the following link to confirm this email address and complete your registration.</p>

<p>
Your password: <strong>{{ password }}</strong>
</p>

<p>
Your authentication code: <strong>{{ user.authenticationcode.authentication_code }}</strong>
</p>

<p>
The authentication site: <a href='{% url register-step2 %}'>{% url register-step2 %}</a>
</p>


<p>
A direct link: <a href='{% url register-step2 %}?authcode={{ user.authenticationcode.authentication_code }}'>{% url register-step2 %}?authcode={{ user.authenticationcode.authentication_code }}</a>
</p>



