<style type="text/css">

.modiaspl {
	height: 100%;
}

.modiaspl-right-panel {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
	overflow: auto;
	height: 100%;
}

.modiaspl-right-panel .error-message-block {
	position: relative;
}

.modiaspl-right-panel .error-message {
	position: relative;
	margin-bottom: 20px;
	padding: 5px;

	border-radius: 0px;
	border-width: 1px;
	border-style: solid;

	color: black;
	background-color: #fff2f2;
	border-color: orange;
}

.modiaspl-right-panel label
{
	font-size: 1.2em;
	clear: both;
	float: left;
	text-align: right;
	width: 180px;
	margin-right: 20px;
	word-wrap: break-word;
}

.modiaspl-right-panel label.field-required:after
{
	content: "*";
	color: red;
}

.modiaspl-right-panel input,
.modiaspl-right-panel select,
.modiaspl-right-panel textarea
{
	border: 1px solid #dedbd1;
	float: left;
	margin-top: -2px;
	margin-bottom: 10px;
}

.modiaspl-right-panel textarea
{
	resize: none;
}

.modiaspl-right-panel label.field-error
{
	color: #7E2217;
}

.modiaspl-right-panel input.field-error,
.modiaspl-right-panel select.field-error,
.modiaspl-right-panel textarea.field-error
{
	background-color: #fff8f8;
	border: 1px solid darkred;
}

.modiaspl-form-error-tip {
	background-color: #991111;
	border: 1px solid #fff;
	padding: 10px 15px;
	width: 200px;
	display: none;
	color: #fff;
	text-align: left;
	font-size: 12px;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
}

</style>


<div style="{% block dialog_style %}{% endblock %}">

	<div class="ral_dialog_titlebar ral_clear">
		<span class="ral_dialog_title">{% block dialog_title %}{% endblock %}</span>
		<a class="ral_dialog_titlebar_close ral_action_close">
			<span>close</span>
		</a>
	</div>

	{% block dialog_post_title %}
	{% endblock %}

	<div class="ral_dialog_content ral_clear">

		<div class="modiaspl">

			<div class="modiaspl-right-panel">
				{% block dialog_right_panel %}{% endblock %}
			</div>

			<div class="error-message-block" style="visibility: hidden; display: none">
				<div class="error-message">There are some errors on this page. Please review the information and fix it up.</div>
			</div>

		</div>

	</div> <!-- .ral_dialog_content -->

	</form>

	<div class="ral_dialog_buttonbar ral_clear">
		{% block dialog_buttons %}{% endblock %}
	</div>
</div>


<script type="text/javascript">

$(function() {

	$(this).find( ".modiaspl .modiaspl-right-panel > div" ).has(":input[title]").each( function() {
		var mydiv = $(this);
		var pos = $(this).index();

		var notice = $( ".modiaspl .error-message-block" ).clone();
		$(this).prepend( notice );
		notice.css( 'visibility', 'visible' );
		notice.css( 'display', 'block' );
	});

	$(this).find( ".modiaspl .modiaspl-right-panel :input[title]" ).tooltip({
		position: "top center",
		offset: [-30, 10],
		effect: "fade",
		opacity: 0.9,
		tipClass: "modiaspl-form-error-tip"
	});


{% block dialog_javascript %}{% endblock %}

});


//@ sourceURL=modalScript.js

</script>

