
/* PRESENTATION */


.ral_container .ral_box
{
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	background-color: white;

	border-radius: 5px 5px 5px 5px;
}

/* -------- Title bar ---------------- */

.ral_container div.ral_dialog_titlebar
{
	padding: 5px;
	background-color: #202020;
	margin: 2px;
	border-radius: 5px 5px 0px 0px;
}


.ral_container div.ral_dialog_titlebar .ral_dialog_title
{
	font-size: 1.3em;
	color: white;
}

.ral_container div.ral_dialog_titlebar .ral_dialog_titlebar_close
{
	position: absolute;
	right: 0.3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

.ral_container div.ral_dialog_titlebar .ral_dialog_titlebar_close span
{
	display: block;
	margin: 1px;
	background-image: url( '../images/icons.png' );
	background-position: -96px -128px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* -------- Button bar ---------------- */


.ral_container div.ral_dialog_buttonbar
{
	background-color: #202020;
	margin: 2px;
	padding: 5px;
	text-align: right;


	border-radius: 0px 0px 5px 5px;
}




