{% extends 'layouts/org/member.html' %}


{% block str_org_name %}{{ extra.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ extra.get_client.trading_name }}{% endblock %}
{% block str_section_name %}Transactions{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ extra.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ extra.get_client.get_single_url }}">{{ extra.get_client.trading_name }}</a>&gt;
	<a href="{{ extra.get_client.get_tab_list_url }}">Tabs</a>&gt;
	<a href="{{ extra.get_single_url }}">{{ extra.name }}</a>&gt;
{% endblock %}


{% block page_functions %}
{% include 'page_functions/org/tab_level.html' with instance=extra %}
{% endblock %}

{% block head_includes %}

<style>
	body { font-size: 62.5%; }
	label, input { display:block; }
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	div#users-contain { width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

{% endblock %}

{% block onready %}

	$('#account_list_table').dataTable( {
		"aaSorting" : [[ 0, "asc" ] ],
		"aoColumns" : [
			null,
			null,
			null,
			null,
			null
		],
		"sDom" : 't<"bottom"fip><"clear">'
	});


{% endblock %}


{% block content %}

<table
	id="account_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Ref</th>
		<th>Time</th>
		<th>Description</th>
		<th>Amount</th>
		<th>Balance</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.refnum }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.event_time }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.description }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.amount }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.balance_after }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


