{% extends 'pages/org/client/account/base.html' %}

{% block tpl_ps_rely %}ral highcharts{% endblock %}

{% load decshift %}

{% block tpl_si_section %}Account{% endblock %}


{% block tpl_bl_head_onready %}

	var cdata = {
		csrfmiddlewaretoken : '{{ csrf_token }}',
		oid: '{{ kwargs.oid }}',
		cid: {{ kwargs.cid }}
	};

	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_invoice', 'org.account.new.invoice', cdata );
	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_payment', 'org.account.new.payment', cdata );
	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_creditnote', 'org.account.new.creditnote', cdata );
	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_refund', 'org.account.new.refund', cdata );


// Highcharts integration test


var IDX_BALANCE = 0;
var IDX_PAYMENT = 1;
var IDX_CREDIT_NOTE = 2;
var IDX_REFUND = 3;
var IDX_INVOICE = 4;

var chart1;

function requestData()
{
	var mydata = {
		days : 60
	};

	jQuery.get(
		'account/transactions?format=json',
		mydata,
		function( info )
		{
			var initial_balance = {{ instance.balance }};

			var day_seconds = (1 * 60 * 60 * 24);

			var last_date = false;

			for ( var i = 0; i < info.length; ++i )
			{
				var myobj = info[i];

				var docState = myobj[ 'source_document' ][ 'document_state' ];
				if ( docState !== 'Final' )
					continue;


				var amount = myobj['amount'] / 100;
				var thed = (new Date( myobj['event_time'] ));
				thed = Date.UTC( thed.getFullYear(), thed.getMonth(), thed.getDate() );
				var data = [ thed, amount ];

				var idx = -1;
				var delta = 0;

				var docType = myobj[ 'source_document' ][ 'document_type' ];

				if ( docType === 'Refund' )
				{
					idx = IDX_REFUND;
					delta -= myobj[ 'amount' ];
				}
				else if ( docType === 'Invoice' )
				{
					idx = IDX_INVOICE;
					delta += myobj[ 'amount' ];
				}
				else if ( docType === 'Credit Note' )
				{
					idx = IDX_CREDIT_NOTE;
					delta -= myobj[ 'amount' ];
				}
				else if ( docType === 'Payment' )
				{
					idx = IDX_PAYMENT;
					delta += myobj[ 'amount' ];
				}

				var balance_data = [ thed, initial_balance/100 ];

				if ( last_date !== false )
				{
					if ( last_date > thed )
					{
						var last_data = [ last_date, initial_balance/100 ];
						chart1.series[0].addPoint( last_data, false, false );
					}
				}
				last_date = thed - day_seconds;

				chart1.series[0].addPoint( balance_data, false, false );
				chart1.series[idx].addPoint( data, false, false );

				initial_balance += delta;
			}

			chart1.redraw();
		}
	);
}


	chart1 = new Highcharts.Chart({
		chart: {
			renderTo: 'container',
			type: 'line',
			zoomType: 'x',
			events: {
				load: requestData
			}
		},
		title: {
			text: 'Account Balance'
		},
		xAxis: {
			title: {
				text: 'Date'
			},
			type: 'datetime',
			maxZoom: 48 * 3600 * 1000,
		},
		yAxis: {
			title: {
				text: 'Balance'
			}
		},
		credits: {
			enabled: false
		},
		series: [
			{
				name: "Balance",
				type: 'area',
				data: []
			},

			{
				name: "Payment",
				type: 'column',
				pointWidth: 20,
				data: []
			},

			{
				name: "Credit Note",
				type: 'column',
				pointWidth: 20,
				data: []
			},

			{
				name: "Refund",
				type: 'column',
				pointWidth: 20,
				data: []
			},


			{
				name: "Invoice",
				type: 'column',
				pointWidth: 20,
				data: []
			},

		]
	});


{% endblock %}

{% block tpl_bl_body_content_right %}

<div class="widget">
Balance:<br/>
<span style='font-size: 2em; font-weight: bold;'>R {{ instance.balance|decsplay }}</span>
</div>

<div class="widget">
<h3>Clients</h3>
<ul>
	<li><a id="id_ral_modal_org_account_new_invoice">New Invoice</a></li>
	<li><a id="id_ral_modal_org_account_new_payment">Receive Payment</a></li>
	<li><a id="id_ral_modal_org_account_new_creditnote">Create a Credit Note</a></li>
	<li><a id="id_ral_modal_org_account_new_refund">Create a Refund</a></li>
</ul>
</div>



{% with uic=instance.get_client.get_unpaid_invoice_count upc=instance.get_client.get_unallocated_payment_count ucc=instance.get_client.get_unallocated_credit_note_count urc=instance.get_client.get_unallocated_refund_count  %}

{% if uic > 0 or upc > 0 or ucc > 0 or urc > 0 %}

<div class="widget">

{% if uic > 0 %}
<div>
<span style=' font-size: 2em; font-weight: bold; '>{{ uic }}</span>
<a href="{{ instance.get_client.get_unpaid_invoice_list_url }}">Outstanding Invoice{{ uic|pluralize }}</a>
</div>
{% endif %}

{% if upc > 0 %}
<div>
<span style=' font-size: 2em; font-weight: bold; '>{{ upc }}</span>
<a href="{{ instance.get_client.get_unallocated_payment_list_url }}">Unallocated Payment{{ upc|pluralize }}</a>
</div>
{% endif %}

{% if ucc > 0 %}
<div>
<span style=' font-size: 2em; font-weight: bold; '>{{ ucc }}</span>
<a href="{{ instance.get_client.get_unallocated_credit_note_list_url }}">Unallocated Credit Note{{ ucc|pluralize }}</a>
</div>
{% endif %}

{% if urc > 0 %}
<div>
<span style=' font-size: 2em; font-weight: bold; '>{{ urc }}</span>
<a href="{{ instance.get_client.get_unallocated_refund_list_url }}">Unallocated Refund{{ urc|pluralize }}</a>
</div>
{% endif %}

</div>

{% endif %}
{% endwith %}




{% endblock %}


{% block tpl_bl_body_content_center %}

<div class='clearfix' >
	<div style="
		padding: 10px;
		border: 1px solid #dedbd1;
		margin: 0px 5px 5px 5px;
		box-shadow: 0px 1px 5px #dedbd1;
		">
		<div id="container" style="height: 400px;"></div>
	</div>
</div>



{% endblock %}

