{% extends 'pages/org/client/account/base.html' %}

{% block tpl_ps_rely %}ral sitekit{% endblock %}

{% load decshift %}

{% block tpl_si_section %}Account{% endblock %}


{% block tpl_bl_head_onready %}

	var cdata = {
		csrfmiddlewaretoken : '{{ csrf_token }}',
		oid: {{ kwargs.oid }},
		cid: {{ kwargs.cid }}
	};

	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_invoice', 'org.account.new.invoice', cdata );
	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_payment', 'org.account.new.payment', cdata );
	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_creditnote', 'org.account.new.creditnote', cdata );
	ral.html.custom.attach_post( '#id_ral_modal_org_account_new_refund', 'org.account.new.refund', cdata );
{% endblock %}

{% block tpl_bl_body_content_right %}

<div class="widget">
<h3>Clients</h3>
<ul>
	<li><a id="id_ral_modal_org_account_new_invoice">New Invoice</a></li>
	<li><a id="id_ral_modal_org_account_new_payment">Receive Payment</a></li>
	<li><a id="id_ral_modal_org_account_new_creditnote">Create a Credit Note</a></li>
	<li><a id="id_ral_modal_org_account_new_refund">Create a Refund</a></li>
</ul>
</div>

{% endblock %}


{% block tpl_bl_body_content_center %}

<div style=" font-size: 2em; margin: 20px 0px; ">
Current Balance: {{ instance.balance|decsplay }}
</div>

<div style=" font-size: 2em; margin: 20px 0px; ">
<a href="{{ instance.get_client.get_unpaid_invoice_list_url }}">Unpaid Invoices: {{ instance.get_client.get_unpaid_invoice_count }}</a>
</div>

<div style=" font-size: 2em; margin: 20px 0px; ">
<a href="{{ instance.get_client.get_unallocated_payment_list_url }}">Unallocated Payments: {{ instance.get_client.get_unallocated_payment_count }}</a>
</div>

<div style=" font-size: 2em; margin: 20px 0px; ">
<a href="{{ instance.get_client.get_unallocated_credit_note_list_url }}">Unallocated Credit Notes: {{ instance.get_client.get_unallocated_credit_note_count }}</a>
</div>

<div style=" font-size: 2em; margin: 20px 0px; ">
<a href="{{ instance.get_client.get_unallocated_refund_list_url }}">Unallocated Refunds: {{ instance.get_client.get_unallocated_refund_count }}</a>
</div>

<div style=" font-size: 2em; margin: 20px 0px; ">
{% comment %}
Unallocated Funds: {{ instance.get_client.get_unallocated_payment_amount|decsplay }}
{% endcomment %}
</div>

{% endblock %}

