
#content-wrap {
	position: relative;
	margin-top: 25px;
}


#content {
	margin: auto;
	height: auto;
	overflow: hidden;

/*
	background: white;
	box-shadow: 1px 1px 10px #888888;
	border: 1px solid #dedbd1;
*/
}


#content.without-menu {
	position: absolute;
	left: 50px;
	top: 0px;
	right: 50px;
	min-width: 860px;
}

#content-menu-left
{
	position: absolute;
	left: 50px;
	top: 0px;
	width: 200px;
	overflow: hidden;
}

#content.with-menu-left {
	position: absolute;
	left: 270px;
	top: 0px;
	right: 50px;
	min-width: 640px;
}

#content-menu-right
{
	position: absolute;
	right: 50px;
	top: 0px;
	width: 200px;
	overflow: hidden;
}

#content.with-menu-right {
	position: absolute;
	left: 50px;
	right: 270px;
	top: 0px;
	min-width: 640px;
}


#content.with-menu-both {
	position: absolute;
	left: 270px;
	right: 270px;
	top: 0px;
	min-width: 380px;
}



.content-menu .box {
	padding: 15px;
	color: #555555;
	border: 1px solid #dedbd1;
	overflow: hidden;
	margin: 0px 0px 15px 0px;
	background: #F5F4F0;
}

.content-menu .widget {
	padding: 15px;
	color: #555555;
	border: 1px solid #dedbd1;
	overflow: hidden;
	margin: 0px 0px 15px 0px;
	background: white;
}


.content-menu h3 {
	background: #EBE9E1;
	font: 12px Arial, Helvetica, sans-serif;
	color: #363636;
	font-weight: bold;
	padding: 5px 8px;
	display: block;
	margin: 0px 0px 7px 0px;
	text-align: left;
	border: 1px solid #dedbd1;
	height: 16px;
}


.content-menu ul {
	list-style: none;
	line-height: 16px;
	padding: 0px;
}

.content-menu ul li {
	border-bottom: 1px solid #f1f1ed;
	padding: 5px 0px;
}

.content-menu ul li a {
	color: #222222;
}

.content-menu ul li a,
.content-menu ul li a:visited
{
	text-decoration: none;
}

.content-menu ul li a:hover
{
	text-decoration: underline;
}

.content-menu ul li ul
{
	margin: 5px 0px 0px 10px;
}

.content-menu ul li ul li
{
	border-top: 1px solid #f1f1ed;
	border-bottom: none;
}


