
#message-block {
	margin: 0px 15px 15px 15px;
	position: relative;
}

.message-notice
{
	position: relative;
	color: black;
	margin: 5px 0px;
	padding: 5px;

	border-radius: 10px;
	border-width: 4px;
	border-style: solid;

	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 20px;
}

.message-notice .close-button {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	margin: 1px;
	background-image: url( '../images/icons/icons.png' );
	background-position: -96px -128px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


.message-notice div {
	margin: 10px 50px 10px 70px;
}

.message-notice.success {
	background-color: #f2fff2;
	border-color: green;
}

.message-notice.success {
	background-image: url(../images/icons/message_tick.png);
}

.message-notice.error {
	color: red;
	background-color: #fff2f2;
	border-color: darkred;
}

.message-notice.error {
	background-image: url(../images/icons/message_error.png);
}

.message-notice.info {
	background-color: #f2f2ff;
	border-color: darkblue;
}

.message-notice.info {
	background-image: url(../images/icons/message_info.png);
}

.message-notice.warning {
	background-color: #fff2f2;
	border-color: orange;
}

.message-notice.warning {
	background-image: url(../images/icons/message_warning.png);
}


