
#subgroup-panel
{
	position: relative;
	margin: auto;
	padding-top: 15px;
	background: #f2f2f2;
}

#subgroup-panel-inner
{
	position: relative;
	background-color: #4e5e4e;
}

#subgroup-panel #subgroup-panel-orgname-title
{
	padding: 15px 15px;
	font-size: 2em;
	overflow: hidden;
}

#subgroup-panel #subgroup-panel-orgname-title a,
#subgroup-panel #subgroup-panel-orgname-title a:visited,
#subgroup-panel #subgroup-panel-orgname-title a:active
{
	text-decoration: none;
	color: white;
}

#subgroup-panel #subgroup-panel-orgname-title a:hover
{
	text-decoration: underline;
}


