
#id_header
{
	position: relative;
	padding: 0px;
	margin: auto;
	overflow: hidden;
	background: #4e4e4e;
}

#id_header #global-links
{
	float: left;
	margin: 0px;
	width: 650px;
	padding-top: 5px;
	z-index: 0;
	color: #9e9e9e;
}

#id_header #global-links ul
{
	list-style: none;
}

#id_header #global-links ul li
{
	float: left;
	padding: 8px 13px;
	margin-left: 3px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
	font-size: 1em;
//	border-radius: 5px 5px 0px 0px;
}

#id_header #global-links ul li.active
{
	background: #2e2e2e;
	color: #6e6e6e;
}



#id_header #global-links a
{
	list-style: none;
	text-decoration: none;
	color: inherit;
}

#id_header #global-links a:hover
{
	text-decoration: underline;
}


#id_header #header-options
{
	float: right;
	padding: 10px 10px 0px 0px;
	margin: 0px;
	color: #cccccc;
	text-align: right;
}

#id_header #header-options a,
#id_header #header-options a:visited
{
	text-decoration: none;
	color: inherit;
}

#id_header #header-options a:hover
{
	text-decoration: underline;
}


