
#id_header
{
	position: relative;
	padding: 0px;
	margin: auto;
	overflow: hidden;
	background: #f0f0f0;
	border-bottom: 1px solid #a0a0a0;
	height: 30px;
	line-height: 29px;
}

#id_header #global-links
{
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 11px;
}

#id_header #global-links ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}

#id_header #global-links ul li
{
	float: left;
	border-left: 1px solid #DEDBD1;
}

#id_header #global-links ul li.active
{
	background: #e8e8e8;
	color: black;
}


#id_header #global-links a
{
	list-style: none;
	text-decoration: none;
	color: inherit;
	padding: 0px 10px;
}

#id_header #global-links a:hover
{
	text-decoration: underline;
	color: #E8A02C
}


#id_header #header-options
{
	float: right;
	padding: 0px;
	color: #8e8e8e;
	text-align: right;
	margin-left: 10px;
	margin-right: 10px;
}

#id_header #header-options a,
#id_header #header-options a:visited
{
	text-decoration: none;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}

#id_header #header-options a:hover
{
	text-decoration: underline;
}


