{% extends 'pages/org/invoice/basic.html' %}

{% load decshift %}

{% block str_section_name %}Payment{% endblock %}


{% block onready %}

	$( '.deallocate-payment' ).click( function() {

		allocref = $(this).attr( "value" ).split( ',' );

		iid = allocref[0];
		payid = allocref[1];

		$(document).smkTools(
			'load_modal',
			'deallocate-payment',
			OOD.URL.Component(
				OOD.URL.Invoice( {{ kwargs.oid }}, {{ kwargs.cid }}, iid ),
				'deallocate-payment'
			)
			+ '&payid=' + payid
		);

		return false;
	});

	$( '#id_allocate_to_invoice' ).smkTools(
		'click_modal',
			OOD.URL.Component(
				OOD.URL.Payment( {{ kwargs.oid }}, {{ kwargs.cid }}, {{ kwargs.payid }} ),
				'allocate-payment'
			)
	);


{% endblock %}



{% block document_type %}Payment{% endblock %}

{% block document_status %}
{{ instance.get_state_display }}
{% endblock %}

{% block document_dates %}
Payment received {{ instance.payment_date|date:"j M Y" }}
{% endblock %}


{% block document_payment_status %}
{% if instance.is_allocated %}
<div class="paid">Fully Allocated</div>
{% else %}
<div class="unpaid">Not Allocated</div>
{% endif %}
{% endblock %}



{% block document_body %}


<style>
.invoice-payment-table.allocation th {
	text-align: left;
	font-weight: bold;
	padding-bottom: 20px;
}
	
</style>


<div class="summary-row">
	<div class="summary-portion">

		<div class="inner-amount">
			<div class="inner-amount-label">
				Total
			</div>
			<div class="inner-amount-amount">
				<span id="summary_amount">{{ instance.amount|decsplay }}</span>
			</div>
		</div>

		<div class="inner-tax">
			<div class="inner-tax-label">
				Allocated Amount
			</div>
			<div class="inner-tax-amount">
				<span id="summary_tax">{{ instance.get_amount_allocated|decsplay }}</span>
			</div>
		</div>

		<div class="inner-outstanding">
			<div class="inner-outstanding-label">
				Unallocated Amount
			</div>
			<div class="inner-outstanding-amount">
				<span id="summary_outstanding">{{ instance.get_amount_free|decsplay }}</span>
			</div>
		</div>

	</div>

	<div style="clear: both;">&nbsp;</div>
</div>

{% if instance.paymentallocation_set.count > 0 %}

<div style=" padding: 0px 20px 20px 20px; ">

	<div style="font-size: 1.3em; margin: 20px 0px;">Allocated to:</div>

	<table class="invoice-payment-table allocation">
		<thead>
			<tr>
				<th>Invoice</th>
				<th>Invoice Total</th>
				<th>Allocated Amount</th>
				<th>Deallocate</th>
			</tr>
		</thead>
		<tbody>
		{% for pmt in instance.paymentallocation_set.all %}
			<tr>
				<td>Invoice {{ pmt.invoice.refnum }}</td>
				<td>{{ pmt.invoice.total|decsplay }}</td>
				<td>{{ pmt.amount|decsplay }}</td>
				<td><input class="deallocate-payment" type="image" src='{{ STATIC_URL }}images/icons/line_delete_grey.png' value="{{ pmt.invoice.refnum }},{{ pmt.id }}"/></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endif %}


{% endblock %}

{% block document_button_row_left %}
	<button id="id_reverse_payment" type="button">Reverse Payment</button>
{% endblock %}

{% block document_button_row_right %}
{% if not instance.is_allocated %}
	<button id="id_allocate_to_invoice" type="button">Allocate to an Invoice</button>
{% endif %}
{% endblock %}




