
/* ----- GLOBAL --------------------------------------------- */

html {
	height: 100%;
}

html body {
	position: relative;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
/*	background: #EBE9E1; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	margin: 0 0 1.5em;
}


/* ----- WRAP ----------------------------------------------- */

#id_tpl_bl_body_wrap {
	min-height: 100%;
	min-width: 950px;
	position: relative;
	vertical-align: baseline;
	margin: auto;
	padding: 0;
}


