
.content-menu ul {
	list-style: none;
}

.content-menu ul li {
	padding: 20px 0px 20px 15px;
	margin: 0px 7px 20px 0px;

	background: #fafafa;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;

	box-shadow: 1px 1px 5px #cccccc;
	-moz-box-shadow: 1px 1px 5px #cccccc;
	-webkit-box-shadow: 1px 1px 5px #cccccc;
}

.content-menu ul li.active {
	background: #BBCCFF;
}

.content-menu ul li:hover {
	background: #E3E9FF;
}

.content-menu ul li a,
.content-menu ul li a:visited
{
	text-decoration: none;
}

.content-menu ul li a:hover
{
	text-decoration: underline;
}

.content-menu ul li a {
	font-size: 1.0em;
	font-weight: bold;
	color: black;
}


