.itol
{
	margin: 10px 10px;
	background-color: #f2f2f2;
	border: 1px solid #a2a2a2;
	box-shadow: 1px 1px 2px #cccccc;
}

.itol .itol-header
{
	padding: 0px 0px 20px 0px;
	margin: 15px 15px;
}

.itol .itol-type
{
	float: left;
	font-size: 2.3em;
}

.itol .itol-type-status
{
	float: right;
	padding-right: 20px;
	padding-top: 5px;
}



.itol .itol-status
{
	border-bottom: 1px solid #e2e2e2;
	padding: 0px 0px 20px 0px;
	margin: 15px 15px;
}

.itol .itol-dates
{
	float: left;
}

.itol .itol-payment-status
{
	float: right;
	padding-right: 20px;
	padding-top: 5px;
}


.itol .itol-payment-label
{
	font-size: 2em;
}


.itol .itol-payment-label .paid
{
	color: green;
}

.itol .itol-payment-label .unpaid
{
	color: red;
}



.itol .itol-status-label
{
	font-size: 2em;
}

.itol .itol-header input
{
	padding-left: 5px;
}



.itol .tax-row
{
	padding: 0px 15px;
}

.itol .item-list
{
	padding: 0px 15px;
}

.itol .item-list table
{
	width: 100%;
}

.itol .item-list thead tr
{
	border-bottom: 1px solid #707070;
}

.itol .item-list thead th
{
	text-align: left;
	padding: 5px 5px;
	background-color: #ffffff;
}

.itol .item-list thead .head-description { width: 235px; }
.itol .item-list thead .head-qty { width: 123px; }
.itol .item-list thead .head-unit-price { width: 147px; }
.itol .item-list thead .head-tax-rate { width: 195px; }
.itol .item-list thead .head-amount { width: 158px; }
.itol .item-list thead .head-delete { width: 20px; }


.itol .item-list tbody tr
{
	border-left: 1px solid #d8d8d8;
}

.itol .item-list tbody td
{
	text-align: left;
	padding: 5px 5px;
	background-color: #ffffff;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}

.itol .item-list tbody input
{
	border: 0px;
	background-color: #f0f0f0;
	width: 100%;
}



.itol .item-list tbody td.item-qty
{
	text-align: right;
	padding-right: 8px;
}

.itol .item-list tbody td.item-qty input
{
	text-align: right;
}

.itol .item-list tbody td.item-unit-price
{
	text-align: right;
	padding-right: 8px;
}

.itol .item-list tbody td.item-unit-price input
{
	text-align: right;
}

.itol .item-list tbody td.item-tax-rate select
{
	width: 100%;
}



.itol .item-list tbody td.item-amount
{
	text-align: right;
	padding-right: 8px;
}




.itol .item-list tbody td.item-delete
{
	background-color: inherit;
}


.itol .summary-row
{
	margin: 20px 20px;
}


.itol .summary-row .add-row-portion
{
	float: left;
	max-width: 440px;
}

.itol .summary-row .add-row-portion .comment-title
{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1em;
	color: #525252;
}

.itol .summary-row .add-row-portion .comment-block
{
}

.itol .summary-row .add-row-portion .comment-block textarea
{
	width: 350px;
	height: 60px;
	border: 1px solid #e2e2e2;
	resize: none;
}

.itol .summary-row .summary-portion
{
	float: right;
	width: 350px;
	padding: 0px 30px;
}

.itol .summary-row .summary-portion .inner-amount
{
	border-bottom: 1px solid black;
	height: 30px;
	padding: 5px;
}

.itol .summary-row .summary-portion .inner-amount .inner-amount-label
{
	float: left;
	width: 130px;
}

.itol .summary-row .summary-portion .inner-amount .inner-amount-amount
{
	float: right;
	width: 200px;
	text-align: right;
}


.itol .summary-row .summary-portion .inner-tax
{
	border-bottom: 1px solid black;
	height: 30px;
	padding: 5px;
	margin-top: 10px;
}

.itol .summary-row .summary-portion .inner-tax .inner-tax-label
{
	float: left;
	width: 130px;
}

.itol .summary-row .summary-portion .inner-tax .inner-tax-amount
{
	float: right;
	width: 200px;
	text-align: right;
}

.itol .summary-row .summary-portion .inner-total
{
	height: 30px;
	padding: 5px;
	margin-top: 10px;
	font-size: 1.3em;
}

.itol .summary-row .summary-portion .inner-total .inner-total-label
{
	float: left;
	width: 130px;
}

.itol .summary-row .summary-portion .inner-total .inner-total-amount
{
	float: right;
	width: 200px;
	text-align: right;
}



.itol .summary-row .summary-portion .inner-paid
{
	border-bottom: 1px solid black;
	height: 30px;
	padding: 5px;
	margin-top: 10px;
}

.itol .summary-row .summary-portion .inner-paid .inner-paid-label
{
	float: left;
	width: 130px;
}

.itol .summary-row .summary-portion .inner-paid .inner-paid-amount
{
	float: right;
	width: 200px;
	text-align: right;
}




.itol .summary-row .summary-portion .inner-outstanding
{
	height: 30px;
	padding: 5px;
	margin-top: 10px;
	font-size: 1.3em;
}

.itol .summary-row .summary-portion .inner-outstanding .inner-outstanding-label
{
	float: left;
	width: 130px;
}

.itol .summary-row .summary-portion .inner-outstanding .inner-outstanding-amount
{
	float: right;
	width: 200px;
	text-align: right;
}


	

.itol .button-row
{
	background-color: #a2a2a8;
	padding: 10px;
}

.itol .button-row .button-row-left
{
	float: left;
}

.itol .button-row .button-row-right
{
	float: right;
}

.itol-payment-table
{
	width: 100%;
}




