{% load decshift %}
<div id="dialog-form" title="Allocate Payment">
	<p class="validateTips">All form fields are required</p>
	<form id="allocate-new-form" method="POST" action="{% url org-client-account-payment-list instance.get_org.refnum instance.get_client.refnum %}">
		{% csrf_token %}

		<div id="dialog-text">&nbsp;</div>


		<input type="hidden" name="payment-refnum" id="id-payment-refnum" value="-1"/>
		<input type="hidden" id="id-payment-total" value="0"/>
		<input type="hidden" id="id-payment-free" value="0"/>
	</form>
</div>

<div id="dialog-form-one">
	<div>List of unallocated payments:</div>

	<fieldset>

	<table class="payment-table-list">
		<thead>
			<tr>
				<th>Payment Date</th>
				<th class="numeric">Total</th>
				<th class="numeric">Unallocated</th>
			</tr>
		</thead>
		<tbody>
			{% for obj in instance.client.get_unallocated_payments %}
			<tr class="payment-line">
				<td class="first">{{ obj.payment_date }}</td>
				<td class="numeric">{{ obj.amount|decsplay }}</td>
				<td class="numeric">{{ obj.get_amount_free|decsplay }}</td>
				<input class="total" type="hidden" value="{{ obj.amount }}"/>
				<input class="free" type="hidden" value="{{ obj.get_amount_free }}"/>
				<input class="refnum" type="hidden" value="{{ obj.refnum }}"/>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</fieldset>
</div>
	

<div id="dialog-form-two">
	<div>This is the second option</div>
</div>


