{% extends 'singlebase.html' %}

{% block title %}View Account{% endblock %}

{% block orgname %}{{ instance.client.organization.trading_name }}{% endblock %}

{% block links %}
<a href='{% url org-client-account-transaction-list instance.client.organization.refnum instance.client.refnum instance.refnum %}'>Transactions</a> | 
<a href='{% url org-client-account-reservation-list instance.client.organization.refnum instance.client.refnum instance.refnum %}'>Reservations</a>
{% endblock %}

{% block kvp %}

<tr>
	<td>Reference Number:</td>
	<td>{{ instance.refnum }}</td>
</tr>

<tr>
	<td>Is Enabled:</td>
	<td>{{ instance.is_enabled }}</td>
</tr>

<tr>
	<td>Name:</td>
	<td>{{ instance.name }}</td>
</tr>

<tr>
	<td>Min Balance:</td>
	<td>{{ instance.min_balance }}</td>
</tr>


<tr>
	<td>Balance:</td>
	<td>{{ instance.balance }}</td>
</tr>


<tr>
	<td>Reserved:</td>
	<td>{{ instance.reserved }}</td>
</tr>




{% endblock %}

