{% extends 'layouts/org/member.html' %}

{% block str_org_name %}{{ instance.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ instance.get_client.trading_name }}{% endblock %}
{% block str_section_name %}Account: {{ instance.name }} {% endblock %}


{% block page_functions %}

<ul>
	<li class=""><a href="{{ instance.get_single_url }}">Dashboard</a></li>
	<li class=""><a href="{{ instance.get_transaction_list_url }}">Transactions</a></li>
</ul>

{% endblock  %}


{% block content %}

<table>
<tr>
	<td>Reference Number:</td>
	<td>{{ instance.refnum }}</td>
</tr>

<tr>
	<td>Name:</td>
	<td>{{ instance.name }}</td>
</tr>
</table>

{% endblock %}



