{% extends 'layouts/org/member.html' %}

{% load decshift %}

{% block str_org_name %}{{ instance.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ instance.get_client.trading_name }}{% endblock %}
{% block str_section_name %}Account{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ instance.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ instance.get_client.get_single_url }}">{{ instance.get_client.trading_name }}</a>&gt;
	<a href="{{ instance.get_client.get_account_single_url }}">Account</a>&gt;
{% endblock %}


{% block page_functions %}
{% include 'page_functions/org/client_level.html' with instance=instance.get_client %}
{% endblock %}

{% block subsection_functions %}
{% include 'subsection_functions/org/account_subsections.html' with instance=instance %}
{% endblock %}

{% block head_includes %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/smk.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>

{% endblock %}


{% block onready %}

	$('#account_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	$( "#invoice-create" ).click(function() {

		invoice_list_url = OOD.URL.Invoices( 
							{{ instance.get_org.refnum }}, 
							{{ instance.get_client.refnum }}
						)
						+ '?format=json';

		$.post( invoice_list_url, function( data ) {
				window.location.href = data[ 'url' ];
			}
		);
	});


	datesettings = {
		dateFormat: 'd M yy',
		onClose: function( theDate ) {
			requested_date = Date.parse( theDate );
			if ( requested_date != null )
				$(this).val( $.datepicker.formatDate( 'd M yy', requested_date ) );
			else
				$(this).val( $.datepicker.formatDate( 'd M yy', Date.today() ) );
		}
	}

	$('#id_payment_date').datepicker( datesettings );

	$( '#payment-create' ).smkTools(
			'click_modal',
			OOD.URL.Component(
				OOD.URL.Account( {{ kwargs.oid }}, {{ kwargs.cid }} ),
				'receive-payment'
			)
		);
	

{% endblock %}

{% block content_menu_right %}

<ul>
	<li><a href="#" id="invoice-create">New Invoice</a></li>
	<li><a href="#" id="payment-create">Receive Payment</a></li>
</ul>

{% endblock %}


{% block content %}


<div style=" font-size: 2em; margin: 20px 0px; ">
Current Balance: {{ instance.balance|decsplay }}
</div>

<div style=" font-size: 2em; margin: 20px 0px; ">
Unallocated Funds: {{ instance.get_client.get_unallocated_payment_amount|decsplay }}
</div>


{% endblock %}


