

#content-menu ul {
	list-style: none;
}

#content-menu ul li {
	padding: 20px 0px 20px 15px;
	margin: 20px 0px;
/*
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
*/

	background: #fafafa;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}


#content-menu ul li.active {
	background: #BBCCFF;
}

#content-menu ul li:hover {
	background: #E3E9FF;
}

#content-menu ul li a,
#content-menu ul li a:visited
{
	text-decoration: none;
}

#content-menu ul li a:hover
{
	text-decoration: underline;
}




#content-menu ul li a {
	font-size: 1.0em;
	font-weight: bold;
	color: black;
}



