/*
 *	
 *		. GLOBAL
 *		. WRAP
 *		. HEADER
 *		. NAV MENU
 *		. CONTENT
 *		. FOOTER
 *
 */


/* ----- GLOBAL --------------------------------------------- */

html {
	height: 100%;
}

html body {
	position: relative;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, Sans-Serif;
	font-size: 12px;
	background: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Trebuchet MS;
}

p {
	margin: 0 0 1.5em;
}


/* ----- WRAP ----------------------------------------------- */

#wrap {
	min-height: 100%;
	min-width: 950px;
	position: relative;
	vertical-align: baseline;
	margin: auto;
	padding: 0;
}

/* ----- HEADER --------------------------------------------- */


#header
{
	position: relative;
	padding: 15px 20px;
	margin: auto;
	height: 18px;
	background: #2e2e2e;
}

#header #header-orgname-title
{
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
}

#header #header-orgname-title a,
#header #header-orgname-title a:visited,
#header #header-orgname-title a:active
{
	text-decoration: none;
	color: #cccccc;
}

#header #header-orgname-title a:hover
{
	text-decoration: underline;
}


#header #header-options
{
	position: absolute;
	padding: 15px 10px;
	top: 0px;
	right: 0px;
	color: #cccccc;
}

#header #header-options a,
#header #header-options a:visited
{
	text-decoration: none;
	color: #cccccc;
}

#header #header-options a:hover
{
	text-decoration: underline;
}


/* ----- PAGE SECTION INFO ----------------------------------- */

#page-section-info
{
	position: relative;
	height: 90px;
	overflow: hidden;
}

#page-section-info #client-name
{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 30px 40px;
}

#page-section-info #client-name a
{
	text-decoration: none;
	color: inherit;
}

#page-section-info #client-name-title
{
	font-size: 2.5em;
	text-shadow: 1px 1px 1px #808080;
}

#page-section-info #section-name
{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 30px 40px;
}

#page-section-info #section-name-title
{
	font-size: 2.5em;
	text-shadow: 1px 1px 1px #808080;
	color: #409040;
}



/* ----- CONTENT --------------------------------------------- */

#content-wrap {
	position: relative;
}

#content {
	margin: auto;
	height: auto;
	min-height: 300px;
	background: #fafafa;

	border-radius: 0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;

	border: 1px solid #e9e9e9;
	overflow: hidden;
}


#content.without-menu {
	position: absolute;
	left: 50px;
	top: 0px;
	right: 50px;
	min-width: 860px;
}

#content-menu-left
{
	position: absolute;
	left: 50px;
	top: 0px;
	width: 200px;
	overflow: hidden;
}

#content.with-menu-left {
	position: absolute;
	left: 270px;
	top: 0px;
	right: 50px;
	min-width: 640px;
}

#content-menu-right
{
	position: absolute;
	right: 50px;
	top: 0px;
	width: 200px;
	overflow: hidden;
}

#content.with-menu-right {
	position: absolute;
	left: 50px;
	right: 270px;
	top: 0px;
	min-width: 640px;
}


#content.with-menu-both {
	position: absolute;
	left: 270px;
	right: 270px;
	top: 0px;
	min-width: 380px;
}


