
/* ------------- SUBSECTION -------------------------- */

#subsection-functions-div
{
	height: 30px;
	overflow: hidden;
	margin: 0px;
	padding-left: 40px;
	color: black;

	border-bottom: 1px solid #e0e0e0;
}

#subsection-functions-proper ul
{
	list-style: none;
}

#subsection-functions-proper ul:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

#subsection-functions-proper ul li
{
	float: left;
	margin: 0px 10px;
	padding: 8px 10px 10px 10px;
}

#subsection-functions-proper ul li.active
{
	color: white;
	background-color: #727272;
}

#subsection-functions-proper ul li a
{
	text-decoration: none;
	font-size: 1em;
	color: inherit;
}


/* ------------- DBLSUBSECTION -------------------------- */

#dblsubsection-functions-div
{
	height: 30px;
	overflow: hidden;
	margin: 0px;
	padding-left: 40px;
	color: black;

	border-bottom: 1px solid #e0e0e0;
}

#dblsubsection-functions-proper ul
{
	list-style: none;
}

#dblsubsection-functions-proper ul:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

#dblsubsection-functions-proper ul li
{
	float: left;
	margin: 0px 10px;
	padding: 8px 10px 10px 10px;
}

#dblsubsection-functions-proper ul li.active
{
	color: white;
	background-color: #727272;
}

#dblsubsection-functions-proper ul li a
{
	text-decoration: none;
	font-size: 1em;
	color: inherit;
}



/* ------------- TPLSUBSECTION -------------------------- */

#tplsubsection-functions-div
{
	height: 30px;
	overflow: hidden;
	margin: 0px;
	padding-left: 40px;
	color: black;

	border-bottom: 1px solid #e0e0e0;
}

#tplsubsection-functions-proper ul
{
	list-style: none;
}

#tplsubsection-functions-proper ul:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

#tplsubsection-functions-proper ul li
{
	float: left;
	margin: 0px 10px;
	padding: 8px 10px 10px 10px;
}

#tplsubsection-functions-proper ul li.active
{
	color: white;
	background-color: #727272;
}

#tplsubsection-functions-proper ul li a
{
	text-decoration: none;
	font-size: 1em;
	color: inherit;
}



