{% extends 'layouts/member-base-full.html' %}

{% block tpl_si_org %}{{ extra.trading_name }}{% endblock %}
{% block tpl_si_section %}Users{% endblock %}

{% block tpl_bl_body_functions_page %}
{% include 'menus/org/org_top.html' with instance=extra %}
{% endblock  %}

{% block tpl_bl_head_inner %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>

{% endblock %}

{% block tpl_bl_onready %}

	$(function() {
		
		var first_name = $( "#id_first_name" ),
			last_name = $( "#id_last_name" ),
			email_address = $( "#id_email_address" ),
			category = $( "#id_category" ),
			allFields = $( [] ).add( first_name ).add( last_name ).add( email_address ).add( category ),
			tips = $( ".validateTips" );

		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 550,
			modal: true,
			buttons: {
				"Add a new User": function() {
					var bValid = true;
					allFields.removeClass( "ui-state-error" );

					bValid = bValid && validation.length( tips, first_name, "First Name", 2, 32 );
					bValid = bValid && validation.length( tips, last_name, "Last Name", 2, 32 );
					bValid = bValid && validation.email( tips, email_address );

					if ( bValid ) {
						$( "#create-new-form" ).submit();
					}
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		$( "#org-add-new-user" )
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
	});


	$('#user_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});




{% endblock %}


{% block content_menu_right %}
<ul>
	<li><a href="#" id="org-add-new-user">Add a new User</a></li>
</ul>

<div id="dialog-form" title="Add a new user">
	<p class="validateTips">All form fields are required</p>
	<form id="create-new-form" method="POST" action="">
		{% csrf_token %}
		<fieldset>
			<label for="first_name">First Name</label>
			<input type="text" name="first_name" id="id_first_name" class="text ui-widget-content ui-corner-all" />
			<label for="last_name">Last Name</label>
			<input type="text" name="last_name" id="id_last_name" class="text ui-widget-content ui-corner-all" />
			<label for="email_address">Email Address</label>
			<input type="text" name="email_address" id="id_email_address" class="text ui-widget-content ui-corner-all" />

			<label for="category">Category</label>
			<select name="category" id="id_category" class="select ui-widget-content ui-corner-all">
				<option value="0">Owner</option>
				<option value="10">Administrator</option>
				<option value="20">Employee</option>
				<option value="30">Contractor</option>
				<option value="40">Client</option>
				<option value="50" SELECTED="1">Guest</option>
			</select>

		</fieldset>
	</form>
</div>
{% endblock %}


{% block content %}

<table
	id="user_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th width="200px">Name</th>
		<th>Email Address</th>
		<th width="150px">Last Seen</th>
		<th width="100px">Membership</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.user.first_name }} {{ obj.user.last_name }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.user.email }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.user.get_profile.last_seen }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.get_category_display }}</a></td>
	</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}


