{% extends 'layouts/member-base-full.html' %}

{% block tpl_si_org %}{{ instance.get_org.trading_name }}{% endblock %}
{% block tpl_si_section %}Dashboard{% endblock %}

{% block tpl_bl_body_breadcrumbs %}
	{{ block.super }}
	<a href="{{ instance.get_org.get_user_list_url }}">Users</a>&gt;
	<a href="{{ instance.get_single_url }}">{{ instance.user.first_name }} {{ instance.user.last_name }}</a>&gt;
{% endblock %}


{% block tpl_bl_body_functions_page %}

<ul>
	<li class=""><a href="{{ instance.get_single_url }}">Dashboard</a></li>
</ul>

{% endblock  %}


{% block tpl_bl_body_content_center %}

<table>
<tr>
	<td>First Name:</td>
	<td>{{ instance.user.first_name }}</td>
</tr>

<tr>
	<td>Last Name:</td>
	<td>{{ instance.user.last_name }}</td>
</tr>

<tr>
	<td>Email Address:</td>
	<td>{{ instance.user.email }}</td>
</tr>

</table>

{% endblock %}



