{% load imageurls %}
<style type="text/css">
.dialog-message-block {
	position: relative;
}

.dialog-message-block .dialog-message-notice
{
	position: relative;
	color: black;
	padding: 20px 20px 20px 75px;

	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 20px;
}

.dialog-message-block .dialog-message-notice .close-button {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	margin: 1px;
	background-image: url( '../images/icons/icons.png' );
	background-position: -96px -128px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


.dialog-message-block .dialog-message-notice div {
	margin: 10px 50px 10px 70px;
}

.dialog-message-block .dialog-message-notice.success {
	background-image: url( {% image_icon success %} );
}

.dialog-message-block .dialog-message-notice.error {
	background-image: url( {% image_icon error %} );
}

.dialog-message-block .dialog-message-notice.info {
	background-image: url( {% image_icon info %} );
}

.dialog-message-block .dialog-message-notice.warning {
	background-image: url( {% image_icon warning %} );
}

</style>



<div style="width: 300px;">

	<div class="ral_dialog_titlebar ral_clear">
		<span class="ral_dialog_title">Notice</span>
		<a class="ral_dialog_titlebar_close ral_action_close">
			<span>close</span>
		</a>
	</div>

	<div class="ral_dialog_content ral_clear">
		{% if messages %}
		<div class="dialog-message-block">
			{% for message in messages %}
			<div class="dialog-message-notice {{ message.tags }}"><span>{{ message|safe }}</span></div>
			{% endfor %}
		</div> <!-- #message-block -->
		{% endif %}
	</div>

	<div class="ral_dialog_buttonbar ral_clear" style='background-color: white'>
		{% if additional.buttons %}
			{% for but in additional.buttons %}
			<button type="button" class="{{ but.class }}">{{ but.label }}</button>
			{% endfor %}
		{% else %}
			<button type="button" class="ral_action_close">Close</button>
		{% endif %}
	</div>

</div>

<script type="text/javascript">
{% if additional.buttons %}
{% for but in additional.buttons %}
	{% if but.url %}
	$( '.ral_dialog_buttonbar button' ).eq( {{ forloop.counter0 }} ).click(function() { window.location.href = '{{ but.url }}' } );
	{% endif %}
{% endfor %}
{% endif %}
</script>

