{% load active %}
<div>
<ul>
	<li class="{% active request '\/account$' %}"><a href="{% url org-client-account-single instance.get_org.refnum instance.get_client.refnum %}">Account</a></li>
	<li class="
		{% active request '\/account\/(transactions|refunds|credit-notes|invoices|payments)' %}
		{% active request '\/account\/(refund|credit-note|invoice|payment)\/' %}
	"><a href="{% url org-client-account-transaction-list instance.get_org.refnum instance.get_client.refnum %}">Transactions</a></li>
</ul>
</div>

