
<p>Please follow the following link to confirm this email address and complete your registration.</p>


<p>
Your authentication code: <strong>{{ user.authenticationcode.authentication_code }}</strong>
</p>

<p>
The authentication site: <a href='{% url register-step2 %}'>{% url register-step2 %}</a>
</p>


<p>
A direct link: <a href='{% url register-step2 %}?authcode={{ user.authenticationcode.authentication_code }}'>{% url register-step2 %}?authcode={{ user.authenticationcode.authentication_code }}</a>
</p>



