<div class="{{ class }} {% if field.errors %}JFINVALID{% endif %}">
	<label for="{{ field.auto_id }}" {% if field.field.required %}class="JFREQUIRED"{% endif %}>{{ field.label }}</label>
	<select
		name="{{ field.name }}"
		id="{{ field.auto_id }}"
		style='width: {{ width }}'
		{% if field.errors %}
		title="{% for error in field.errors %}{{ error|escape }}{% endfor %}"
		{% endif %}
	/>
		{% for choice in field.field.choices %}
		<option value="{{ choice.0 }}" {% ifequal choice.0 field.field.initial %}SELECTED{% endifequal %} >{{ choice.1 }}</option>
		{% endfor %}
	</select>
</div>
