<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	<title>{% block title %}Unknown Error{% endblock %}</title>
</head>

<body>

{% block content %}

	<h1>Unknown Error</h1>

	<p>If you are reading this, you have received an empty error template
	file. This is not right. <strong>Please let us know</strong>.
	</p>

{% endblock %}

</body>

</html>
