
<div id="content-wrap">

{% comment %} ********** 1 COLUMN-LEFT ************ {% endcomment %}

{% if content_menu_left and not content_menu_right %}
<div id="content-menu-left" class="content-menu">
{{ content_menu_left }}
</div> <!-- #content-menu-left -->

<div id="content" class="with-menu-left">
{% include 'layouts/includes/member-inc-content-messages.html' %}
{{ content }}
</div> <!-- #content -->
{% endif %}

{% comment %} ********** 1 COLUMN-RIGHT ************ {% endcomment %}

{% if not content_menu_left and content_menu_right %}
<div id="content-menu-right" class="content-menu">
{{ content_menu_right }}
</div> <!-- #content-menu-right -->

<div id="content" class="with-menu-right">
{% include 'layouts/includes/member-inc-content-messages.html' %}
{{ content }}
</div> <!-- #content -->
{% endif %}

{% comment %} ********** 2 COLUMNS ************ {% endcomment %}

{% if content_menu_left and content_menu_right %}
<div id="content-menu-left" class="content-menu">
{{ content_menu_left }}
</div> <!-- #content-menu-left -->

<div id="content-menu-right" class="content-menu">
{{ content_menu_right }}
</div> <!-- #content-menu-right -->

<div id="content" class="with-menu-both">
{% include 'layouts/includes/member-inc-content-messages.html' %}
{{ content }}
</div> <!-- #content -->
{% endif %}

{% comment %} ********** NO COLUMNS ************ {% endcomment %}

{% if not content_menu_left and not content_menu_right %}
<div id="content" class="without-menu">
{% include 'layouts/includes/member-inc-content-messages.html' %}
{{ content }}
</div> <!-- #content -->
{% endif %}

</div> <!-- content-wrap -->


