{% if tpl_si_org or tpl_si_client %}
<div id="page-section-info">

<div id="location-block">
	{% if tpl_si_client %}
	<div id="client-name">
		{% if kwargs.oid %}
		<a href="{% url org-client-single kwargs.oid kwargs.cid %}">
		{% endif %}
		<span id="client-name-title">{{ tpl_si_client }}</span>
		{% if kwargs.oid %}
		</a>
		{% endif %}
	</div> <!-- #client-name -->
	{% endif %}
</div> <!-- #location-block -->

{% if messages %}
<div id="message-block">
{% for message in messages %}
	<div class="message-notice {{ message.tags }}"><span>{{ message|safe }}</span></div>
{% endfor %}
</div> <!-- #message-block -->
{% endif %}

</div> <!-- #page-section-info -->
{% endif %}
