{% extends 'modals/_common/types/single_pane_list.html' %}

{% load sourcedoc %}
{% load decshift %}

{% block dialog_title %}Allocations{% endblock %}

{% block dialog_div_style %}width: 800px; height: 600px;{% endblock %}


{% block dialog_post_title %}
<form method="POST" action="{{ request.META.PATH_INFO }}">
{% csrf_token %}
<input type="hidden" name="meta.action" value="apply" />
<input type="hidden" name="oid" value="{{ data.oid }}" />
<input type="hidden" name="cid" value="{{ data.cid }}" />
<input type="hidden" name="sdid" value="{{ data.sdid }}" />
{% endblock %}

{% block dialog_style %}

.dataTables_wrapper tr.odd.selected_line,
.dataTables_wrapper tr.even.selected_line
{
	background-color: #DEDBF1;
}

{% endblock %}

{% block dialog_javascript %}
	$('#id_modal_table').dataTable( {
		"iDisplayLength" : 4,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});


	function load_deallocation_modal( modal_name, pdata )
	{
		var tokens = modal_name.split('.');
		var url = '/' + tokens[0] + '/modals/' + modal_name;
		ral.html.fetch( url, pdata );
	}


	$( "#id_modal_table .deallocate_option" ).click( function() {

		var theid = $( this ).parents( "tr" ).find( "input.sub_alocid" ).first().attr( 'value' );

		load_deallocation_modal(
			'org.client.account.transaction.deallocate',
			{
				oid: '{{ data.oid }}',
				cid: {{ data.cid }},
				sdid: {{ data.sdid }},
				alocid: theid
			}
		);
	});

{% endblock %}



{% block dialog_right_panel %}

{% get_document_obj instance as doc %}

<div>
	<div class="clearfix" style="
		background: #f8f8f8;
		margin: 15px;
		padding: 10px;
		box-shadow: 1px 0px 5px #dedbd1;
		border: 1px solid #dedbd1;
	">
		<h3>Payment/Credit</h3>
		<label for="amount">Total:</label>
		<input type="text" id="id_sd_total" value="{{ doc.getTotals.getTotal|decsplay }}" disabled=1 />
		<label for="amount">Already allocated:</label>
		<input type="text" id="id_sd_allocated" value="{{ doc.getTotals.getAllocated|decsplay }}" disabled=1 />
		<label for="amount">Available:</label>
		<input type="text" id="id_sd_available" value="{{ doc.getTotals.getUnallocated|decsplay }}" disabled=1 />
	</div>

	<div>
		<table id="id_modal_table">
			<thead>
				<tr>
					<th>Document</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Deallocate</th>
				</tr>
			</thead>
			<tbody>

			{% for alloc in extra.allocations.all %}

				{% if alloc.isSourceOfCredit %}
					{% include 'modals/org/client/account/transaction/allocations_inner.html' with prov=alloc.source alloc=alloc  %}
				{% else %}
					{% include 'modals/org/client/account/transaction/allocations_inner.html' with prov=alloc.destination alloc=alloc %}
				{% endif %}

			{% endfor %}

			</tbody>
		</table>
	</div>

</div>
{% endblock %}

{% block dialog_post_content %}
	</form>
{% endblock %}

{% block dialog_buttons %}
<button type="button" class="ral_action_close">Close</button>
{% endblock %}


