{% extends 'modals/_common/types/single_pane_list.html' %}

{% load sourcedoc %}
{% load decshift %}

{% block dialog_title %}Allocate{% endblock %}

{% block dialog_div_style %}width: 800px; height: 600px;{% endblock %}


{% block dialog_post_title %}
<form method="POST" action="{{ request.META.PATH_INFO }}">
{% csrf_token %}
<input type="hidden" name="meta.action" value="apply" />
<input type="hidden" name="oid" value="{{ data.oid }}" />
<input type="hidden" name="cid" value="{{ data.cid }}" />
<input type="hidden" name="sdid" value="{{ data.sdid }}" />
{% endblock %}

{% block dialog_style %}

.dataTables_wrapper tr.odd.selected_line,
.dataTables_wrapper tr.even.selected_line
{
	background-color: #DEDBF1;
}

.invalid_amount {
	background-color: red;
	border-color: darkred;
}

{% endblock %}

{% block dialog_javascript %}
	$('#id_modal_table').dataTable( {
		"iDisplayLength" : 4,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	function parse_number( num )
	{
		var sam = num + '';
		sam = sam.replace( /,/g, '' );
		return (new Number(sam));
	}

	function format_number( num )
	{
		var sam = num.toFixed(2);
		var nuwe = '';
		var gotDecimal = false;
		var count = 0;

		for ( var i = (sam.length - 1); i >= 0; --i )
		{
			nuwe = sam[i] + nuwe;

			if ( gotDecimal === false )
			{
				if ( sam[i] == '.' ) gotDecimal = true;
				continue;
			}

			if ( i > 0 )
			{
				if ( (sam[i-1] == '+') || (sam[i-1] == '-') )
				{
					count = 0;
					continue;
				}
			}

			count += 1;

			if ( ((count % 3) == 0) && (i != 0) )
			{
				nuwe = ',' + nuwe;
			}
		}

		return nuwe;
	}

	function recalculate( event ) {

		var amount_available = parse_number( $( "#id_sd_available" ).attr( 'value' ) );
		var doc_outstanding = parse_number( $( "#id_sel_unallocated" ).attr( 'value' ) );
		var user_suggestion = parse_number( $( "#id_amount" ).attr( 'value' ) );

		if ( (isNaN( user_suggestion )) ||
				(user_suggestion <= 0)
				|| (user_suggestion > doc_outstanding )
				|| (user_suggestion > amount_available )
			)
		{
			$( "#id_amount" ).addClass( 'invalid_amount' );
			return;
		}
		else
		{
			$( "#id_amount" ).removeClass( 'invalid_amount' );
		}

		var remaining = ( doc_outstanding - user_suggestion );
		$( "#id_remaining" ).attr( 'value', format_number( remaining ) );
	}



	$( ".sub_sd_line" ).click(function() {
		$( ".selected_line" ).removeClass( 'selected_line' );
		$( this ).addClass( 'selected_line' );


		var refnum = $(this).find( ".sub_refnum" ).first().attr( 'value' );
		var unallocated = $(this).find( ".sub_unallocated" ).first().attr( 'value' );
		var total = $(this).find( ".sub_total" ).first().attr( 'value' );

		$( '#id_sel_unallocated' ).attr( 'value', unallocated );
		$( '#id_sel_total' ).attr( 'value', total );
		$( '#id_refnum' ).attr( 'value', refnum );
		$( '#id_amount' ).removeAttr( 'disabled' );

		recalculate();

		$( '#id_amount' ).keyup( function( event ) {
			recalculate( event );
		});
	});
{% endblock %}



{% block dialog_right_panel %}

{% get_document_obj instance as doc %}

<div>
	<div class="clearfix" style="
		background: #f8f8f8;
		margin: 15px;
		padding: 10px;
		box-shadow: 1px 0px 5px #dedbd1;
		border: 1px solid #dedbd1;
	">
		<h3>Payment/Credit</h3>
		<label for="amount">Total:</label>
		<input type="text" id="id_sd_total" value="{{ doc.getTotals.getTotal|decsplay }}" disabled=1 />
		<label for="amount">Already allocated:</label>
		<input type="text" id="id_sd_allocated" value="{{ doc.getTotals.getAllocated|decsplay }}" disabled=1 />
		<label for="amount">Available:</label>
		<input type="text" id="id_sd_available" value="{{ doc.getTotals.getUnallocated|decsplay }}" disabled=1 />
	</div>

	<div id="id_selected_sd_pane" class="clearfix" style="
		margin: 15px;
		padding: 10px;
		box-shadow: 1px 0px 5px #dedbd1;
		border: 1px solid #dedbd1;
		background-color: #f0f0f0;
	">
		<h3>Invoice/Refund</h3>

		<label for="amount">Total</label>
		<input type="text" id="id_sel_total" value="0.00" disabled=1 />

		<label for="amount">Amount Outstanding</label>
		<input type="text" id="id_sel_unallocated" value="0.00" disabled=1 />

		<label for="amount">Amount to Allocate</label>
		<input type="text" name="amount" id="id_amount" value="{{ extra.available|decsplay }}" disabled=1 autocomplete='off' />
		<input type="hidden" name="refnum" id="id_refnum" value="-1" />

		<label for="amount">Amount Remaining</label>
		<input type="text" id="id_remaining" value="0.00" disabled=1 />
	</div>


	<div>
		<table id="id_modal_table">
			<thead>
				<tr>
					<th>Document</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Oustanding</th>
				</tr>
			</thead>
			<tbody>

			{% for prov in extra.outstanding.invoices.all %}
				{% include 'modals/org/client/account/transaction/allocate_inner.html' with prov=prov %}
			{% endfor %}

			{% for prov in extra.outstanding.refunds.all %}
				{% include 'modals/org/client/account/transaction/allocate_inner.html' with prov=prov%}
			{% endfor %}

			</tbody>
		</table>
	</div>

</div>
{% endblock %}

{% block dialog_post_content %}
	</form>
{% endblock %}

{% block dialog_buttons %}
<button type="button" class="ral_action_close">Cancel</button>
<button type="button" class="ral_action_submit">Allocate</button>
{% endblock %}


