{% extends 'modals/_common/types/single_pane_list.html' %}

{% load sourcedoc %}
{% load decshift %}

{% block dialog_title %}Deallocate{% endblock %}

{% block dialog_div_style %}width: 400px; height: 300px;{% endblock %}


{% block dialog_post_title %}
<form method="POST" action="{{ request.META.PATH_INFO }}">
{% csrf_token %}
<input type="hidden" name="meta.action" value="apply" />
<input type="hidden" name="oid" value="{{ data.oid }}" />
<input type="hidden" name="cid" value="{{ data.cid }}" />
<input type="hidden" name="sdid" value="{{ data.sdid }}" />
<input type="hidden" name="alocid" value="{{ data.alocid }}" />
{% endblock %}


{% block dialog_javascript %}
	alert( 'Hello' );
{% endblock %}



{% block dialog_right_panel %}

{% get_document_obj instance as doc %}

<div>
	<p>Are you sure you want to do this?</p>
</div>

{% endblock %}

{% block dialog_post_content %}
	</form>
{% endblock %}

{% block dialog_buttons %}
<button type="button" class="ral_action_close">Cancel</button>
<button type="button" class="ral_action_submit">Deallocate</button>
{% endblock %}


