{% extends 'layouts/member-base-full.html' %}

{% block tpl_ps_rely %}datatables jquery.ui sitekit{% endblock %}


{% block tpl_si_org %}{{ extra.get_org.trading_name }}{% endblock %}
{% block tpl_si_section %}Tasks{% endblock %}


{% block tpl_bl_body_breadcrumbs %}
	{{ block.super }}
	<a href="{{ extra.get_org.get_activity_list_url }}">Activities</a>&gt;
	<a href="{{ extra.get_single_url }}">{{ extra.name }}</a>&gt;
{% endblock %}


{% block tpl_bl_body_functions_page %}
{% include 'menus/org/activity_top.html' with instance=extra %}
{% endblock %}


{% block tpl_bl_head_onready %}

	$(function() {
		
		var name = $( "#id_name" ),
			description = $( "#id_description" ),
			allFields = $( [] ).add( name ).add( description ),
			tips = $( ".validateTips" );

		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 550,
			modal: true,
			buttons: {
				"Add a new Task": function() {
					var bValid = true;
					allFields.removeClass( "ui-state-error" );

					bValid = bValid && validation.length( tips, name, "Name", 3, 192 );

					if ( bValid ) {
						$( "#create-new-form" ).submit();
					}
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		$( "#org-create-new-task" )
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
	});


	$('#task_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});


{% endblock %}


{% block tpl_bl_body_content_right %}
<ul>
	<li><a href="#" id="org-create-new-task">Add a new Task</a></li>
</ul>

<div id="dialog-form" title="Add a new task">
	<p class="validateTips">All form fields are required</p>
	<form id="create-new-form" method="POST" action="">
		{% csrf_token %}
		<fieldset>
			<label for="name">Name</label>
			<input type="text" name="name" id="id_name" class="text ui-widget-content ui-corner-all" />
			<label for="name">Description</label>
			<textarea name="description" id="id_description" class="text ui-widget-content ui-corner-all"></textarea>
		</fieldset>
	</form>
</div>
{% endblock %}


{% block tpl_bl_body_content_center %}

<table
	id="task_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th width="200px">Name</th>
		<th>Description</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.name }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.description }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


