{% extends 'pages/org/activity/base.html' %}

{% block tpl_ps_rely %}datatables ral jquery.ui sitekit{% endblock %}

{% block tpl_si_section %}Tasks{% endblock %}


{% block tpl_bl_head_onready %}

	$('#task_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});


	ral.html.custom.attach_fetch( '#id_ral_modal_org_activity_new_task', 'org.activity.new.task',
				{ oid: {{ kwargs.oid }}, actid: {{ kwargs.actid }} } );


{% endblock %}


{% block tpl_bl_body_content_right %}
<div class="widget">
<h3>Tasks</h3>
<ul>
	<li><a href="#" id="id_ral_modal_org_activity_new_task">Add a new Task</a></li>
</ul>
</div>
{% endblock %}


{% block tpl_bl_body_content_center %}

<table
	id="task_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th width="200px">Name</th>
		<th>Description</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.name }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.description }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

