{% extends 'pages/org/credit_note/single-template.get.html' %}

{% load decshift %}
{% load sourcedoc %}

{% block tpl_bl_head_inner %}
	<style>
#id_table tbody .afes-table-body-cell-type-currency { text-align: right; }
#id_table thead .head-description { width: 235px; }
#id_table thead .head-qty { width: 103px; }
#id_table thead .head-unit-price { width: 147px; }
#id_table thead .head-tax-rate { width: 165px; }
#id_table thead .head-tax-amount { width: 80px; }
#id_table thead .head-amount { width: 128px; }
#id_table thead .head-delete { width: 20px; }
	</style>

{% endblock %}

{% block tpl_bl_onready %}

	function update_totals()
	{
		var values = new Array();

		$( "#id_table tbody tr" ).each( function() {
			var my_value = [];

			// my_value[] = 
			//		0 = qty
			//		1 = unit-price
			//		2 = tax-rate
			//		3 = tax-amount
			//		4 = amount
			//		5 = total

			my_value[0] = $(this).find( "div.qty input" ).attr( "value" );
			my_value[1] = $(this).find( "div.unit-price input" ).attr( "value" );
			my_value[2] = $(this).find( "div.tax-rate input" ).attr( "value" );

			if ( (isNaN( my_value[0] )) || (isNaN( my_value[1])) || (isNaN( my_value[2] )) )
				return;

			my_value[5] = ((new Number( my_value[0] )) * (new Number( my_value[1] )) );

			var rate = ( new Number( "0.14" ) );

			if ( my_value[2] == 1 )
			{
				my_value[3] = (new Number(my_value[5] / (rate + 1))).toFixed(2);
				my_value[4] = (new Number(my_value[5])) - (new Number(my_value[3]));
			}
			else
			{
				if ( my_value[2] == 2 )
				{
					my_value[3] = my_value[5];
					my_value[4] = (new Number(my_value[3] * rate)).toFixed(2);
					my_value[5] = ((new Number(my_value[3])) + (new Number(my_value[4])));
				}
				else
				{
					my_value[3] = my_value[5];
					my_value[4] = "0.00";
				}
			}
			values.push( my_value );

			$(this).find( ".tax-amount" ).text( my_value[4] );
		});

		total_amount = new Number( 0 );
		total_tax = new Number( 0 );
		total_total = new Number( 0 );

		for ( var i = 0; i < values.length; i++ )
		{
			total_amount += (new Number(values[i][3]));
			total_tax += (new Number(values[i][4]));
			total_total += (new Number(values[i][5]));
		}


		$( "#summary_amount" ).empty().append( total_amount.toFixed(2) );
		$( "#summary_tax" ).empty().append( total_tax.toFixed(2) );
		$( "#summary_total" ).empty().append( total_total.toFixed(2) );

		$( "#id_itol_amount" ).val( total_amount.toFixed(2) );
		$( "#id_itol_tax" ).val( total_tax.toFixed(2) );
		$( "#id_itol_total" ).val( total_total.toFixed(2) );
	}

	var qtyHooks = {
		onUpdate : function( event, oldVal, newVal ) {

			var priceElem = $(this).parents( ".afes-table-body-row" ).first().find( "td.unit-price" );

			var amountTd = $(this).parents( ".afes-table-body-row" ).first().find( "td.amount" );
			var amountInput = $(this).parents( ".afes-table-body-row" ).first().find( "div.amount input" );

			var qty = new Number( newVal );
			var price = new Number( priceElem.text() );

			var amt = qty * price;

			amountTd.html( amt.toFixed(2) );
			amountInput.val( amt.toFixed(2) );
			return true;
		},
		onFocusOut : function( event, val ) {
			update_totals();
		}
	};

	var perUnitHooks = {
		onUpdate : function( event, oldVal, newVal ) {

			var qtyElem = $(this).parents( ".afes-table-body-row" ).first().find( "td.qty" );

			var amountTd = $(this).parents( ".afes-table-body-row" ).first().find( "td.amount" );
			var amountInput = $(this).parents( ".afes-table-body-row" ).first().find( "div.amount input" );

			var qty = new Number( qtyElem.text() );
			var price = new Number( newVal );

			var amt = qty * price;

			amountTd.html( amt.toFixed(2) );
			amountInput.val( amt.toFixed(2) );
			return true;
		},
		onFocusOut : function( event, val ) {
			update_totals();
		}
	};

	var taxRateHooks = {
		onFocusOut : function( event, val ) {
			update_totals();
		}
	};


	afes.ex.table.init(
		$( "#id_table" ),
		{
			initial_rows : (0),
			max_rows : 100,
			action_on_final_next : "extend",

			columns : [

				{
					type: "text",
					initial: "",
					class: "description",
					form_name : "description"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "qty",
					callbacks : qtyHooks,
					form_name : "units"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "unit-price",
					callbacks : perUnitHooks,
					form_name : "perunit"
				},

				{
					type: "select",
					options : {
						"No Tax" : 0,
						"Tax Inclusive" : 1,
						"Tax Exclusive" : 2,
						"Tax Exempt" : 3,
					},
					initial: "Tax Inclusive",
					class: "tax-rate",
					callbacks : taxRateHooks,
					form_name : "tax_rate"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "tax-amount",
					editable : false
				},


				{
					type: "currency",
					initial: "0.00",
					class: "amount",
					editable : false,
					form_name : "amount"
				},

				{
					type: "text",
					initial: $( "#click_me_div" ).html(),
					class: "delete",
					editable : false
				}


			]
		}
	);


	{% get_document_obj instance as sdoc %}

	{% for li in sdoc.getLines.all %}
		afes.ex.table.appendRow(
			"#id_table",
			[
				"{{ li.description|escapejs }}",
				"{{ li.units|decsplay }}",
				"{{ li.perunit|decsplay }}",
				"{{ li.get_tax_rate_display|escapejs }}",
				"{{ li.tax_amount|decsplay }}",
				"{{ li.total|decsplay }}",
				$( "#click_me_div" ).html(),
			]
		);
	{% endfor %}


	function installDeleteHooks()
	{
		$( ".item-delete-link" ).click( function(){
			$( this ).parents("tr").first().remove();
		});
	}


	$( "#id_itol_add_item_row" ).click( function(){
		afes.ex.table.appendDefaultRow( "#id_table" );
		installDeleteHooks();
	});


	installDeleteHooks();

	$( "#id_button_save" ).click( function() {
		$( "#id_credit_note_form" ).submit();
	});

	$( "#id_button_delete" ).click( function() {
		$( "#id_credit_note_state" ).val( 99 );
		$( "#id_credit_note_form" ).submit();
	});

	$( "#id_button_approve" ).click( function() {
		$( "#id_credit_note_state" ).val( 10 );
		$( "#id_credit_note_form" ).submit();
	});




	afes.ex.table.appendDefaultRow( "#id_table" );

{% endblock %}


{% block document_type %}CREDIT NOTE{% endblock %}
{% block document_status %}
{% include 'pages/org/credit_note/status-label.html' with instance=instance %}
{% endblock %}

{% block document_dates %}

{% get_document_obj instance as sdoc %}

<fieldset>
	<label for="name">Credit Date</label>
	<input type="text" name="credit_note_date" id="id_itol_date" class="text ui-widget-content ui-corner-all" value="{{ sdoc.getSpecs.getCreditNoteDate|date:"j M Y" }}" />
</fieldset>
{% endblock %}

{% block document_tax_row %}
	<div style="float: right;">
		<label for="name">Amounts are</label>
		<select name="default_tax" id="id_default_tax">
			<option value="No Tax">No Tax</option>
			<option value="Tax Inclusive" SELECTED="1">Tax Inclusive</option>
			<option value="Tax Exclusive">Tax Exclusive</option>
			<option value="Tax Exempt">Tax Exempt</option>
		</select>
	</div>
	<div style="clear: both;">&nbsp;</div>
{% endblock %}




{% block document_body %}

{% get_document_obj instance as sdoc %}

<div id="click_me_div" style=" visible: hidden; display: none; ">
<img class="item-delete-link" src='{{ STATIC_URL }}images/icons/line_delete_grey.png' />
</div>


<div class="item-list">
<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-qty">Qty</th>
	<th class="head-unit-price">Unit Price</th>
	<th class="head-tax-rate">Tax Rate</th>
	<th class="head-tax-amount">Tax</th>
	<th class="head-amount">Amount</th>
	<th class="head-delete">&nbsp;</th>
</thead>
<tbody>
</tbody>
</table>
</div>


	<div class="summary-row">

		<div class="add-row-portion">
			<div>
				<button id="id_itol_add_item_row" type="button">Add a new line</button>
			</div>

			<div>
				<div class="comment-title">
					<span>Comments:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="credit_note_comment">{{ sdoc.getSpecs.getComment }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-amount">
				<div class="inner-amount-label">
					Amount
				</div>
				<div class="inner-amount-amount">
					<span id="summary_amount">{{ sdoc.getTotals.getAmount|decsplay }}</span>
					<input type="hidden" id="id_itol_amount" name="credit_note_amount" value="{{ sdoc.getTotals.getAmount|decshow }}" />
				</div>
			</div>

			<div class="inner-tax">
				<div class="inner-tax-label">
					Sales Tax
				</div>
				<div class="inner-tax-amount">
					<span id="summary_tax">{{ sdoc.getTotals.getTax|decsplay }}</span>
					<input type="hidden" id="id_itol_tax" name="credit_note_tax" value="{{ sdoc.getTotals.getTax|decshow }}" />
				</div>
			</div>

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ sdoc.getTotals.getTotal|decsplay }}</span>
					<input type="hidden" id="id_itol_total" name="credit_note_total" value="{{ sdoc.getTotals.getTotal|decshow }}" />
				</div>
			</div>
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>
{% endblock %}


{% block document_button_row_left %}
	<button id="id_button_save" type="button">Save</button>
	<button id="id_button_delete" type="button">Delete</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_approve" type="button">Approve</button>
{% endblock %}


