{% extends 'layouts/org/member.html' %}

{% load decshift %}
{% load rely %}

{% block str_org_name %}{{ instance.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ instance.get_client.trading_name }}{% endblock %}
{% block str_section_name %}Credit Note {{ instance.refnum }}{% endblock %}

{% block breadcrumbs %}
{% include 'pages/org/credit_note/credit-note-breadcrumbs.html' with instance=instance %}
{% endblock %}


{% block page_functions %}
{% include 'menus/org/client_top.html' with instance=instance %}
{% endblock  %}

{% block subsection_functions %}
{% include 'menus/org/account_sub.html' with instance=instance %}
{% endblock %}

{% block dblsubsection_functions %}
{% include 'menus/org/account_transactions_sub.html' with instance=instance %}
{% endblock %}

{% block filter_functions %}
{% include 'menus/org/credit_note_filter.html' with instance=instance.get_client.get_account %}
{% endblock %}





{% block head_includes %}
	{% rely sitekit date afes %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/member-itemized-total.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/member-afes-itol.css" media="screen" />
{% endblock %}



{% block content %}


<div class="itol">

	<form method="POST" id="id_credit_note_form">
	{% csrf_token %}

	<div class="itol-header">
		<div class="itol-type">{% block document_type %}{% endblock %}</div>

		<div class="itol-type-status">
		{% block document_status %}{% endblock %}
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

	<div class="itol-status">
		<div class="itol-dates">
			{% block document_dates %}{% endblock %}
		</div>

		<div class="itol-payment-status">
			{% block document_payment_status %}{% endblock %}
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

	<div class="tax-row">
		{% block document_tax_row %}{% endblock %}
	</div>

	{% block document_body %}{% endblock %}


	<div class="button-row">
		<div class="button-row-left">
			{% block document_button_row_left %}{% endblock %}
		</div>

		<div class="button-row-right">
			{% block document_button_row_right %}{% endblock %}
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>

	<input type="hidden" id="id_credit_note_state" name="credit_note_state" value="{{ instance.document_state }}" />
	</form>

</div>


{% block document_addendum %}{% endblock %}

{% endblock %}



