{% extends 'pages/org/client/account/transaction/_common/sd-template.html' %}

{% load decshift %}
{% load sourcedoc %}

{% block tpl_bl_body_functions_sub %}
{{ block.super }}
{% include 'pages/org/client/account/transaction/invoice/menu_filter.html' %}
{% endblock %}



{% block tpl_bl_head_inner %}
	{{ block.super }}

	<style>
{% block local_headings %}
{% endblock %}
	</style>


{% endblock %}

{% block tpl_bl_head_onready %}

	$('.date_input').dateinput({ trigger: true, format: 'dd mmm yyyy' });

	// use the same callback for two different events. possible with bind
	$('.date_input').bind("onShow onHide", function()  {
		$(this).parent().toggleClass("active"); 
	});

	// when first date input is changed
	$('.date_input').first().data("dateinput").change(function() {
			
		// we use it's value for the seconds input min option
		$('.date_input').last().data("dateinput").setMin(this.getValue(), true);
	});


{% block local_javascript %}
{% endblock %}

{% endblock %}


{% block document_type %}TAX INVOICE{% endblock %}
{% block document_status %}
{% include 'pages/org/client/account/transaction/_common/status-label.html' %}
{% endblock %}

{% block document_dates %}

{% get_document_obj instance as sdoc %}

<fieldset class="dateinput_tool">
	<label for="name">
		Invoice Date <br />
		<input class="date_input" type="text" name="invoice_date" value="{{ sdoc.getSpecs.getInvoiceDate|date:"j M Y" }}" />
	</label>

	<label for="name">
		Due Date <br />
		<input class="date_input" type="text" name="due_date" value="{{ sdoc.getSpecs.getDueDate|date:"j M Y" }}" />
	</label>
</fieldset>
{% endblock %}

{% block document_payment_status %}
{% include 'pages/org/client/account/transaction/invoice/paid-label.html' %}
{% endblock %}


{% block document_body %}

{% get_document_obj instance as sdoc %}

<div id="click_me_div" style=" visible: hidden; display: none; ">
<img class="item-delete-link" src='{{ STATIC_URL }}local/images/icons/line_delete_grey.png' />
</div>


<div class="item-list">
{% block local_table %}
{% endblock %}
</div>


	<div class="summary-row">

		<div class="comment-portion">

		{% if sdoc.getObj.document_state == 0 %}
			<div>
				<button id="id_itol_add_item_row" type="button">Add a new line</button>
			</div>
		{% endif %}

			<div>
				<div class="comment-title">
					<span>Comment:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="invoice_comment">{{ sdoc.getSpecs.getComment }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-amount">
				<div class="inner-amount-label">
					Amount
				</div>
				<div class="inner-amount-amount">
					<span id="summary_amount">{{ sdoc.getTotals.getAmount|decsplay }}</span>
				</div>
			</div>

			<div class="inner-tax">
				<div class="inner-tax-label">
					Sales Tax
				</div>
				<div class="inner-tax-amount">
					<span id="summary_tax">{{ sdoc.getTotals.getTax|decsplay }}</span>
				</div>
			</div>

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ sdoc.getTotals.getTotal|decsplay }}</span>
				</div>
			</div>
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>
{% endblock %}



