{% extends 'pages/org/client/account/transaction/invoice/single-base.html' %}


{% load decshift %}
{% load sourcedoc %}


{% block local_headings %}
#id_table thead .head-description { width: 320px; }
#id_table thead .head-qty { width: 100px; }
#id_table thead .head-unit-price { width: 100px; }
#id_table thead .head-tax-rate { width: 100px; }
#id_table thead .head-tax-amount { width: 100px; }
#id_table thead .head-amount { width: 140px; }
#id_table thead .head-delete { width: 20px; }
{% endblock %}

{% block local_javascript %}

var mapping = {

	amount : [ 'div.qty input', 'div.unit-price input' ],

	tax : {
		selector : 'div.tax-rate input',
		rates : {
			'0' : false,
			'1' : [ true, '0.14' ],
			'2' : [ false, '0.14' ],
			'3' : false,
		}
	},

	display : {
		row : {
			tax : '.tax-amount',
			amount : '.amount'
		},
		total : {
			tax : '#summary_tax',
			amount : '#summary_amount',
			total : '#summary_total'
		}
	}
};

	afes.cust.bill.init( mapping );


	afes.ex.table.init(
		$( "#id_table" ),
		{
			initial_rows : (0),
			max_rows : 100,
			action_on_final_next : "extend",

			columns : [

				{
					type: "text",
					initial: "",
					class: "description",
					callbacks : afes.cust.bill.hooks,
					form_name : "description"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "qty",
					callbacks : afes.cust.bill.hooks,
					form_name : "units"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "unit-price",
					callbacks : afes.cust.bill.hooks,
					form_name : "perunit"
				},

				{
					type: "select",
					options : {
						"No Tax" : 0,
						"Tax Inclusive" : 1,
						"Tax Exclusive" : 2,
						"Tax Exempt" : 3,
					},
					initial: "Tax Inclusive",
					class: "tax-rate",
					callbacks : afes.cust.bill.hooks,
					form_name : "tax_rate"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "tax-amount",
					editable : false
				},


				{
					type: "currency",
					initial: "0.00",
					class: "amount",
					editable : false
				},

				{
					type: "text",
					initial: $( "#click_me_div" ).html(),
					class: "delete",
					editable : false
				}


			]
		}
	);



	function installDeleteHooks()
	{
		$( ".item-delete-link" ).click( function(){
			$( this ).parents("tr").first().remove();
		});
	}

	$( "#id_itol_add_item_row" ).click( function(){
		afes.ex.table.appendDefaultRow( "#id_table" );
		installDeleteHooks();
	});


	afes.ex.table.appendDefaultRow( "#id_table" );

	installDeleteHooks();

	$( "#id_button_save" ).click( function() {
		$( "#id_sd_form" ).submit();
	});

	$( "#id_button_delete" ).click( function() {
		$( "#id_sd_state" ).val( 99 );
		$( "#id_sd_form" ).submit();
	});

	$( "#id_button_approve" ).click( function() {
		$( "#id_sd_state" ).val( 10 );
		$( "#id_sd_form" ).submit();
	});

{% endblock %}


{% block local_table %}
<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-qty">Qty</th>
	<th class="head-unit-price">Unit Price</th>
	<th class="head-tax-rate">Tax Rate</th>
	<th class="head-tax-amount">Tax</th>
	<th class="head-amount">Amount</th>
	<th class="head-delete">&nbsp;</th>
</thead>
<tbody>

{% get_document_obj instance as sdoc %}

{% for li in sdoc.getLines.all %}
<tr>
	<td>{{ li.description|escapejs }}</td>
	<td>{{ li.units|decsplay }}</td>
	<td>{{ li.perunit|decsplay }}</td>
	<td>{{ li.get_tax_rate_display|escapejs }}</td>
	<td>{{ li.tax_amount|decsplay }}</td>
	<td>{{ li.amount|decsplay }}</td>
	<td><img class="item-delete-link" src='{{ STATIC_URL }}local/images/icons/line_delete_grey.png' /></td>
</tr>
{% endfor %}

</tbody>
</table>
{% endblock %}

{% block document_button_row_left %}
	<button id="id_button_save" type="button">Save</button>
	<button id="id_button_delete" type="button">Delete</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_approve" type="button">Approve</button>
{% endblock %}


