{% extends 'pages/org/client/account/transaction/_common/sd-template.html' %}

{% load decshift %}
{% load sourcedoc %}

{% block tpl_bl_body_functions_sub %}
{{ block.super }}
{% include 'pages/org/client/account/transaction/invoice/menu_filter.html' %}
{% endblock %}



{% block tpl_bl_head_inner %}
	{{ block.super }}

	<style>
#id_table thead .head-description { width: 320px; }
#id_table thead .head-qty { width: 100px; }
#id_table thead .head-unit-price { width: 100px; }
#id_table thead .head-tax-rate { width: 100px; }
#id_table thead .head-tax-amount { width: 100px; }
#id_table thead .head-amount { width: 140px; }
#id_table thead .head-delete { width: 20px; }
	</style>


{% endblock %}

{% block tpl_bl_head_onready %}


	$('.date_input').dateinput({ trigger: true, format: 'dd mmm yyyy' });

	// use the same callback for two different events. possible with bind
	$('.date_input').bind("onShow onHide", function()  {
		$(this).parent().toggleClass("active"); 
	});

	// when first date input is changed
	$('.date_input').first().data("dateinput").change(function() {
			
		// we use it's value for the seconds input min option
		$('.date_input').last().data("dateinput").setMin(this.getValue(), true);
	});
	
// -------------------------- JavaScript Invoicing ------------------

var mapping = {

	amount : [ 'div.qty input', 'div.unit-price input' ],

	tax : {
		selector : 'div.tax-rate input',
		rates : {
			'0' : false,
			'1' : [ true, '0.14' ],
			'2' : [ false, '0.14' ],
			'3' : false,
		}
	},

	display : {
		row : {
			tax : '.tax-amount',
			amount : '.amount'
		},
		total : {
			tax : '#summary_tax',
			amount : '#summary_amount',
			total : '#summary_total'
		}
	}
};


{% include 'pages/org/client/account/transaction/_common/sd-column-tally.js' %}


	afes.ex.table.init(
		$( "#id_table" ),
		{
			initial_rows : (0),
			max_rows : 100,
			action_on_final_next : "extend",

			columns : [

				{
					type: "text",
					initial: "",
					class: "description",
					callbacks : updateHooks,
					form_name : "description"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "qty",
					callbacks : updateHooks,
					form_name : "units"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "unit-price",
					callbacks : updateHooks,
					form_name : "perunit"
				},

				{
					type: "select",
					options : {
						"No Tax" : 0,
						"Tax Inclusive" : 1,
						"Tax Exclusive" : 2,
						"Tax Exempt" : 3,
					},
					initial: "Tax Inclusive",
					class: "tax-rate",
					callbacks : updateHooks,
					form_name : "tax_rate"
				},

				{
					type: "currency",
					initial: "0.00",
					class: "tax-amount",
					editable : false
				},


				{
					type: "currency",
					initial: "0.00",
					class: "amount",
					editable : false
				},

				{
					type: "text",
					initial: $( "#click_me_div" ).html(),
					class: "delete",
					editable : false
				}


			]
		}
	);



// -------------------------- END: JavaScript Invoicing -------------

	{% get_document_obj instance as sdoc %}

	{% for li in sdoc.getLines.all %}
		afes.ex.table.appendRow(
			"#id_table",
			[
				"{{ li.description|escapejs }}",
				"{{ li.units|decsplay }}",
				"{{ li.perunit|decsplay }}",
				"{{ li.get_tax_rate_display|escapejs }}",
				"{{ li.tax_amount|decsplay }}",
				"{{ li.amount|decsplay }}",
				$( "#click_me_div" ).html(),
			]
		);
	{% endfor %}


	function installDeleteHooks()
	{
		$( ".item-delete-link" ).click( function(){
			$( this ).parents("tr").first().remove();
		});
	}


	$( "#id_itol_add_item_row" ).click( function(){
		afes.ex.table.appendDefaultRow( "#id_table" );
		installDeleteHooks();
	});


	installDeleteHooks();

	$( "#id_button_save" ).click( function() {
		$( "#id_sd_form" ).submit();
	});

	$( "#id_button_delete" ).click( function() {
		$( "#id_sd_state" ).val( 99 );
		$( "#id_sd_form" ).submit();
	});

	$( "#id_button_approve" ).click( function() {
		$( "#id_sd_state" ).val( 10 );
		$( "#id_sd_form" ).submit();
	});




	afes.ex.table.appendDefaultRow( "#id_table" );

{% endblock %}


{% block document_type %}TAX INVOICE{% endblock %}
{% block document_status %}
{% include 'pages/org/client/account/transaction/_common/status-label.html' %}
{% endblock %}

{% block document_dates %}

{% get_document_obj instance as sdoc %}

<fieldset class="dateinput_tool">
	<label for="name">
		Invoice Date <br />
		<input class="date_input" type="text" name="invoice_date" value="{{ sdoc.getSpecs.getInvoiceDate|date:"j M Y" }}" />
	</label>

	<label for="name">
		Due Date <br />
		<input class="date_input" type="text" name="due_date" value="{{ sdoc.getSpecs.getDueDate|date:"j M Y" }}" />
	</label>
</fieldset>
{% endblock %}

{% block document_payment_status %}
{% include 'pages/org/client/account/transaction/invoice/paid-label.html' %}
{% endblock %}


{% block document_body %}

{% get_document_obj instance as sdoc %}

<div id="click_me_div" style=" visible: hidden; display: none; ">
<img class="item-delete-link" src='{{ STATIC_URL }}local/images/icons/line_delete_grey.png' />
</div>



<div class="item-list">
<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-qty">Qty</th>
	<th class="head-unit-price">Unit Price</th>
	<th class="head-tax-rate">Tax Rate</th>
	<th class="head-tax-amount">Tax</th>
	<th class="head-amount">Amount</th>
	<th class="head-delete">&nbsp;</th>
</thead>
<tbody>
</tbody>
</table>

</div>




	<div class="summary-row">

		<div class="comment-portion">

			<div>
				<button id="id_itol_add_item_row" type="button">Add a new line</button>
			</div>

			<div>
				<div class="comment-title">
					<span>Comment:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="invoice_comment">{{ sdoc.getSpecs.getComment }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-amount">
				<div class="inner-amount-label">
					Amount
				</div>
				<div class="inner-amount-amount">
					<span id="summary_amount">{{ sdoc.getTotals.getAmount|decsplay }}</span>
				</div>
			</div>

			<div class="inner-tax">
				<div class="inner-tax-label">
					Sales Tax
				</div>
				<div class="inner-tax-amount">
					<span id="summary_tax">{{ sdoc.getTotals.getTax|decsplay }}</span>
				</div>
			</div>

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ sdoc.getTotals.getTotal|decsplay }}</span>
				</div>
			</div>
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>
{% endblock %}


{% block document_button_row_left %}
	<button id="id_button_save" type="button">Save</button>
	<button id="id_button_delete" type="button">Delete</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_approve" type="button">Approve</button>
{% endblock %}


