{% extends 'pages/org/client/account/transaction/invoice/base.html' %}

{% block tpl_ps_rely %}date afes-table jquery.tools{% endblock %}

{% load decshift %}

{% block tpl_si_section %}Invoice {{ instance.refnum }}{% endblock %}


{% block tpl_bl_head_inner %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/with-itol.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}local/css/with-afes-bill.css" media="screen" />
{% endblock %}



{% block tpl_bl_body_content_center %}


<div class="itol">

	<form method="POST" id="id_invoice_form">
	{% csrf_token %}

	<div class="itol-header clearfix">
		<div class="itol-type">{% block document_type %}{% endblock %}</div>

		<div class="itol-type-status">
		{% block document_status %}{% endblock %}
		</div>
	</div>

	<div class="itol-status">
		<div class="itol-dates">
			{% block document_dates %}{% endblock %}
		</div>

		<div class="itol-payment-status">
			{% block document_payment_status %}{% endblock %}
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

	{% block document_body %}{% endblock %}


	<div class="button-row">
		<div class="button-row-left">
			{% block document_button_row_left %}{% endblock %}
		</div>

		<div class="button-row-right">
			{% block document_button_row_right %}{% endblock %}
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>

	<input type="hidden" id="id_invoice_state" name="invoice_state" value="{{ instance.document_state }}" />
	</form>

</div>


{% block document_addendum %}{% endblock %}

{% endblock %}



