{% extends 'pages/org/base.html' %}

{% block tpl_ps_rely %}datatables ral jquery.ui formfit sitekit{% endblock %}

{% block tpl_si_section %}Activities{% endblock %}


{% block tpl_bl_head_onready %}

	$('#activity_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : true,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"aoColumns" : [
			{ "sType" : "html", "bSortable" : false },
			{ "sType" : "html", "bSortable" : false }
		],
		"sDom" : 't<"bottom"ip><"clear">'
	});

	ral.html.custom.attach_fetch( '#id_ral_modal_org_new_activity', 'org.new.activity',
				{ oid: '{{ kwargs.oid }}' } );


{% endblock %}


{% block tpl_bl_body_content_right %}
<div class="widget">
<h3>Activities</h3>
<ul>
	<li><a id="id_ral_modal_org_new_activity">Add a new Activity</a></li>
</ul>
</div>
{% endblock %}


{% block tpl_bl_body_content_center %}

<table
	id="activity_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th width="200px">Name</th>
		<th>Description</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</a></td>
		<td><a href='{{ obj.get_absolute_url }}'>{{ obj.description }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


