{% extends 'layouts/member-base-full.html' %}

{% block tpl_si_org %}{{ instance.get_org.trading_name }}{% endblock %}
{% block tpl_si_section %}Dashboard{% endblock %}


{% block tpl_bl_body_breadcrumbs %}
	{{ block.super }}
	<a href="{{ instance.get_org.get_activity_list_url }}">Activities</a>&gt;
	<a href="{{ instance.get_single_url }}">{{ instance.name }}</a>&gt;
{% endblock %}


{% block tpl_bl_body_functions_page %}
{% include 'menus/org/activity_top.html' with instance=instance %}
{% endblock %}

{% block tpl_bl_body_content_center %}

<table>
<tr>
	<td>Name:</td>
	<td>{{ instance.name }}</td>
</tr>

<tr>
	<td>Description:</td>
	<td>{{ instance.description }}</td>
</tr>
</table>

{% endblock %}



