
/* ----- GLOBAL --------------------------------------------- */

html {
	height: 100%;
}

html body {
	position: relative;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, Sans-Serif;
	font-size: 12px;
	background: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Trebuchet MS;
}

p {
	margin: 0 0 1.5em;
}


/* ----- WRAP ----------------------------------------------- */

#id_tpl_bl_body_wrap {
	min-height: 100%;
	min-width: 950px;
	position: relative;
	vertical-align: baseline;
	margin: auto;
	padding: 0;
}


