{% load decshift %}
<div id="dialog-form" title="Deallocate Payment">
	<p class="validateTips">All form fields are required</p>
	<form id="deallocate-payment-form" method="POST" action="{% url org-client-account-payment-component-deallocate kwargs.oid kwargs.cid kwargs.sdid kwargs.alocid %}">
		{% csrf_token %}

		<p>{{ instance.amount|decsplay }}</p>
		Are you sure?

		{% for bli,nky in data.items %}
			<input type="hidden" name="{{ bli|escape }}" value="{{ nky|escape }}" />
		{% endfor %}

	</form>
</div>



