{% extends 'layouts/member-base-full.html' %}

{% load decshift %}
{% load sourcedoc %}


{% block tpl_si_org %}{{ extra.get_org.trading_name }}{% endblock %}
{% block tpl_si_client %}{{ extra.trading_name }}{% endblock %}
{% block tpl_si_section %}Account{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ extra.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ extra.get_single_url }}">{{ extra.trading_name }}</a>&gt;
	<a href="{{ extra.get_account_single_url }}">Account</a>&gt;
{% endblock %}


{% block page_functions %}
{% include 'menus/org/client_top.html' with instance=extra %}
{% endblock %}

{% block subsection_functions %}
{% include 'menus/org/account_sub.html' with instance=extra.get_account %}
{% endblock %}

{% block dblsubsection_functions %}
{% include 'menus/org/account_transactions_sub.html' with instance=extra.get_account %}
{% endblock %}




{% block filter_functions %}
{% include 'menus/org/invoice_filter.html' with instance=extra.get_account %}
{% endblock %}

{% block tpl_bl_onready %}

	$('#invoice_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});

{% endblock %}


{% block content %}


<table
	id="invoice_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Ref</th>
		<th>Invoice Date</th>
		<th>Due Date</th>
		<th>Amount</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	{% get_document_obj obj as doc %}
	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.refnum }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ doc.getSpecs.getInvoiceDate|date:"d M Y" }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ doc.getSpecs.getDueDate|date:"d M Y" }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ doc.getTotals.getTotal|decsplay }}</a></td>
	</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}


