{% extends 'layouts/org/member.html' %}

{% load decshift %}


{% block str_org_name %}{{ extra.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ extra.trading_name }}{% endblock %}
{% block str_section_name %}Invoices{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ extra.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ extra.get_single_url }}">{{ extra.trading_name }}</a>&gt;
	<a href="{{ extra.get_invoice_list_url }}">Invoices</a>&gt;
{% endblock %}


{% block page_functions %}
{% include 'page_functions/org/client_level.html' with instance=extra %}
{% endblock %}

{% block head_includes %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/smk.js"></script>
{% endblock %}




{% block onready %}

	$( "#invoice-create" ).click(function() {

		invoice_list_url = '/org/{0}/client/{1}/invoices?format=json'.format( {{ extra.get_org.refnum }}, {{ extra.refnum }} );

		$.post( invoice_list_url, function( data ) {
				window.location.replace( data[ 'url' ] );
			}
		);
	});

	$('#invoice_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});

{% endblock %}


{% block content_menu_right %}
<ul>
	<li><a href="#" id="invoice-create">New Invoice</a></li>
</ul>
{% endblock %}

{% block content %}

<table
	id="invoice_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Ref</th>
		<th>Client</th>
		<th>Invoice Date</th>
		<th>Due Date</th>
		<th>Amount</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.refnum }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.client.trading_name }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.invoice_date }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.due_date }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.total|decshift|floatformat:2 }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


