{% extends 'layouts/org/member.html' %}

{% load decshift %}


{% block str_org_name %}{{ extra.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ extra.trading_name }}{% endblock %}
{% block str_section_name %}Invoice {{ extra.refnum }}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ extra.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ extra.get_single_url }}">{{ extra.trading_name }}</a>&gt;
	<a href="{{ extra.get_payment_list_url }}">Invoices</a>&gt;
{% endblock %}


{% block page_functions %}
{% include 'menus/org/invoice_top.html' with instance=instance %}
{% endblock  %}


{% block onready %}

	$('#payment_list_table').dataTable( {
		"iDisplayLength" : 25,
		"bFilter" : false,
		"bSort" : false,
		"sPaginationType" : "full_numbers",
		"aaSortingFixed" : [[ 0, "asc" ]],
		"sDom" : 't<"bottom"ip><"clear">'
	});

{% endblock %}


{% block content %}

<div class="subsection-links">
	<a href="{{ extra.get_single_url }}">&lt;&lt; Back to Invoice</a>
</div>

<div class="minor-page-title">
Allocated Payments
</div>

<table
	id="payment_list_table"
	style=' text-align: left; '
	>
<thead>
	<tr>
		<th>Ref</th>
		<th>Payment Date</th>
		<th>Payment Amount</th>
		<th>Allocated Amount</th>
	</tr>
</thead>
<tbody>
{% for obj in object_list %}

	<tr>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.payment.refnum }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.payment.payment_date }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.payment.amount|decsplay }}</a></td>
		<td><a href='{{ obj.get_single_url }}'>{{ obj.amount|decsplay }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


