{% extends 'pages/org/invoice/single-final.get.html' %}

{% load decshift %}

{% block onready %}
	$(".invoice").jInvoice( 
		"invoicify",
		{
			'delete-icon' : '{{ STATIC_URL }}images/icons/line_delete_grey.png',
			'editable' : true
		}
	);
{% endblock %}


{% block document_payment_status %}{% endblock %}

{% block document_tax_row %}
	<div style="float: right;">
		<label for="name">Amounts are</label>
		<select name="default_tax" id="id_default_tax">
			<option value="No Tax">No Tax</option>
			<option value="Tax Inclusive" SELECTED="1">Tax Inclusive</option>
			<option value="Tax Exclusive">Tax Exclusive</option>
			<option value="Tax Exempt">Tax Exempt</option>
		</select>
	</div>
	<div style="clear: both;">&nbsp;</div>
{% endblock %}


{% block document_body %}

	<div class="item-list">
		<table>
			<thead>
				<tr>
					<th class="head-description">Description</th>
					<th class="head-qty">Qty</th>
					<th class="head-unit-price">Unit Price</th>
					<th class="head-tax-rate">Tax Rate</th>
					<th class="head-amount">Amount</th>
					<th class="head-delete">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for li in instance.invoiceline_set.all %}
					<tr>
						<td class="item-description"><span>{{ li.description }}</span><input type="hidden" name="description" value="{{ li.description }}" /></td>
						<td class="item-qty"><span>{{ li.units|decsplay }}</span><input type="hidden" name="units" value="{{ li.units|decshow }}" /></td>
						<td class="item-unit-price"><span>{{ li.perunit|decsplay }}</span><input type="hidden" name="perunit" value="{{ li.perunit|decshow }}" /></td>
						<td class="item-tax-rate"><span>{{ li.get_tax_rate_display }}</span><input type="hidden" name="tax_rate" value="{{ li.get_tax_rate_display }}" /></td>
						<td class="item-amount"><span>{{ li.total|decsplay }}</span><input type="hidden" name="amount" value="{{ li.total|decshow }}" /></td>

						<td class="item-delete"><img class="item-delete-link" src='{{ STATIC_URL }}images/icons/line_delete_grey.png' /></td>
					</tr>
				{% endfor %}

				<tr>
					<td class="item-description"><span>&nbsp;</span><input type="hidden" name="description" value="" /></td>
					<td class="item-qty"><span>&nbsp;</span><input type="hidden" name="units" value="" /></td>
					<td class="item-unit-price"><span>&nbsp;</span><input type="hidden" name="perunit" value="" /></td>
					<td class="item-tax-rate"><span>&nbsp;</span><input type="hidden" name="tax_rate" value="" /></td>
					<td class="item-amount"><span>&nbsp;</span><input type="hidden" name="amount" value="" /></td>
					<td class="item-delete"><img class="item-delete-link" src="{{ STATIC_URL }}images/icons/line_delete_grey.png" /></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="summary-row">

		<div class="add-row-portion">
			<div>
				<button id="id_invoice_add_item_row" type="button">Add a new line</button>
			</div>

			<div>
				<div class="comment-title">
					<span>Comments:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="invoice_comment">{{ instance.comment }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-amount">
				<div class="inner-amount-label">
					Amount
				</div>
				<div class="inner-amount-amount">
					<span id="summary_amount">{{ instance.amount|decsplay }}</span>
					<input type="hidden" id="id_invoice_amount" name="invoice_amount" value="{{ instance.amount|decshow }}" />
				</div>
			</div>

			<div class="inner-tax">
				<div class="inner-tax-label">
					Sales Tax
				</div>
				<div class="inner-tax-amount">
					<span id="summary_tax">{{ instance.tax|decsplay }}</span>
					<input type="hidden" id="id_invoice_tax" name="invoice_tax" value="{{ instance.tax|decshow }}" />
				</div>
			</div>

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ instance.total|decsplay }}</span>
					<input type="hidden" id="id_invoice_total" name="invoice_total" value="{{ instance.total|decshow }}" />
				</div>
			</div>
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>
{% endblock %}


{% block document_button_row_left %}
	<button id="id_button_save" type="button">Save</button>
	<button id="id_button_delete" type="button">Delete</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_approve" type="button">Approve</button>
{% endblock %}


{% block document_addendum %}
{% endblock %}

