{% extends 'layouts/org/member.html' %}

{% load decshift %}

{% block str_org_name %}{{ instance.get_org.trading_name }}{% endblock %}
{% block str_client_name %}{{ instance.get_client.trading_name }}{% endblock %}
{% block str_section_name %}Invoice {{ instance.refnum }}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{{ instance.get_org.get_client_list_url }}">Clients</a>&gt;
	<a href="{{ instance.get_client.get_single_url }}">{{ instance.get_client.trading_name }}</a>&gt;
	<a href="{{ instance.get_client.get_invoice_list_url }}">Invoices</a>&gt;
	<a href="{{ instance.get_single_url }}">{{ instance.refnum }}</a>&gt;
{% endblock %}


{% block page_functions %}
{% include 'page_functions/org/invoice_level.html' with instance=instance %}
{% endblock  %}

{% block head_includes %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/smk.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
{% endblock %}
	

{% block onready %}


	datesettings = {
		dateFormat: 'd M yy',
		onClose: function( theDate ) {
			requested_date = Date.parse( theDate );
			if ( requested_date != null )
				$(this).val( $.datepicker.formatDate( 'd M yy', requested_date ) );
			else
				$(this).val( $.datepicker.formatDate( 'd M yy', Date.today() ) );
		}
	}

	$('#id_invoice_date').datepicker( datesettings );
	$('#id_due_date').datepicker( datesettings );

	apply_edit_hooks = function() {
		$('.invoice .item-list .item-description').one( 'click', { 'name' : 'description' }, start_field_edit );
		$('.invoice .item-list .item-qty').one( 'click', { 'name' : 'units' }, start_numerical_edit );
		$('.invoice .item-list .item-unit-price').one( 'click', { 'name' : 'perunit' }, start_numerical_edit );
		$('.invoice .item-list .item-tax-rate').one( 'click', start_tax_edit );

		$('.invoice .item-list table .item-delete-link').click( function() {
			$(this).parents( "tr" ).remove();
		});
	};


	add_item_line = function()
	{
		$('.invoice .item-list table tbody').append( '	\
				<tr>	\
					<td class="item-description">&nbsp;<input type="hidden" name="description" value="" /></td>	\
					<td class="item-qty">&nbsp;<input type="hidden" name="units" value="" /></td>	\
					<td class="item-unit-price">&nbsp;<input type="hidden" name="perunit" value="" /></td>	\
					<td class="item-tax-rate">&nbsp;<input type="hidden" name="tax_rate" value="" /></td>	\
					<td class="item-amount"><span>&nbsp;</span><input type="hidden" name="amount" value="" /></td>	\
					<td class="item-delete"><img class="item-delete-link" src="{{ STATIC_URL }}images/icons/line_delete_grey.png" /></td>	\
				</tr>	\
			'
		);

		apply_edit_hooks();
	}



	update_totals = function() {

		// Columns:
		//		0 - qty
		//		1 - unit price
		//		2 - tax option
		//		3 - amount
		//		4 - tax
		//		5 - total

		values = [];

		$(".invoice .item-list tbody tr").each( function() {

			my_value = [];

			my_value[0] = $(this).find( ".item-qty input" ).attr( "value" );
			my_value[1] = $(this).find( ".item-unit-price input" ).attr( "value" );
			my_value[2] = $(this).find( ".item-tax-rate input" ).attr( "value" );

			if ( (isNaN( my_value[0] )) || (isNaN( my_value[1])) || ((my_value[2] ==undefined) || (my_value[2].length <= 0)) )
				return;

			my_value[5] = ((new Number( my_value[0] )) * (new Number( my_value[1] )) );

			rate = ( new Number( "0.14" ) );

			if ( my_value[2] == 'Tax Inclusive' )
			{
				my_value[3] = (new Number(my_value[5] / (rate + 1))).toFixed(2);
				my_value[4] = (new Number(my_value[5])) - (new Number(my_value[3]));
			}
			else
			{
				if ( my_value[2] == 'Tax Exclusive' )
				{
					my_value[3] = my_value[5];
					my_value[4] = (new Number(my_value[3] * rate)).toFixed(2);
					my_value[5] = ((new Number(my_value[3])) + (new Number(my_value[4])));
				}
				else
				{
					my_value[3] = my_value[5];
					my_value[4] = 0;
				}
			}
			values.push( my_value );
		});

		total_amount = new Number( 0 );
		total_tax = new Number( 0 );
		total_total = new Number( 0 );

		for ( var i = 0; i < values.length; i++ )
		{
			total_amount += (new Number(values[i][3]));
			total_tax += (new Number(values[i][4]));
			total_total += (new Number(values[i][5]));
		}


		$( "#summary_amount" ).empty().append( total_amount.toFixed(2) );
		$( "#summary_tax" ).empty().append( total_tax.toFixed(2) );
		$( "#summary_total" ).empty().append( total_total.toFixed(2) );

		$( "#id_invoice_amount" ).val( total_amount.toFixed(2) );
		$( "#id_invoice_tax" ).val( total_tax.toFixed(2) );
		$( "#id_invoice_total" ).val( total_total.toFixed(2) );
	}


	end_numerical_edit = function( event ) {
		oldVal = $(this).val();

		if ( (isNaN( oldVal )) || (oldVal < 0) )
		{
			oldVal = event.data[ 'original_value' ];
			if ( isNaN( oldVal ) ) oldVal = 0;
		}

		
		oldVal = (new Number( oldVal )).toFixed(2);

		par = $(this).parent( 'td' );
		par.empty();
		par.append('<span>'+oldVal+'</span><input type="hidden" name="' + event.data[ 'name' ] + '" value="' + oldVal + '" />');

		row = $(par).parent( "tr" );

		qty = $(row).find( ".item-qty input" ).val();
		price = $(row).find( ".item-unit-price input" ).val();

		if ( (isNaN( qty ) || isNaN( price )) == false )
		{
			amount = (new Number(qty * price)).toFixed(2);
			$(row).find( ".item-amount span" ).empty().append( amount );
			$(row).find( ".item-amount input" ).attr( 'value', amount );
		}

		update_totals();

		par.one( 'click', event.data, start_numerical_edit );
	}

	start_numerical_edit = function( event ) {
		oldVal = $(this).find( 'input' ).attr( 'value' );
		$(this).empty();
		$(this).append('<input type="text" name="' + event.data[ 'name' ] + '" value="' + (new Number(oldVal)).toFixed(2) + '" />' );

		event.data[ 'original_value' ] = oldVal; 

		$(this).find( 'input' ).focus();
		$(this).find( 'input' ).focusout(
				event.data,
				end_numerical_edit
			);

		original_td = $(this);
		$(this).find( 'input' ).keydown( event.data, function(event) {
				if ( event.keyCode == '13') {
					event.preventDefault();
					$(this).focusout();
				}
				if ( event.keyCode == '9') {
					event.preventDefault();
					$(this).focusout();
					$(original_td).next( "td" ).click();
				}
				if ( event.keyCode == '27') {
					event.preventDefault();
					$(this).val( oldVal );
					$(this).focusout();
				}
			});
	}



	end_field_edit = function( event ) {
		oldVal = $(this).val();
		par = $(this).parent( 'td' );
		par.empty();
		par.append('<span>'+oldVal+'</span><input type="hidden" name="' + event.data[ 'name' ] + '" value="' + oldVal + '" />');
		par.one( 'click', event.data, start_field_edit );
	}

	start_field_edit = function( event ) {
		oldVal = $(this).find( 'input' ).attr( 'value' );
		$(this).empty();
		$(this).append('<input type="text" name="'+event.data['name'] + '" value="' + oldVal + '" />' );
		original_td = $(this);

		$(this).find( 'input' ).focus().focusout( event.data, end_field_edit ).keydown( event.data,  function(event) {
				if ( event.keyCode == '13') {
					event.preventDefault();
					$(this).focusout();
				}
				if ( event.keyCode == '9') {
					event.preventDefault();
					$(this).focusout();
					$(original_td).next( "td" ).click();
				}
				if ( event.keyCode == '27') {
					event.preventDefault();
					$(this).val( oldVal );
					$(this).focusout();
				}
			});
	}


	end_tax_edit = function( event ) {
		oldVal = $(this).val();
		par = $(this).parent( 'td' );
		par.empty();
		par.append('<span>'+oldVal+'</span><input type="hidden" name="tax_rate" value="' + oldVal + '" />');

		update_totals();

		par.one( 'click', start_tax_edit );
	}

	start_tax_edit = function( event ) {
		oldVal = $(this).find( 'input' ).attr( 'value' );

		if ( (oldVal == undefined) || (oldVal.length <= 0) )
		{
			oldVal = $("#id_default_tax").val();
		}

		$(this).empty();

		tax_brackets = [
			'No Tax',
			'Tax Inclusive',
			'Tax Exclusive',
			'Tax Exempt'
		];

		replacement = '<select name="tax_rate">';
		for ( var rate in tax_brackets )
		{
			level = tax_brackets[ rate ];

			replacement += '<option value="{0}" {1}>{0}</option>'.format( level, ((level==oldVal)?"SELECTED=\"1\" ":"") );
		}
		replacement += '</select>';

		$(this).append( replacement );

		original_td = $(this);

		$(this).find( 'select' ).focus().focusout( end_tax_edit ).change( end_tax_edit ).keydown( function(event) {

				if ( event.keyCode == '13') {
					event.preventDefault();
					$(this).focusout();
				}

				if ( event.keyCode == '9') {
					event.preventDefault();
					$(this).focusout();
					doug = $(original_td).parent("tr").next("tr");

					if ( doug.length == 0)
					{
						add_item_line();
						doug = $(original_td).parent("tr").next("tr");
					}
					
					$(doug).find(".item-description").first().click();
				}

				if ( event.keyCode == '27') {
					event.preventDefault();
					$(this).val( oldVal );
					$(this).focusout();
				}

			});

	}

	apply_edit_hooks();

	invoice_submit = function( event ) {
		$("#id_invoice_state").val( event.data[ 'new_state' ] );
		$("#id_invoice_form").submit();
	}


	$('#id_invoice_add_item_row').click( add_item_line );

	$("#id_button_save").click( { 'new_state' : 0 }, invoice_submit );
	$("#id_button_delete").click( { 'new_state' : 99 }, invoice_submit );
	$("#id_button_approve").click( { 'new_state' : 5 }, invoice_submit );
	$("#id_button_void").click( { 'new_state' : 10 }, invoice_submit );


{% endblock %}



{% block content %}

<style>

.invoice
{
	margin: 10px 10px;
	background-color: #f2f2f2;
	border: 1px solid #a2a2a2;
	box-shadow: 1px 1px 2px #cccccc;
}

.invoice .invoice-header
{
	border-bottom: 1px solid #e2e2e2;
	padding: 0px 0px 20px 0px;
	margin: 15px 15px;
}

.invoice .invoice-header input
{
	padding-left: 5px;
}



.invoice .tax-row
{
	padding: 0px 15px;
}

.invoice .item-list
{
	padding: 0px 15px;
}

.invoice .item-list table
{
	width: 100%;
}

.invoice .item-list thead tr
{
	border-bottom: 1px solid #707070;
}

.invoice .item-list thead th
{
	text-align: left;
	padding: 5px 5px;
	background-color: #ffffff;
}

.invoice .item-list thead .head-description { width: 235px; }
.invoice .item-list thead .head-qty { width: 123px; }
.invoice .item-list thead .head-unit-price { width: 147px; }
.invoice .item-list thead .head-tax-rate { width: 195px; }
.invoice .item-list thead .head-amount { width: 158px; }
.invoice .item-list thead .head-delete { width: 20px; }


.invoice .item-list tbody tr
{
	border-left: 1px solid #d8d8d8;
}

.invoice .item-list tbody td
{
	text-align: left;
	padding: 5px 5px;
	background-color: #ffffff;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}

.invoice .item-list tbody input
{
	border: 0px;
	background-color: #f0f0f0;
	width: 100%;
}



.invoice .item-list tbody td.item-qty
{
	text-align: right;
	padding-right: 8px;
}

.invoice .item-list tbody td.item-qty input
{
	text-align: right;
}

.invoice .item-list tbody td.item-unit-price
{
	text-align: right;
	padding-right: 8px;
}

.invoice .item-list tbody td.item-unit-price input
{
	text-align: right;
}

.invoice .item-list tbody td.item-tax-rate select
{
	width: 100%;
}



.invoice .item-list tbody td.item-amount
{
	text-align: right;
	padding-right: 8px;
}




.invoice .item-list tbody td.item-delete
{
	background-color: inherit;
}


.invoice .summary-row
{
	margin: 20px 20px;
}


.invoice .summary-row .add-row-portion
{
	float: left;
	max-width: 440px;
}

.invoice .summary-row .add-row-portion .comment-title
{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1em;
	color: #525252;
}

.invoice .summary-row .add-row-portion .comment-block
{
}

.invoice .summary-row .add-row-portion .comment-block textarea
{
	width: 430px;
	height: 60px;
	border: 1px solid #e2e2e2;
	resize: none;
}

.invoice .summary-row .summary-portion
{
	float: right;
	width: 350px;
	padding: 0px 30px;
}

.invoice .summary-row .summary-portion .inner-amount
{
	border-bottom: 1px solid black;
	height: 30px;
	padding: 5px;
}

.invoice .summary-row .summary-portion .inner-amount .inner-amount-label
{
	float: left;
	width: 130px;
}

.invoice .summary-row .summary-portion .inner-amount .inner-amount-amount
{
	float: right;
	width: 200px;
	text-align: right;
}


.invoice .summary-row .summary-portion .inner-tax
{
	border-bottom: 1px solid black;
	height: 30px;
	padding: 5px;
	margin-top: 10px;
}

.invoice .summary-row .summary-portion .inner-tax .inner-tax-label
{
	float: left;
	width: 130px;
}

.invoice .summary-row .summary-portion .inner-tax .inner-tax-amount
{
	float: right;
	width: 200px;
	text-align: right;
}

.invoice .summary-row .summary-portion .inner-total
{
	height: 30px;
	padding: 5px;
	margin-top: 10px;
	font-size: 1.3em;
}

.invoice .summary-row .summary-portion .inner-total .inner-total-label
{
	float: left;
	width: 130px;
}

.invoice .summary-row .summary-portion .inner-total .inner-total-amount
{
	float: right;
	width: 200px;
	text-align: right;
}


	

.invoice .button-row
{
	background-color: #a2a2a8;
	padding: 10px;
}

.invoice .button-row .button-row-left
{
	float: left;
}

.invoice .button-row .button-row-right
{
	float: right;
}


</style>

<div class="invoice">

	<form method="POST" id="id_invoice_form">

	<div class="invoice-header">
		{% csrf_token %}
		<fieldset>

			<label for="name">Invoice Date</label>
			<input type="text" name="invoice_date" id="id_invoice_date" class="text ui-widget-content ui-corner-all" value="{{ instance.invoice_date|date:"j M Y" }}" />

			<label for="name">Due Date</label>
			<input type="text" name="due_date" id="id_due_date" class="text ui-widget-content ui-corner-all" value="{{ instance.due_date|date:"j M Y" }}" />

		</fieldset>
	</div>

	<div class="tax-row">
		<div style="float: right;">
			<label for="name">Amounts are</label>
			<select name="default_tax" id="id_default_tax">
				<option value="No Tax">No Tax</option>
				<option value="Tax Inclusive" SELECTED="1">Tax Inclusive</option>
				<option value="Tax Exclusive">Tax Exclusive</option>
				<option value="Tax Exempt">Tax Exempt</option>
			</select>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

	<div class="item-list">
		<table>
			<thead>
				<tr>
					<th class="head-description">Description</th>
					<th class="head-qty">Qty</th>
					<th class="head-unit-price">Unit Price</th>
					<th class="head-tax-rate">Tax Rate</th>
					<th class="head-amount">Amount</th>
					<th class="head-delete">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for li in instance.invoiceline_set.all %}
					<tr>
						<td class="item-description"><span>{{ li.description }}</span><input type="hidden" name="description" value="{{ li.description }}" /></td>
						<td class="item-qty"><span>{{ li.units|decshift|floatformat:2 }}</span><input type="hidden" name="units" value="{{ li.units|decshift|floatformat:2 }}" /></td>
						<td class="item-unit-price"><span>{{ li.perunit|decshift|floatformat:2 }}</span><input type="hidden" name="perunit" value="{{ li.perunit|decshift|floatformat:2 }}" /></td>
						<td class="item-tax-rate"><span>{{ li.get_tax_rate_display }}</span><input type="hidden" name="tax_rate" value="{{ li.get_tax_rate_display }}" /></td>
						<td class="item-amount"><span>{{ li.total|decshift|floatformat:2 }}</span><input type="hidden" name="amount" value="{{ li.total|decshift|floatformat:2 }}" /></td>
						<td class="item-delete"><img class="item-delete-link" src='{{ STATIC_URL }}images/icons/line_delete_grey.png' /></td>
					</tr>
				{% endfor %}

				{% if instance.state == 0 %}
				<tr>
					<td class="item-description"><span>&nbsp;</span><input type="hidden" name="description" value="" /></td>
					<td class="item-qty"><span>&nbsp;</span><input type="hidden" name="units" value="" /></td>
					<td class="item-unit-price"><span>&nbsp;</span><input type="hidden" name="perunit" value="" /></td>
					<td class="item-tax-rate"><span>&nbsp;</span><input type="hidden" name="tax_rate" value="" /></td>
					<td class="item-amount"><span>&nbsp;</span><input type="hidden" name="amount" value="" /></td>
					<td class="item-delete"><img class="item-delete-link" src="{{ STATIC_URL }}images/icons/line_delete_grey.png" /></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>

	<div class="summary-row">

		<div class="add-row-portion">
			<div>
				<button id="id_invoice_add_item_row" type="button">Add a new line</button>
			</div>

			<div>
				<div class="comment-title">
					<span>Comments:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="invoice_comment">{{ instance.comment }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-amount">
				<div class="inner-amount-label">
					Amount
				</div>
				<div class="inner-amount-amount">
					<span id="summary_amount">{{ instance.amount|decshift|floatformat:2 }}</span>
					<input type="hidden" id="id_invoice_amount" name="invoice_amount" value="{{ instance.amount|decshift|floatformat:2 }}" />
				</div>
			</div>

			<div class="inner-tax">
				<div class="inner-tax-label">
					Sales Tax
				</div>
				<div class="inner-tax-amount">
					<span id="summary_tax">{{ instance.tax|decshift|floatformat:2 }}</span>
					<input type="hidden" id="id_invoice_tax" name="invoice_tax" value="{{ instance.tax|decshift|floatformat:2 }}" />
				</div>
			</div>

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ instance.total|decshift|floatformat:2 }}</span>
					<input type="hidden" id="id_invoice_total" name="invoice_total" value="{{ instance.total|decshift|floatformat:2 }}" />
				</div>
			</div>
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>

	<div class="button-row">
		<div class="button-row-left">
			<button id="id_button_save" type="button">Save as Draft</button>
			<button id="id_button_delete" type="button">Delete</button>
		</div>

		<div class="button-row-right">
			<button id="id_button_approve" type="button">Approve</button>
			<button id="id_button_void" type="button">Void</button>
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>

	<input type="hidden" id="id_invoice_state" name="invoice_state" value="{{ instance.state }}" />
	</form>

</div>


{% endblock %}



