{% extends 'pages/org/invoice/single-final.get.html' %}

{% block onready %}
	$(".invoice").jInvoice( 
		"invoicify",
		{
			'delete-icon' : '{{ STATIC_URL }}images/icons/line_delete_grey.png',
			'editable' : false
		}
	);


{% endblock %}


{% block document_payment_status %}{% endblock %}


{% block document_button_row_left %}{% endblock %}

{% block document_button_row_right %}
		<button id="id_button_save" type="button">Save</button>
{% endblock %}


{% block document_addendum %}{% endblock %}


