{% extends 'pages/org/invoice/single.get.html' %}

{% load decshift %}
{% load sourcedoc %}


{% block head_includes %}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-itemized-total.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/common/member-afes-itol.css" media="screen" />

	<script type="text/javascript" src="{{ STATIC_URL }}js/smk.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/validations.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/afes.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/afes-table.js"></script>

	<style>
#id_table tbody .afes-table-body-cell-type-currency { text-align: right; }
#id_table thead .head-description { width: 235px; }
#id_table thead .head-qty { width: 103px; }
#id_table thead .head-unit-price { width: 147px; }
#id_table thead .head-tax-rate { width: 165px; }
#id_table thead .head-tax-amount { width: 90px; }
#id_table thead .head-amount { width: 138px; }
	</style>

{% endblock %}

{% block onready %}

	afes.ex.table.init(
		$( "#id_table" ),
		{
			initial_rows : 0,
			columns : [
				{ editable : false, class: "description" },
				{ editable : false, class: "qty" },
				{ editable : false, class: "unit-price" },
				{ editable : false, class: "tax-rate" },
				{ editable : false, class: "tax-amount" },
				{ editable : false, class: "amount" }
			]
		}
	);


	{% get_document_obj instance as doc %}

	{% for li in doc.getLines.all %}
		afes.ex.table.appendRow(
			"#id_table",
			[
				"{{ li.description|escapejs }}",
				"{{ li.units|decsplay }}",
				"{{ li.perunit|decsplay }}",
				"{{ li.get_tax_rate_display|escapejs }}",
				"{{ li.tax_amount|decsplay }}",
				"{{ li.total|decsplay }}"
			]
		);
	{% endfor %}


	$( "#id_button_save" ).click( function() {
		$( "#id_invoice_form" ).submit();
	});


	$( "#id_button_void" ).click( function() {
		$( "#id_invoice_state" ).val( 20 );
		$( "#id_invoice_form" ).submit();
	});


	$( ".item-delete-link" ).click( function() {

		var mylist = $(this).parents("td").first().find("input").val();

		alert( mylist );

		var alles = mylist.split(',');

		alert( alles );

		$(document).smkTools(
			'load_modal',
			'item-delete-link',
			OOD.URL.Component(
				OOD.URL.PaymentAllocation( {{ kwargs.oid }}, {{ kwargs.cid }}, alles[0], alles[1] )
			)
		);
	});



{% endblock %}


{% block document_type %}TAX INVOICE{% endblock %}
{% block document_status %}
{% include 'pages/org/invoice/status-label.html' with instance=instance %}
{% endblock %}


{% block document_dates %}

{% get_document_obj instance as doc %}

<fieldset>
	<label for="name">Invoice Date</label>
	<input type="text" name="invoice_date" id="id_itol_date" class="text ui-widget-content ui-corner-all" value="{{ doc.getSpecs.getInvoiceDate|date:"j M Y" }}" />
	<label for="name">Due Date</label>
	<input type="text" name="due_date" id="id_due_date" class="text ui-widget-content ui-corner-all" value="{{ doc.getSpecs.getDueDate|date:"j M Y" }}" />
</fieldset>
{% endblock %}


{% block document_payment_status %}
{% include 'pages/org/invoice/paid-label.html' with instance=instance %}
{% endblock %}

{% block document_body %}

{% get_document_obj instance as doc %}


<div class="item-list">
<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-qty">Qty</th>
	<th class="head-unit-price">Unit Price</th>
	<th class="head-tax-rate">Tax Rate</th>
	<th class="head-tax-amount">Tax Amount</th>
	<th class="head-amount">Amount</th>
</thead>
<tbody>
</tbody>
</table>
</div>


	<div class="summary-row">

		<div class="add-row-portion">
			<div>
				<div class="comment-title">
					<span>Comments:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="invoice_comment">{{ doc.getSpecs.getComment|escape }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-amount">
				<div class="inner-amount-label">
					Amount
				</div>
				<div class="inner-amount-amount">
					<span id="summary_amount">{{ doc.getTotals.getAmount|decsplay }}</span>
				</div>
			</div>

			<div class="inner-tax">
				<div class="inner-tax-label">
					Sales Tax
				</div>
				<div class="inner-tax-amount">
					<span id="summary_tax">{{ doc.getTotals.getTax|decsplay }}</span>
				</div>
			</div>

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ doc.getTotals.getTotal|decsplay }}</span>
				</div>
			</div>


			<div class="inner-paid">
				<div class="inner-paid-label">
					Paid
				</div>
				<div class="inner-paid-amount">
					<span id="summary_paid">{{ doc.getTotals.getAllocated|decsplay }}</span>
				</div>
			</div>


			<div class="inner-outstanding">
				<div class="inner-outstanding-label">
					Outstanding
				</div>
				<div class="inner-outstanding-amount">
					<span id="summary_outstanding">{{ doc.getTotals.getUnallocated|decsplay }}</span>
				</div>
			</div>

		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>



{% if doc.getTotals.getAllocated > 0 %}

<div style="
	border-top: 1px solid #c0c0c0;
	font-size: 2em;
	padding: 20px 0px 0px 20px;
	margin: 20px 0px;
	">
Allocations
</div>

<div class="item-list" style="
	margin-bottom: 20px;
	">
<table id="id_table">
<thead>
	<th class="head-description">Description</th>
	<th class="head-amount">Amount</th>
	<th class="head-delete">Delete</th>
</thead>
<tbody>
{% for sda in doc.getAllocations.all %}
	<tr>
		<td><a href="{{ sda.source.get_single_url }}">{{ sda.source.get_document_type_display }} {{ sda.source.refnum }}</a></td>
		<td><a href="{{ sda.source.get_single_url }}">{{ sda.amount|decsplay }}</a></td>
		<td><img class="item-delete-link" src='{{ STATIC_URL }}images/icons/line_delete_grey.png' /><input type="hidden" name="sub_allocation" value="{{ sda.source.refnum }},{{ sda.id }}" /></td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endif %}




{% endblock %}


{% block document_button_row_left %}
	<button id="id_button_void" type="button">Void</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_save" type="button">Save</button>
{% endblock %}



