{% extends 'blocks/org/itemized_total.html' %}

{% load decshift %}

{% block onready %}
	$(".itol").jInvoice( 
		"invoicify",
		{
			'delete-icon' : '{{ STATIC_URL }}images/icons/line_delete_grey.png',
			'editable' : false
		}
	);

	$( '#payment-allocate' ).smkTools(
			'click_modal',
			OOD.URL.Component(
				OOD.URL.Invoice( {{ kwargs.oid }}, {{ kwargs.cid }}, {{ kwargs.iid }} ),
				'allocate-payment'
			)
		);


	$( '.deallocate-payment' ).click( function() {

		allocref = $(this).attr( "value" );

		$(document).smkTools(
			'load_modal',
			'deallocate-payment',
			OOD.URL.Component(
				OOD.URL.Invoice( {{ kwargs.oid }}, {{ kwargs.cid }}, {{ kwargs.iid }} ),
				'deallocate-payment'
			)
			+ '&payid=' + allocref
		);
	});
{% endblock %}


{% block document_type %}TAX INVOICE{% endblock %}
{% block document_status %}
{% include 'pages/org/invoice/status-label.html' with instance=instance %}
{% endblock %}

{% block document_dates %}
<fieldset>
	<label for="name">Invoice Date</label>
	<input type="text" name="invoice_date" id="id_itol_date" class="text ui-widget-content ui-corner-all" value="{{ instance.invoice_date|date:"j M Y" }}" />
	<label for="name">Due Date</label>
	<input type="text" name="due_date" id="id_due_date" class="text ui-widget-content ui-corner-all" value="{{ instance.due_date|date:"j M Y" }}" />
</fieldset>
{% endblock %}

{% block document_payment_status %}
{% include 'pages/org/invoice/paid-label.html' with instance=instance %}
{% endblock %}


{% block document_body %}

	<div class="item-list">
		<table>
			<thead>
				<tr>
					<th class="head-description">Description</th>
					<th class="head-qty">Qty</th>
					<th class="head-unit-price">Unit Price</th>
					<th class="head-tax-rate">Tax Rate</th>
					<th class="head-amount">Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for li in instance.invoiceline_set.all %}
					<tr>
						<td class="item-description"><span>{{ li.description }}</span><input type="hidden" name="description" value="{{ li.description }}" /></td>
						<td class="item-qty"><span>{{ li.units|decsplay }}</span><input type="hidden" name="units" value="{{ li.units|decshow }}" /></td>
						<td class="item-unit-price"><span>{{ li.perunit|decsplay }}</span><input type="hidden" name="perunit" value="{{ li.perunit|decshow }}" /></td>
						<td class="item-tax-rate"><span>{{ li.get_tax_rate_display }}</span><input type="hidden" name="tax_rate" value="{{ li.get_tax_rate_display }}" /></td>
						<td class="item-amount"><span>{{ li.total|decsplay }}</span><input type="hidden" name="amount" value="{{ li.total|decshow }}" /></td>

						
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

	<div class="summary-row">

		<div class="add-row-portion">
			<div>
			</div>

			<div>
				<div class="comment-title">
					<span>Comments:</span>
				</div>
				<div class="comment-block">
					<textarea maxlength="255" name="invoice_comment">{{ instance.comment }}</textarea>
				</div>
			</div>
		</div>

		<div class="summary-portion">

			<div class="inner-amount">
				<div class="inner-amount-label">
					Amount
				</div>
				<div class="inner-amount-amount">
					<span id="summary_amount">{{ instance.amount|decsplay }}</span>
					<input type="hidden" id="id_itol_amount" name="invoice_amount" value="{{ instance.amount|decshow }}" />
				</div>
			</div>

			<div class="inner-tax">
				<div class="inner-tax-label">
					Sales Tax
				</div>
				<div class="inner-tax-amount">
					<span id="summary_tax">{{ instance.tax|decsplay }}</span>
					<input type="hidden" id="id_itol_tax" name="invoice_tax" value="{{ instance.tax|decshow }}" />
				</div>
			</div>

			<div class="inner-total">
				<div class="inner-total-label">
					Total
				</div>
				<div class="inner-total-amount">
					<span id="summary_total">{{ instance.total|decsplay }}</span>
					<input type="hidden" id="id_itol_total" name="invoice_total" value="{{ instance.total|decshow }}" />
				</div>
			</div>

			<div class="inner-paid">
				<div class="inner-paid-label">
					Paid
				</div>
				<div class="inner-paid-amount">
					<span id="summary_paid">{{ instance.get_amount_paid|decsplay }}</span>
				</div>
			</div>


			<div class="inner-outstanding">
				<div class="inner-outstanding-label">
					Outstanding
				</div>
				<div class="inner-outstanding-amount">
					<span id="summary_outstanding">{{ instance.get_amount_outstanding|decsplay }}</span>
				</div>
			</div>

		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>
{% endblock %}


{% block document_button_row_left %}
	<button id="id_button_save" type="button">Save</button>
{% endblock %}

{% block document_button_row_right %}
	<button id="id_button_void" type="button">Void</button>
{% endblock %}


{% block document_addendum %}

{% if not instance.is_paid %}
<div style="
	">
	<button id="payment-allocate" type="button">Allocate a Payment</button>
</div>
{% endif %}

<div>
	<table class="itol-payment-table">
		<tbody>
		{% for pmt in instance.paymentallocation_set.all %}
			<tr>
				<td>Payment allocated:</td>
				<td>{{ pmt.refnum }}</td>
				<td>{{ pmt.amount|decsplay }}</td>
				<td>{{ pmt.payment.payment_date|date:"j M Y" }}</td>
				<td><input class="deallocate-payment" type="image" src='{{ STATIC_URL }}images/icons/line_delete_grey.png' value="{{ pmt.id }}"/></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}



