{% extends 'singlebase.html' %}

{% block title %}View Reservation{% endblock %}

{% block orgname %}{{ instance.account.client.organization.trading_name }}{% endblock %}

{% block links %}
{% endblock %}

{% block kvp %}

<tr>
	<td>Event Time:</td>
	<td>{{ instance.event_time }}</td>
</tr>

<tr>
	<td>Expiry Time:</td>
	<td>{{ instance.expiry_time }}</td>
</tr>

<tr>
	<td>Expiry Action:</td>
	<td>{{ instance.expiry_action }}</td>
</tr>


<tr>
	<td>Group</td>
	<td>{{ instance.group }}</td>
</tr>

<tr>
	<td>Description:</td>
	<td>{{ instance.description }}</td>
</tr>

<tr>
	<td>Uuid:</td>
	<td>{{ instance.uuid }}</td>
</tr>

<tr>
	<td>Amount:</td>
	<td>{{ instance.amount }}</td>
</tr>

<tr>
	<td>Is Grouped:</td>
	<td>{{ instance.is_grouped }}</td>
</tr>

<tr>
	<td>Data:</td>
	<td>{{ instance.reservationdata.data }}</td>
</tr>


{% endblock %}
